<div class="content">
  <div class="card border-0 bg-f1">
    <div class="card-header bg-primary d-flex">
      <label class="text-white md-text mt-1 mb-0 pr-2">Attach - Batch Stock Details</label>
      <label class="text-white md-text mt-1 mb-0 pr-2" *ngIf="config.data">[Balance to Attach - {{config.data.plannedPcs - config.data.attached}}]</label>
      <label class="text-white md-text mt-1 mb-0">[Total Selected Pcs - {{totalCalPcs}}]</label>
      <div class="ml-auto" >
        <div class="p-input-icon-right mr-2">
          <i class="fa fa-search"></i>
          <input pInputText type="text" placeholder="Search keyword" (input)="filterTable($event)" />
        </div>
      </div>
    </div>
    <div class="card-body p-0">
      <div class="row">
        <div class="col-12">
            <lib-jsw-core [componentType]='viewType.dynamicTable' [columns]='columns' [tableData]='stockList'
            [styleClass]="tableType" (getRow)="getSelectedRecord($event)" [showGlobalFilter]="false" [globalFilterArray]="globalFilterArray"
            (numericValidationEvent)="validateData($event)" (ptableEvent)="getTableRef($event)"></lib-jsw-core>
        </div>
      </div>
      <div class="row" *ngIf="isSaveBtn">
        <div class="col-12">
            <div class="float-right">
                <button type="button" class="btn btn-sm btn-primary mt-3" (click)="batchAttach()">Attach & Save</button>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

