<div class="content pt-3 pb-3" #target>
    <!-- <h4 class="font-20 font-weight-bold text-grey mt-1 mb-3 " #target>PO Amend</h4> -->
    <p-accordion *ngIf="isFilterCrtSec">
    <p-accordionTab header="Filter Criteria" class="card-title font-12 text-grey mb-0 bg-f1"
      [selected]="true">
      <div class="card bg-f1 border-0 p-0">
        <div class="card-body pt-0 pb-2">
          <lib-jsw-core [componentType]='viewType.form'  [formData]='filterCriteria' (jswFormEvent)="getFormRef($event)"></lib-jsw-core>
          <h6 class="font-11 font-weight-bold text-grey pt-2">Production Control Status</h6>
          <div class="row">
            <div class="col-12 col-md-6">
              <div class="p-field-checkbox">
                <p-checkbox id='open_1' name="openTest" ngDefaultControl  [binary]="true" inputId="open" [(ngModel)]="productionControlstatus.open"  ></p-checkbox>
                <label class="mr-3 mt-2 font-11 font-weight-bold text-grey " for="open">Open</label>
                <p-checkbox name="holdTest" ngDefaultControl  [(ngModel)]="productionControlstatus.hold" [binary]="true" inputId="hold"></p-checkbox>
                <label class="mr-3 mt-2 font-11 font-weight-bold text-grey  " for="holdRolling">Hold</label>
                <p-checkbox name="rollingTest" ngDefaultControl [(ngModel)]="productionControlstatus.holdRolling" [binary]="true" inputId="holdRolling"></p-checkbox>
                <label class="mr-3 mt-2 font-11 font-weight-bold text-grey" for="binary">Hold Rolling</label>
                <p-checkbox name="closeTest" ngDefaultControl [(ngModel)]="productionControlstatus.close" [binary]="true" inputId="close"></p-checkbox>
                <label class="mr-3 mt-2 font-11 font-weight-bold text-grey" for="close">Close</label>
              </div>
            </div>
            <div class="col-12 col-md-6" *ngIf="isRetrieveBtn || isResetBtn">
              <div class="text-right">
                <button *ngIf="isRetrieveBtn" type="submit" class="btn btn-sm btn-primary mr-3" (click)="retrive()">Retrieve</button>
                <button *ngIf="isResetBtn" type="button" class="btn btn-sm btn-dark" (click)="sharedService.resetForm(filterCriteria,formRef);resetFilter()">Reset</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </p-accordionTab>
  </p-accordion>
    <!-- <div class="card bg-f1 border-0 mb-3" *ngIf="isFilterCrtSec">
        <div class="card-body p-3">
          <h6 class="card-title font-weight-bold text-grey mb-3">Filter Criteria</h6>
          <lib-jsw-core [componentType]='viewType.form'  [formData]='filterCriteria' (jswFormEvent)="getFormRef($event)"></lib-jsw-core>
          <h6 class="font-11 font-weight-bold text-grey">Production Control Status</h6>
          <div class="row">
            <div class="col-12 col-md-6">
              <div class="p-field-checkbox">
                <p-checkbox id='open_1' name="openTest" ngDefaultControl  [binary]="true" inputId="open" [(ngModel)]="productionControlstatus.open"  ></p-checkbox>
                <label class="mr-3 mt-2 font-11 font-weight-bold text-grey " for="open">Open</label>
                <p-checkbox name="holdTest" ngDefaultControl  [(ngModel)]="productionControlstatus.hold" [binary]="true" inputId="hold"></p-checkbox>
                <label class="mr-3 mt-2 font-11 font-weight-bold text-grey  " for="holdRolling">Hold</label>
                <p-checkbox name="rollingTest" ngDefaultControl [(ngModel)]="productionControlstatus.holdRolling" [binary]="true" inputId="holdRolling"></p-checkbox>
                <label class="mr-3 mt-2 font-11 font-weight-bold text-grey" for="binary">Hold Rolling</label>
                <p-checkbox name="closeTest" ngDefaultControl [(ngModel)]="productionControlstatus.close" [binary]="true" inputId="close"></p-checkbox>
                <label class="mr-3 mt-2 font-11 font-weight-bold text-grey" for="close">Close</label>
              </div>
            </div>
            <div class="col-12 col-md-6" *ngIf="isRetrieveBtn || isResetBtn">
              <div class="text-right">
                <button *ngIf="isRetrieveBtn" type="submit" class="btn btn-sm btn-primary mr-3" (click)="retrive()">Retrieve</button>
                <button *ngIf="isResetBtn" type="button" class="btn btn-sm btn-dark" (click)="sharedService.resetForm(filterCriteria,formRef);resetFilter()">Reset</button>
              </div>
            </div>
          </div>
        </div>
      </div> -->

      <div class="card border-0 bg-e57c mt-2" *ngIf="isListSection">
        <div class="card-header bg-primary d-flex">
          <label class="text-white md-text mt-1 mb-0">PO Quantity Details</label>
          <div class="ml-auto" *ngIf="isSaveBtn" >
            <button type="submit" class="btn btn-sm btn-link btn-outline-light text-white p-0 ml-3" (click)="updateSchedule()">
              <i class="fa fa-save ml-1 mr-2" data-toggle="tooltip" data-placement="top"
            title="Save"></i><span class="mr-2">
              Save
            </span></button>
          </div>
        </div>
        <div class="card-body p-0">
          <div class="row">
            <div class="col-12">
              <p-table #dt [columns]="columns" [value]="poAmendList" styleClass="{{tableType}}" [scrollable]="true"
               [style]="{width:'100%'}" scrollHeight="280px" [paginator]="true" [rows]="50" [rowHover]="true" dataKey="productionOrderNo"
              [(selection)]="selectedRecords" [showCurrentPageReport]="true"
               [lazy]="true" (onLazyLoad)="nextPage($event)"  [totalRecords]="totalRecords" >

              <!-- <ng-template pTemplate="caption" *ngIf="isSaveBtn">
                <div class="d-flex p-2">
                  <div class="ml-auto">
                    <button type="submit" class="btn btn-sm btn-primary" (click)="updateSchedule()">Save</button>
                  </div>
                </div>
              </ng-template> -->
              <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                  <col *ngFor="let col of columns" [ngStyle]="{ 'width': col.width }">
                </colgroup>
              </ng-template>
              <ng-template pTemplate="header" let-columns>
                <tr >
                  <th *ngFor="let col of columns"  [ngSwitch]="col.columnType">
                    <ng-container *ngSwitchCase="columnType.checkbox">
                      <!-- <p-tableHeaderCheckbox (click)="getSelectedSchList()" [disabled]="rowData['disabledAll']"></p-tableHeaderCheckbox> -->
                    </ng-container>
                    <ng-container *ngSwitchDefault>
                      {{col.header}}
                      <span *ngIf="col.sortFieldName">
                        <p-sortIcon [field]="col.sortFieldName"></p-sortIcon>
                      </span>
                    </ng-container>
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-columns="columns" let-rowData let-ri="rowIndex">
                <tr class="p-selectable-row"  [pSelectableRow]="rowData">
                    <!-- [ngClass]="(col.columnType == columnType.number) ? 'text-right' : 'text-left'" -->
                    <td *ngFor="let col of columns;let index = index" [ngSwitch]="col.columnType" class="height-max-content pt-0 pb-0">
                      <ng-container *ngSwitchCase="columnType.radio">
                        <input type="radio" name="options" class="w-100" >
                        <!-- <p-radioButton name="radio" value="val1" (onClick)="gerRowOnclick(rowData,'radio')"></p-radioButton>  -->
                      </ng-container>

                      <ng-container *ngSwitchCase="columnType.checkbox">
                        <p-tableCheckbox [value]="rowData" [disabled]="rowData['disabledAll']" ></p-tableCheckbox>
                      </ng-container>

                      <ng-container *ngSwitchCase="columnType.hyperlink">
                        <a  class="hyper-link" >{{rowData[col.field]}}</a>
                      </ng-container>

                      <ng-container *ngSwitchCase="columnType.text">
                        <input type="text" pInputText pKeyFilter="num" [(ngModel)]="rowData[col.field]" class="w-100" (change)='getSMSAmendQty(rowData)'
                         [disabled]="(rowData['disabledLP'] && !rowData['disabledSMS']) || rowData['disabledAll'] || rowData['onlySpecificFileds'] || rowData['poStatus'] == 'working'" >
                         <div *ngIf="rowData['smsAmendQtyError']" class="p-invalid mt-1 font-13">Please Enter a valid  Amend Quantity
                        </div>
                        </ng-container>

                      <ng-container *ngSwitchCase="columnType.textField">
                        <input id="{{ri}}_{{col.field}}" name="{{ri}}_{{col.field}}" pKeyFilter="num"  class="w-100" [(ngModel)]="rowData[col.field]" type="text" [disabled]="(!rowData['disabledLP'] && rowData['disabledSMS']) || rowData['disabledAll'] || rowData['onlySpecificFileds']"
                        pInputText  (change)='getLPAmendQty(rowData)'>
                        <div *ngIf="rowData['lPAmendQtyError']" class="p-invalid mt-1 font-13">Please Enter a valid LP Amend Quantity</div>
                      </ng-container>

                      <ng-container *ngSwitchCase="columnType.dropdown">
                        <p-dropdown class="w-100"  [autoDisplayFirst]="false" [options]="statusList" [(ngModel)]="rowData[col.field]" (onChange)="checkProductionStatus(rowData)"
                        optionLabel="displayName" appendTo="body" optionValue="modelValue" [filter]="true" filterBy="displayName" [showClear]="true"
                        [ngModelOptions]="{standalone: true}" [autoZIndex]="false" [disabled]="rowData['disabledAll']" 
                        placeholder="Select">
                        </p-dropdown>
                      </ng-container>

                      <ng-container *ngSwitchCase="columnType.textWithValidations">
                        <p-inputNumber  class="w-100" [ngModelOptions]="{standalone: true}"  [(ngModel)]="rowData[col.field]"  [required]="col.isRequired"  mode="decimal" inputId="withoutgrouping" [useGrouping]="false">
                        </p-inputNumber>
                        <div *ngIf="rowData[col.field] == null || rowData[col.field] == '' " class="p-invalid mt-1 font-13 float-right">{{col.errorMsg}}</div>
                      </ng-container>

                      <ng-container *ngSwitchCase="columnType.numericValidationField">
                        <p-inputNumber  class="w-100" [ngModelOptions]="{standalone: true}"  [(ngModel)]="rowData[col.field]"  mode="decimal" inputId="validationTextField_{{ri}}"
                        [useGrouping]="false" ></p-inputNumber>
                        <div *ngIf="col.isError && col.rowIndex == ri" class="p-invalid mt-1 font-13 float-right">{{col.errorMsg}}</div>
                      </ng-container>

                      <ng-container *ngSwitchCase="columnType.date">
                        {{ rowData[col.field] | date : "short" }}
                      </ng-container>

                      <ng-container *ngSwitchCase="columnType.action">
                        <!-- <i *ngIf="isEditAction" class="fas fa-pen cursor-pointer mr-2" (click)="editRecords(rowData)"></i>
                        <i *ngIf="isDeleteAction" class="fas fa-trash cursor-pointer" (click)="deleteRecords(rowData)"></i> -->
                        <!-- <i *ngIf="isEditAction" class="material-icons cursor-pointer text-dark md-text" (click)="editRecords(rowData)">edit</i> -->
                        <!-- <i *ngIf="isDeleteAction" class="material-icons cursor-pointer text-dark md-text ml-3" (click)="deleteRecords(rowData)">delete</i> -->
                      </ng-container>
                      <ng-container *ngSwitchDefault>
                          {{rowData[col.field]}}
                          <div *ngIf="col.isError && col.rowIndex == ri" class="p-invalid mt-1 font-13 float-right">{{col.errorMsg}}</div>
                      </ng-container>

                      <ng-container *ngSwitchCase="columnType.ellipsis">
                        <div class="st-ellipsis" title="{{rowData[col.field]}}">
                          {{rowData[col.field]}}
                        </div>
                        
                      </ng-container>
                    </td>
                </tr>
              </ng-template>

              <ng-template pTemplate="emptymessage" let-columns>
                <tr>
                  <td [attr.colspan]="columns.length">
                    No records found
                  </td>
                </tr>
              </ng-template>
            </p-table>
            </div>
          </div>
        </div>
      </div>

    </div>

    <p-dialog header="Negative BTC /BTR values Detected Please Confirm by Selectiing PO ID for continue" [(visible)]="display" [style]="{width: '50vw'}" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false">
    <!-- <ng-template pTemplate="header">
      Negative BTC /BTR values Detected Please Confirm by Selectiing for Continue
  </ng-template> -->
      <div class="col-12">
        <lib-jsw-core [componentType]='viewType.dynamicTable' [columns]='negativePOColums' [tableData]='negativePOlist' [paginator]='false'
          [styleClass]="tableType" (getRow)="getSelectedRecord($event)" [showGlobalFilter]="false" [isClearSelection]="true" [clearSelectionEvent]="clearSelection.asObservable()"></lib-jsw-core>
      </div>

      <ng-template pTemplate="footer">
        <button (click)="closeDialog()" type="button" class="btn btn-sm btn-dark" >NO</button>
        <button *ngIf="isRetrieveBtn" type="submit" class="btn btn-sm btn-primary mr-3" (click)="ContinueWithNegative()" >YES</button>

        </ng-template>

    </p-dialog>




