<div class="content pt-3 pb-3" #target>
    <!-- <h4 class="font-20 font-weight-bold text-grey mt-1 mb-3" #target> Reports </h4> -->
    <p-accordion>
        <p-accordionTab header="Filter Criteria" class="card-title font-12 text-grey mb-0 bg-f1"
          [selected]="true">
          <div class="card bg-f1 border-0 p-0">
            <div class="card-body pt-0 pb-2">
                <lib-jsw-core [componentType]='viewType.form' [formData]='selectReportObject' (changeEvent)='getReport($event)'>
                </lib-jsw-core>
                <div class="row" *ngIf="isFilterSection">
                    
                        <div class="col-12 col-md-7 col-xl-6" *ngIf='getReportName != null'>
                            <lib-jsw-core [componentType]='viewType.form' [formData]='formObject' (changeEvent)='dropDownChangeEvent($event)'>
                            </lib-jsw-core>
                          </div>
                          <div class="col-12 col-md-4 col-xl-4 mt-3" *ngIf='getReportName != null'>
                            <button type="button" *ngIf="isRetrive" class="btn btn-sm btn-primary mr-3" (click)="getFilterReport()">Retrieve</button>
                            <button type="button" *ngIf="isReset" class="btn btn-sm btn-dark" (click)="resetForm()">Reset</button>
                          </div>
                    
                    
                  </div>
                <!-- <lib-jsw-core [componentType]='viewType.form' [formData]='selectReportObject' (changeEvent)='getReport($event)'>
                </lib-jsw-core>
                <div *ngIf="isFilterSection">
                    <span *ngIf='getReportName != null'>
                        <lib-jsw-core [componentType]='viewType.form' [formData]='formObject' (changeEvent)='dropDownChangeEvent($event)'>
                        </lib-jsw-core>
                        <div class="text-right">
                            <button type="button" *ngIf="isRetrive" class="btn btn-sm btn-primary mr-3" (click)="getFilterReport()">Retrieve</button>
                            <button type="button" *ngIf="isReset" class="btn btn-sm btn-dark" (click)="resetForm()">Reset</button>
                        </div>
                    </span>
                </div> -->
            </div>
          </div>
        </p-accordionTab>
      </p-accordion>
    <!-- <div class="card bg-f1 border-0 mb-3">
        <div class="card-body p-3">
            <h6 class="card-title font-weight-bold text-grey mb-3">Filter Criteria</h6>
            <lib-jsw-core [componentType]='viewType.form' [formData]='selectReportObject' (changeEvent)='getReport($event)'>
            </lib-jsw-core>
            <div *ngIf="isFilterSection">
                <span *ngIf='getReportName != null'>
                    <lib-jsw-core [componentType]='viewType.form' [formData]='formObject' (changeEvent)='dropDownChangeEvent($event)'>
                    </lib-jsw-core>
                    <div class="text-right">
                        <button type="button" *ngIf="isRetrive" class="btn btn-sm btn-primary mr-3" (click)="getFilterReport()">Retrieve</button>
                        <button type="button" *ngIf="isReset" class="btn btn-sm btn-dark" (click)="resetForm()">Reset</button>
                    </div>
                </span>
            </div>

        </div>
    </div> -->
 <div *ngIf="isListSection && !isLpSummaryReport">
    <div class="card border-0 bg-e57c mt-3" *ngIf='getReportTableName != null'>
        <div class="card-header bg-primary d-flex">
            <label class="text-white md-text mt-1 mb-0">{{getReportTableName}}</label>
            <div class="ml-auto" *ngIf="reportsRecordList && reportsRecordList.length">
                <button type="submit" class="btn btn-sm btn-link btn-outline-light text-white p-0 ml-3"
                (click)="download('excel')"  name="excel"  *ngIf="isExceldwnld">
                <i class="fas fa-file-excel mr-1 ml-1 mr-2"
                data-toggle="tooltip" data-placement="top" title="Download Excel File"></i>
                <span class="mr-2">
                    Excel
                  </span>
                </button>
              <button type="submit" class="btn btn-sm btn-link btn-outline-light text-white p-0 ml-3"
                (click)="download('pdf')" name="pdf"  *ngIf="isPDfdwnld">
                <i class="fas fa-file-pdf ml-1 mr-2"
                data-toggle="tooltip" data-placement="top" title="Download PDF File"></i>
                <span class="mr-2">
                    PDF
                  </span></button>
            </div>
          </div>
        <!-- <div class="card-header bg-primary">
            <label class="text-white md-text mt-1 mb-0">{{getReportTableName}}</label>
        </div> -->
        <div class="card-body p-0">
            <div class="row">
                <div class="col-12">
                    <!-- <div class="ml-auto " *ngIf="reportsRecordList && reportsRecordList.length">
                      <button type="submit" class="btn btn-sm btn-success mt-2 mb-1 float-right mr-2"
                        (click)="download('excel')"  name="excel"  *ngIf="isExceldwnld">
                        <i class="fas fa-file-excel mr-1 ml-1 mr-2"
                        data-toggle="tooltip" data-placement="top" title="Download Excel File"></i>
                        Excel</button>
                      <button type="submit" class="btn btn-sm btn-danger mt-2 mb-1 float-right mr-2"
                        (click)="download('pdf')" name="pdf"  *ngIf="isPDfdwnld">
                        <i class="fas fa-file-pdf mr-2"
                        data-toggle="tooltip" data-placement="top" title="Download PDF File"></i>PDF</button>
                    </div> -->
                  </div>
                <div class="col-12" *ngIf="!mechTestReportSelected && !shiftWiseProdReprt">
                    <lib-jsw-core [componentType]='viewType.dynamicTable' [columns]='columns' [tableData]='reportsRecordList'
                           [styleClass]="tableType"
                      >
                    </lib-jsw-core>
                </div>
                <!-- <div class="col-12" *ngIf="mechTestReportSelected && !shiftWiseProdReprt">
                    <app-mech-test-report [columns]='columns' [secondColumns]='secondColumns'></app-mech-test-report>
                </div> -->
                <div class="col-12" >
                    <div class="p-grid mt-2" *ngIf='shiftWiseProdReprt'>
                        <div class="p-col">
                            <h6 class="card-title font-weight-bold text-grey mb-3 ml-3">On Date - {{todayDate}}</h6>
                            <div class="col-12" >
                                <lib-jsw-core [paginator]='false' [componentType]='viewType.dynamicTable' [columns]='onDatecolumns' [tableData]='onDateTableData'
                                       [styleClass]="tableType" >
                                </lib-jsw-core>
                            </div>
                        </div>
                        <div class="p-col">
                            <h6 class="card-title font-weight-bold text-grey mb-3 ml-3">Cumulative <span *ngIf="cummulativeDate">- {{cummulativeDate}}</span></h6>
                            <div class="col-12" >
                                <lib-jsw-core [paginator]='false' [componentType]='viewType.dynamicTable' [columns]='onDatecolumns' [tableData]='cummulativeData'
                                       [styleClass]="tableType" >
                                </lib-jsw-core>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>


 <!-- <div class="mt-5" *ngIf="isLpSummaryReport"> -->
<div class="card border-0 bg-e57c" *ngIf="isLpSummaryReport">
    <div class="card-header bg-primary">
        <label class="text-white md-text mt-1 mb-0">{{getReportTableName}}</label>
    </div>

    <div class="card-body p-0">
        <div class="row">
            <div class="col-12">
                <div class="ml-auto">
                  <button type="submit" class="btn btn-sm btn-success mt-2 mb-1 float-right mr-2"
                    (click)="downloadFilesLpsReport('excel')"  name="excel"  *ngIf="isExceldwnld">
                    <i class="fas fa-file-excel mr-1 ml-1 mr-2"
                    data-toggle="tooltip" data-placement="top" title="Download Excel File"></i>
                    Excel</button>
                  <button type="submit" class="btn btn-sm btn-danger mt-2 mb-1 float-right mr-2"
                    (click)="downloadFilesLpsReport('pdf')" name="pdf"  *ngIf="isPDfdwnld">
                    <i class="fas fa-file-pdf mr-2"
                    data-toggle="tooltip" data-placement="top" title="Download PDF File"></i>PDF</button>
                </div>
              </div>
              <div class="col-12" >
                <p-table [columns]="firstRow" [value]="dummyValues" styleClass="{{tableType}}" [scrollable]="true"
                [style]="{width:'100%'}" scrollHeight="500px" [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]">
                <ng-template pTemplate="colgroup" let-columns>
                        <colgroup>
                          <col *ngFor="let col of secRow" [ngStyle]="{ 'width': col.width }">
                        </colgroup>
                    </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns" [pSortableColumn]="col.field" [attr.rowspan]="col.rowSpan" style="    text-align: center;"
                            [attr.colspan]="col.colSpan">
                            {{col.header}}
                            <span *ngIf="col.sortFieldName">
                                <p-sortIcon [field]="col.sortFieldName"></p-sortIcon>
                            </span>
                        </th>
                    </tr>
                    <tr>
                        <th *ngFor="let scol of secRow" [pSortableColumn]="scol.field" [attr.rowspan]="scol.rowSpan"
                        [attr.colspan]="scol.colSpan" [ngStyle]="{ 'width': '50px' }">
                            {{scol.header}}
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-columns="columns" let-rowData>

                    <tr>
                        <td *ngFor="let col of secRow" [ngSwitch]="col.columnType">{{rowData[col.field]}}</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage" let-columns>
                    <tr>
                        <td [attr.colspan]="columns.length">
                            No records found
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            </div>

        </div>
    </div>

</div>
    <div class="card border-0 bg-e57c" class="mt-5" *ngIf="isLpSummaryReport">
</div>

</div>




