<div class="row justify-content-center">
  <div class="col-6 card shadow-sm">
    <div class="p-5">
      <img class="img-fluid" src="assets/images/jsw-steel-logo.png" class="height-60" alt="logo">
      <h4 class="mb-4 mt-4">Reset Password</h4>
      <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
          <div class="form-row">
              <div class="form-group required col-12 mb-3">
                  <label for="username1">New Password</label>
                  <input type="password" name="newPassword" formControlName="newPassword" class="form-control font-nRegular xs-text px-2"/>
                  <div *ngIf="submitted && formFields.newPassword.errors">
                      <span class="text-danger xs-text" *ngIf="formFields.newPassword.errors.required">New Password is required</span>
                  </div>
                  <div *ngIf="resetPasswordForm.controls['newPassword'].value && (resetPasswordForm.controls['newPassword'].hasError('required') || resetPasswordForm.controls['newPassword'].hasError('minlength'))" [ngClass]="resetPasswordForm.controls['newPassword'].hasError('required') || resetPasswordForm.controls['newPassword'].hasError('minlength')  ? 'text-danger' : 'text-success'">
                    <!-- <i class="material-icons bottom-align">{{ resetPasswordForm.controls['newPassword'].hasError('required') ||
                      resetPasswordForm.controls['newPassword'].hasError('minlength') ? 'cancel' :
                      'check_circle' }}</i> -->
                      <i [ngClass]="resetPasswordForm.controls['newPassword'].hasError('required') || resetPasswordForm.controls['newPassword'].hasError('minlength')  ? 'far fa-times-circle' : 'fas fa-check-circle'"></i>
                    Must have at least 8 characters.
                  </div>
                  <div *ngIf="resetPasswordForm.controls['newPassword'].value && (resetPasswordForm.controls['newPassword'].hasError('required') || resetPasswordForm.controls['newPassword'].hasError('hasNumber'))" [ngClass]="resetPasswordForm.controls['newPassword'].hasError('required') || resetPasswordForm.controls['newPassword'].hasError('hasNumber')  ? 'text-danger' : 'text-success'">
                    <!-- <i class="material-icons bottom-align">{{ resetPasswordForm.controls['newPassword'].hasError('required') ||
                      resetPasswordForm.controls['newPassword'].hasError('hasNumber') ? 'cancel' :
                      'check_circle' }}</i> -->
                    <i [ngClass]="resetPasswordForm.controls['newPassword'].hasError('required') || resetPasswordForm.controls['newPassword'].hasError('hasNumber') ? 'far fa-times-circle' : 'fas fa-check-circle'"></i>
                    Must contain at least 1 Numeric Character.
                  </div>
                  <div *ngIf="resetPasswordForm.controls['newPassword'].value && (resetPasswordForm.controls['newPassword'].hasError('required') || resetPasswordForm.controls['newPassword'].hasError('hasCapitalCase'))"
                    [ngClass]="resetPasswordForm.controls['newPassword'].hasError('required') || resetPasswordForm.controls['newPassword'].hasError('hasCapitalCase')  ? 'text-danger' : 'text-success'">
                    <!-- <i class="material-icons bottom-align">{{ resetPasswordForm.controls['newPassword'].hasError('required') ||
                      resetPasswordForm.controls['newPassword'].hasError('hasCapitalCase') ? 'cancel' :
                      'check_circle' }}</i> -->
                      <i [ngClass]="resetPasswordForm.controls['newPassword'].hasError('required') || resetPasswordForm.controls['newPassword'].hasError('hasCapitalCase') ? 'far fa-times-circle' : 'fas fa-check-circle'"></i>
                    Must contain at least 1 Alphabet in Capital Case.
                  </div>
                  <div *ngIf="resetPasswordForm.controls['newPassword'].value && (resetPasswordForm.controls['newPassword'].hasError('required') || resetPasswordForm.controls['newPassword'].hasError('hasSmallCase'))"
                    [ngClass]="resetPasswordForm.controls['newPassword'].hasError('required') || resetPasswordForm.controls['newPassword'].hasError('hasSmallCase')  ? 'text-danger' : 'text-success'">
                    <!-- <i class="material-icons bottom-align">{{resetPasswordForm.controls['newPassword'].hasError('required') ||
                      resetPasswordForm.controls['newPassword'].hasError('hasSmallCase') ? 'cancel' :
                      'check_circle' }}</i> -->
                      <i [ngClass]="resetPasswordForm.controls['newPassword'].hasError('required') || resetPasswordForm.controls['newPassword'].hasError('hasSmallCase') ? 'far fa-times-circle' : 'fas fa-check-circle'"></i>
                    Must contain at least 1 Alphabet in Small Case.
                  </div>
                  <div *ngIf="resetPasswordForm.controls['newPassword'].value && (resetPasswordForm.controls['newPassword'].hasError('required') || resetPasswordForm.controls['newPassword'].hasError('hasSpecialCharacters'))"
                    [ngClass]="resetPasswordForm.controls['newPassword'].hasError('required') || resetPasswordForm.controls['newPassword'].hasError('hasSpecialCharacters') ? 'text-danger' : 'text-success'">
                    <!-- <i class="material-icons bottom-align">{{ resetPasswordForm.controls['newPassword'].hasError('required') ||
                      resetPasswordForm.controls['newPassword'].hasError('hasSpecialCharacters') ? 'cancel' :
                      'check_circle' }}</i> -->
                      <i [ngClass]="resetPasswordForm.controls['newPassword'].hasError('required') || resetPasswordForm.controls['newPassword'].hasError('hasSpecialCharacters') ? 'far fa-times-circle' : 'fas fa-check-circle'"></i>
                    Must contain at least 1 Special Character (e.g. @,#,$,%,& etc).
                  </div>
              </div>
              <div class="form-group required col-12 mb-3">
                  <label>Confirm Password</label>
                  <input type="password" name="confirmPassword" formControlName="confirmPassword" class="form-control font-nRegular xs-text px-2"/>
                  <div  *ngIf="submitted && formFields.confirmPassword.errors">
                      <span class="text-danger xs-text" *ngIf="formFields.confirmPassword.errors.required">
                          Confirm Password is required</span>
                      <span class="text-danger xs-text" *ngIf="formFields.confirmPassword.errors.mustMatch">
                          Passwords must match</span>
                  </div>
              </div>
          </div>
          <div class="text-right mt-2">
              <button class="btn btn-sm btn-primary text-uppercase px-4" type="submit">Save</button>
          </div>
      </form>
    </div>
  </div>
</div>
