<div class="content pt-3 pb-3" #target>
  <!-- <h4 class="font-20 font-weight-bold text-grey mt-1 mb-3" #target>Role Screen Mapping</h4> -->
  <div class="card border-0 bg-e57c"
    *ngIf="sharedService.isSectionVisible(menuConstants.roleScreenMappingSectionIds.List.id, screenStructure)">

    <div class="card-header bg-primary d-flex">
      <label class="text-white md-text mt-1 mb-0">Role List</label>
      <div class="ml-auto">
        <div class="p-input-icon-right mr-2">
          <i class="fa fa-search"></i>
          <input pInputText type="text" placeholder="Search keyword" (input)="filterTable($event)" />
        </div>
        <button *ngIf="isCreateBtn" (click)="showDialog(true)" class="btn btn-sm btn-link btn-outline-light text-white p-0 ml-3">
          <span class="ml-1 mr-2">
            Create Role
          </span></button>
      </div>
    </div>

    <!-- <div class="card-header bg-primary">
      <label class="text-white md-text mt-1 mb-0">Role List</label>
    </div> -->

    <div class="card-body p-0">
      <div class="row">
        <div class="col-12">
          <lib-jsw-core [componentType]='viewType.dynamicTable' [columns]='columns' [tableData]='roleList'
            [styleClass]="tableType" (editEvent)="editRecord($event);sharedService.scroll(target)"
            [isDeleteAction]="false" [isEditAction]="isEditBtn" [isMultiDelete]="false"
            (ptableEvent)="getTableRef($event)"></lib-jsw-core>
        </div>
      </div>
    </div>
  </div>
</div>

<p-dialog [(visible)]="display" [style]="{width: '85vw'}" [baseZIndex]="10000" class="card full-height-dialog"
  [modal]="true">
  <ng-template pTemplate="header">
    <h5 class="card-title  text-grey mb-0">{{updateAction ? 'Update Role':'Create Role'}}</h5>
  </ng-template>
  <div class="col-12 pt-4 pb-1 px-4 bg-white rounded-sm mb-4">
    <lib-jsw-core [componentType]='viewType.form' [formData]='formObject' (changeEvent)='getMultiSelectedData($event)'
      (jswFormEvent)="getFormRef($event)">
    </lib-jsw-core>
  </div>
  <div *ngIf='modules.length>0'>
    <h6 class="card-title  text-grey mb-3">Assign Permissions</h6>
    <p-tabMenu [model]="modules" [activeItem]='activeModule' (click)='tabMenuChange($event)'
      class="transparent-tab mb-3"></p-tabMenu>
    <p-tree [value]="screenMap" class="three-col-tree" selectionMode="checkbox" [(selection)]="selectedFiles2"
      [propagateSelectionUp]="true" [propagateSelectionDown]="true"></p-tree>
  </div>
  <ng-template pTemplate="footer">
    <div class="text-right pt-3">
      <button *ngIf="saveAction && isSaveBtn" type="submit" class="btn btn-sm btn-primary mr-3"
        (click)="save()">Save</button>
      <button *ngIf="saveAction && isCloseCreateModalBtn" type="button" class="btn btn-sm btn-dark"
        (click)="sharedService.resetForm(formObject,formRef);closeModal()">Close</button>
      <button *ngIf="updateAction && isUpdateBtn" type="submit" class="btn btn-sm btn-primary mr-3"
        (click)="update()">Update</button>
      <button *ngIf="updateAction && isCloseUpdateModalBtn" type="button" class="btn btn-sm btn-dark"
        (click)="sharedService.resetForm(formObject,formRef);closeModal()">Close</button>
    </div>
  </ng-template>
</p-dialog>