<div class="content pt-3 pb-3" #target>
  <!-- <h4 class="font-20 font-weight-bold text-grey mt-1 mb-3">Dashboard</h4> -->
  <div class="row">
    <div class="col-6">
      <div class="card border-0 bg-e57c">
        <div class="card-header bg-primary">
              <label class="text-white md-text mt-1 mb-0">Shiftwise Production Details</label>
        </div>
        <div class="card-body p-0">
          <div class="row">
            <div class="col-12">
              <p-table [value]="shiftData" styleClass="{{tableType}}" class="table-lg"  [style]="{width:'100%'}" [scrollable]="true" scrollHeight="500px">
                <ng-template pTemplate="colgroup">
                  <colgroup>
                    <col style="width:100px;">
                    <col style="width:50px;">
                    <col style="width:50px;">
                    <col style="width:50px;">
                  </colgroup>
                </ng-template>
                <ng-template pTemplate="header">
                  <tr>
                      <th></th>
                      <th [ngClass]="{'text-success': currentShiftName && currentShiftName.toUpperCase() == 'A'}">A</th>
                      <th [ngClass]="{'text-success': currentShiftName && currentShiftName.toUpperCase() == 'B'}">B</th>
                      <th [ngClass]="{'text-success': currentShiftName && currentShiftName.toUpperCase() == 'C'}">C</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData>
                    <tr>
                      <td class="font-weight-bold text-grey">{{rowData.statusType}}</td>
                      <td [ngClass]="{'text-success font-weight-bold': currentShiftName && currentShiftName.toUpperCase() == 'A'}">{{rowData.shiftAQty}}</td>
                      <td [ngClass]="{'text-success font-weight-bold': currentShiftName && currentShiftName.toUpperCase() == 'B'}">{{rowData.shiftBQty}}</td>
                      <td [ngClass]="{'text-success font-weight-bold': currentShiftName && currentShiftName.toUpperCase() == 'C'}">{{rowData.shiftCQty}}</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage" let-columns>
                  <tr>
                      <td [attr.colspan]="4">
                          No records found
                      </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card">
        <div class="card-header">
          <label class="md-text mt-1 mb-0">Shiftwise Production Details</label>
        </div>
        <p-chart type="bar" [data]="basicData" [options]="basicOptions"></p-chart>
    </div>
    </div>
  </div>
</div>
