<div class="content pt-3 pb-3" #target>
  <!-- <h4 class="font-20 font-weight-bold text-grey mt-1 mb-3 " #target>Long Product Schedule</h4> -->
  <div class="row">
    <div class="col-2 pr-1 ">
      <div class="card bg-f1 border-0" *ngIf="sharedService.isSectionVisible(menuConstants.lpSchSectionIds.Action_Line.id, screenStructure)">
        <div class="card-body pb-1">
          <!-- <h6 class="card-title font-weight-bold text-grey mb-3 font-12">Action Line</h6> -->
          <form #actionForm="ngForm">
            <div class="row">
              <div class="col-10 mb-3 mb-lg-0 pl-1 pr-2">
                <div class="p-float-label w-100">
                  <p-dropdown id="schId" name="scheduleId" ngDefaultControl inputId="schId" [autoDisplayFirst]="false"
                    [options]="scheduleIdList" [(ngModel)]="selectedScheduleId" #scheduleId="ngModel"
                    optionLabel="displayName" appendTo="body" optionValue="modelValue" [filter]="true"
                    filterBy="displayName" [showClear]="true" [required]="true" [ngModelOptions]="{standalone: true}"
                    [autoZIndex]="false">
                    <ng-template let-selectedOption pTemplate="item">
                      <div class="country-item">
                        <div>{{selectedOption.displayName}}</div>
                      </div>
                    </ng-template>
                  </p-dropdown>
                  <label>Select Schedule Id</label>
                </div>
              </div>
              <div class="col-2 p-0 pr-1">
                  <button *ngIf="isSearchBtn" type="button" 
                  class="btn btn-sm btn-primary w-100 pl-2" 
                  (click)="getScheduleDetails()">
                   <i class="fa fa-search align-items-center" data-toggle="tooltip" data-placement="top"
                  title="Search"></i></button>
              </div>
            </div>
              <div class="row mt-1">
              <div class="col-12 p-0">
                <div class="card card-body card-dark-bg pt-1 pb-2">
                  <label class="font-weight-bold">Action Line:</label>
                  <div class="row">
                    <div class="">
                      <div class="form-group font-nBold xs-text secondary-text">
                        <!-- <label>Schedule Status:</label>
                        <label class="ml-2 ml-lg-0 ml-xl-2 font-weight-bold">{{scheduleStatusDisplayName}}</label> -->
                      </div>
                    </div>
                    <div class="col-12  mb-3 mb-lg-0">
                      <div class="p-float-label w-100">
                        <p-dropdown id="action" name="lpAction" ngDefaultControl inputId="action" [autoDisplayFirst]="false"
                          [options]="actionList" [(ngModel)]="selectedAction" #action="ngModel" optionLabel="displayName"
                          appendTo="body" optionValue="modelValue" [filter]="true" filterBy="displayName" [showClear]="true"
                          [required]="true" [ngModelOptions]="{standalone: true}" [autoZIndex]="false">
                          <ng-template let-selectedOption pTemplate="item">
                            <div class="country-item">
                              <div>{{selectedOption.displayName}}</div>
                            </div>
                          </ng-template>
                        </p-dropdown>
                        <label>Select Action</label>
                        <div *ngIf="action.errors?.required" class="p-invalid mt-1 font-13">Please select action</div>
                      </div>
                    </div>
                    <div class="col-12 mt-2  mb-3 mb-lg-0">
                      <button *ngIf="isProceedBtn" type="button" class="btn btn-sm btn-primary w-100"
                        (click)="performScheduleAction()">Proceed</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-10 p-0 pr-1">
      <div class="card bg-f1 border-0 mb-3" *ngIf="sharedService.isSectionVisible(menuConstants.lpSchSectionIds.Schedule_Header.id, screenStructure)">
        <div class="card-body pt-2 pb-2">
          <h6 class="card-title font-weight-bold text-grey mb-0">Schedule Header</h6>
          <lib-jsw-core [componentType]='viewType.form' (changeEvent)="dropdownChangeEvent($event)"
            [formData]='scheduleHeaderFormObject'></lib-jsw-core>
          <div class="text-right mt-2">
            <button *ngIf="isSaveSchHeaderBtn" type="submit" class="btn btn-sm btn-primary mr-3" (click)="saveScheduleHeader()"
              [disabled]="disableSchActions">Save</button>
            <button *ngIf="isResetSchHeaderBtn" type="button" class="btn btn-sm btn-dark" (click)="resetFilter()"
              [disabled]="disableSchActions">Reset</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  

  <!-- <div class="card bg-f1 border-0 mb-3" *ngIf="sharedService.isSectionVisible(menuConstants.lpSchSectionIds.Schedule_Header.id, screenStructure)">
    <div class="card-body p-3">
      <h6 class="card-title font-weight-bold text-grey mb-3">Schedule Header</h6>
      <lib-jsw-core [componentType]='viewType.form' (changeEvent)="dropdownChangeEvent($event)"
        [formData]='scheduleHeaderFormObject'></lib-jsw-core>
      <div class="text-right">
        <button *ngIf="isSaveSchHeaderBtn" type="submit" class="btn btn-sm btn-primary mr-3" (click)="saveScheduleHeader()"
          [disabled]="disableSchActions">Save</button>
        <button *ngIf="isResetSchHeaderBtn" type="button" class="btn btn-sm btn-dark" (click)="resetFilter()"
          [disabled]="disableSchActions">Reset</button>
      </div>
    </div>
  </div> -->
  <div class="card border-0 bg-e57c" *ngIf="isSchListSection">
    <div class="card-body p-0">
      <div class="row">
        <div class="col-12">
          <app-lp-schedule-list [scheduleId]="selectedScheduleId" [scheduleList]="lpList" [refrenceList]="reflpList"
            [masterProductList]='masterProductList' [inputProductList]='mappingProducts'
            (deleteLpSchList)="deleteSelectedRecords($event)" (getLpSchList)='getListToUpdateOrDelete($event)'
            (saveOrder)="updateOrder($event)" [disableSchActions]='disableSchActions' [isSaveBtn]="isSchListSaveBtn" [validationFlags]="validationFlags"></app-lp-schedule-list>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<p-confirmDialog [style]="{width: '30vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text">
</p-confirmDialog>
