<div class="card border-0 bg-e57c">
  <div class="card-header bg-primary d-flex">
    <label class="text-white md-text mt-1 mb-0">Size Master List</label>
    <div class="ml-auto">
      <div  class="p-input-icon-right mr-2">
        <i class="fa fa-search"></i>
        <input pInputText type="text" placeholder="Search keyword" (input)="filterTable($event)" />
      </div>
      <button type="button" class="btn btn-sm btn-link btn-outline-light text-white p-0 ml-3" pAddRow [table]="dt" [newRow]="newRow()" [disabled]="disableAddBtn">
        <i class="fa fa-plus ml-1" data-toggle="tooltip" data-placement="top" title="Add Size"></i><span class="mr-2"> Add Size
        </span></button>
</div>
</div>
  <!-- <div class="card-header bg-primary">
        <label class="text-white md-text mt-1 mb-0">Size Master List</label>
  </div> -->
  <div class="card-body p-0">
    <div class="row">
      <div class="col-12">
        <p-table #dt [columns]="columns" [value]="sizeList" styleClass="{{tableType}}" [scrollable]="true"  [style]="{width:'100%'}" scrollHeight="500px"
        [paginator]="true" [rows]="10" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[10,25,50]" [globalFilterFields]="globalFilterArray" dataKey="srNo" editMode="row">
        <ng-template pTemplate="caption">
          <!-- <div class="d-flex p-2">
            <div class="p-input-icon-right">
              <i class="fa fa-search"></i>
                <input pInputText type="text" (input)="filterTable($event)" placeholder="Search keyword" />
            </div>
            <div class="ml-auto" *ngIf="isAddBtn">
              <button type="button" class="btn btn-sm btn-primary" pAddRow [table]="dt" [newRow]="newRow()" [disabled]="disableAddBtn">Add Size</button>
            </div>
          </div> -->
        </ng-template>
          <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
              <col *ngFor="let col of columns" [ngStyle]="{ 'width': col.width }">
            </colgroup>
          </ng-template>
          <ng-template pTemplate="header">
              <tr>
                <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                    {{col.header}}
                    <span *ngIf="col.sortFieldName"><p-sortIcon  [field]="col.sortFieldName"></p-sortIcon></span>
                </th>
            </tr>
            </ng-template>
          <ng-template pTemplate="body" let-size let-editing="editing" let-ri="rowIndex">
              <!-- <pre>{{editing}}</pre> -->
              <tr [pEditableRow]="size">
                <td>
                  <p-cellEditor>
                    <ng-template pTemplate="input">
                      <p-dropdown name="productName_{{ri}}" [options]="productList" [(ngModel)]="size.productName" #productName="ngModel"
                      [style]="{'width':'100%'}" optionLabel="materialDesc" appendTo="body" optionValue="materialDesc" [required]="true"></p-dropdown>
                      <div *ngIf="size.submitted && productName.errors?.required" class="p-invalid mt-1 font-13">Please select Product Type</div>
                  </ng-template>
                  <ng-template pTemplate="output">
                      {{size.productName}}
                  </ng-template>
                  </p-cellEditor>
                </td>
                  <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input class="w-100" pInputText type="text" name="sizeCode_{{ri}}" [(ngModel)]="size.sizeCode" #sizeCode="ngModel" disabled required>
                            <div *ngIf="size.submitted && sizeCode.errors?.required" class="p-invalid mt-1 font-13">Please enter Size Code</div>
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{size.sizeCode}}
                        </ng-template>
                    </p-cellEditor>
                  </td>
                  <td>
                      <p-cellEditor>
                          <ng-template pTemplate="input">
                              <input class="w-100" pInputText type="text" name="sizeDesc_{{ri}}" [(ngModel)]="size.sizeDesc" #sizeDesc="ngModel" required>
                              <div *ngIf="size.submitted && sizeDesc.errors?.required" class="p-invalid mt-1 font-13">Please enter Size Desc</div>
                          </ng-template>
                          <ng-template pTemplate="output">
                              {{size.sizeDesc}}
                          </ng-template>
                      </p-cellEditor>
                  </td>
                  <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input class="w-100" pInputText type="text" name="diameter_{{ri}}" [(ngModel)]="size.dia" #diameter="ngModel" pKeyFilter="pint"
                            [required]="getProductId(size.productName) == materialEnum.AsCastRounds || getProductId(size.productName) == materialEnum.AsCastRoundsFinal
                                       || getProductId(size.productName) == materialEnum.Tmt || getProductId(size.productName) == materialEnum.TmtFinal
                                       || getProductId(size.productName) == materialEnum.PlainRounds || getProductId(size.productName) == materialEnum.PlainRoundsFinal"
                            [disabled]="!(getProductId(size.productName) == materialEnum.AsCastRounds || getProductId(size.productName) == materialEnum.AsCastRoundsFinal
                                       || getProductId(size.productName) == materialEnum.Tmt || getProductId(size.productName) == materialEnum.TmtFinal
                                       || getProductId(size.productName) == materialEnum.PlainRounds || getProductId(size.productName) == materialEnum.PlainRoundsFinal)"
                            (change)="updateSizeCode(size)">
                            <div *ngIf="size.submitted && diameter.errors?.required" class="p-invalid mt-1 font-13">Please enter Diameter</div>
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{size.dia}}
                        </ng-template>
                    </p-cellEditor>
                  </td>
                  <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input class="w-100" pInputText type="text" name="thickness_{{ri}}" [(ngModel)]="size.thickness" #thickness="ngModel" pKeyFilter="pint"
                            [required]="getProductId(size.productName) == materialEnum.Billet || getProductId(size.productName) == materialEnum.BilletFinal ||
                                        getProductId(size.productName) == materialEnum.Bloom || getProductId(size.productName) == materialEnum.BloomFinal ||
                                        getProductId(size.productName) == materialEnum.LpFlats || getProductId(size.productName) == materialEnum.LpFlatsFinal ||
                                        getProductId(size.productName) == materialEnum.Slab || getProductId(size.productName) == materialEnum.SlabFinal"
                            [disabled]="!(getProductId(size.productName) == materialEnum.Billet || getProductId(size.productName) == materialEnum.BilletFinal ||
                                        getProductId(size.productName) == materialEnum.Bloom || getProductId(size.productName) == materialEnum.BloomFinal ||
                                        getProductId(size.productName) == materialEnum.LpFlats || getProductId(size.productName) == materialEnum.LpFlatsFinal ||
                                        getProductId(size.productName) == materialEnum.Slab || getProductId(size.productName) == materialEnum.SlabFinal)"
                            (change)="updateSizeCode(size)">
                            <div *ngIf="size.submitted && thickness.errors?.required" class="p-invalid mt-1 font-13">Please enter Thickness</div>
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{size.thickness}}
                        </ng-template>
                    </p-cellEditor>
                  </td>
                  <!-- <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input class="w-100" pInputText type="text" name="legThicknessA_{{ri}}" [(ngModel)]="size.leg_thickness_a" #legThicknessA="ngModel"
                            pKeyFilter="pint" [required]="size.productName == 'Billet' || size.productName == 'Bloom' || size.productName == 'Flat'"
                            [disabled]="!(size.productName == 'Billet' || size.productName == 'Bloom' || size.productName == 'Flat')">
                            <div *ngIf="size.submitted && legThicknessA.errors?.required" class="p-invalid mt-1 font-13">Please enter Leg Thickness A</div>
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{size.leg_thickness_a}}
                        </ng-template>
                    </p-cellEditor>
                  </td> -->
                  <!-- <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input class="w-100" pInputText type="text" name="legThicknessB_{{ri}}" [(ngModel)]="size.leg_thickness_b" #legThicknessB="ngModel"
                            pKeyFilter="pint" [required]="size.productName == 'Billet' || size.productName == 'Bloom' || size.productName == 'Flat'"
                            [disabled]="!(size.productName == 'Billet' || size.productName == 'Bloom' || size.productName == 'Flat')">
                            <div *ngIf="size.submitted && legThicknessB.errors?.required" class="p-invalid mt-1 font-13">Please enter Leg Thickness B</div>
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{size.leg_thickness_b}}
                        </ng-template>
                    </p-cellEditor>
                  </td> -->
                  <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input class="w-100" pInputText type="text" name="width_{{ri}}" [(ngModel)]="size.width" #width="ngModel" pKeyFilter="pint"
                            [required]="getProductId(size.productName) == materialEnum.Billet || getProductId(size.productName) == materialEnum.BilletFinal ||
                                        getProductId(size.productName) == materialEnum.Bloom || getProductId(size.productName) == materialEnum.BloomFinal ||
                                        getProductId(size.productName) == materialEnum.LpFlats || getProductId(size.productName) == materialEnum.LpFlatsFinal ||
                                        getProductId(size.productName) == materialEnum.Slab || getProductId(size.productName) == materialEnum.SlabFinal"
                            [disabled]="!(getProductId(size.productName) == materialEnum.Billet || getProductId(size.productName) == materialEnum.BilletFinal ||
                                        getProductId(size.productName) == materialEnum.Bloom || getProductId(size.productName) == materialEnum.BloomFinal ||
                                        getProductId(size.productName) == materialEnum.LpFlats || getProductId(size.productName) == materialEnum.LpFlatsFinal ||
                                        getProductId(size.productName) == materialEnum.Slab || getProductId(size.productName) == materialEnum.SlabFinal)"
                            (change)="updateSizeCode(size)"
                            (change)="updateSizeCode(size)">
                            <div *ngIf="size.submitted && width.errors?.required" class="p-invalid mt-1 font-13">Please enter Width</div>
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{size.width}}
                        </ng-template>
                    </p-cellEditor>
                  </td>
                  <!-- <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input class="w-100" pInputText type="text" name="length_{{ri}}" [(ngModel)]="size.length" pKeyFilter="num" #length="ngModel" disabled>
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{size.length}}
                        </ng-template>
                    </p-cellEditor>
                  </td> -->
                  <!-- <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input class="w-100" pInputText type="text" name="legLengthA_{{ri}}" [(ngModel)]="size.leg_length_a" pKeyFilter="num" #legLengthA="ngModel" disabled>
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{size.leg_length_a}}
                        </ng-template>
                    </p-cellEditor>
                  </td> -->
                  <!-- <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input class="w-100" pInputText type="text" name="legLengthB_{{ri}}" [(ngModel)]="size.leg_length_b" pKeyFilter="num" #legLengthB="ngModel" disabled>
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{size.leg_length_b}}
                        </ng-template>
                    </p-cellEditor>
                  </td> -->
                  <!-- <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input class="w-100" pInputText type="text" name="height_{{ri}}" [(ngModel)]="size.height" #height="ngModel" disabled>
                            <div *ngIf="size.submitted && height.errors?.required" class="p-invalid mt-1 font-13">Please enter Height</div>
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{size.height}}
                        </ng-template>
                    </p-cellEditor>
                  </td> -->
                  <td>
                    <p-cellEditor>
                      <ng-template pTemplate="input">
                        <p-dropdown name="status_{{ri}}" [options]="statusList" [(ngModel)]="size.status" #status="ngModel"
                        [style]="{'width':'100%'}" optionLabel="valueDescription" appendTo="body" optionValue="valueShortCode" [required]="true"></p-dropdown>
                        <div *ngIf="size.submitted && status.errors?.required" class="p-invalid mt-1 font-13">Please select status</div>
                      </ng-template>
                      <ng-template pTemplate="output">
                          {{size.status}}
                      </ng-template>
                    </p-cellEditor>
                  </td>
                  <td>
                      <i *ngIf="!editing && isEditBtn" pInitEditableRow class="fas fa-pen cursor-pointer mr-2" (click)="onRowEditInit(size)"></i>
                      <i *ngIf="editing && isSaveBtn" pSaveEditableRow class="fas fa-check cursor-pointer mr-3 p-1 text-success" (click)="onRowEditSave(size, ri)"></i>
                      <i *ngIf="editing && isCloseBtn" pCancelEditableRow class="fas fa-times cursor-pointer p-1 text-danger" (click)="onRowEditCancel(size, ri)"></i>
                  </td>
              </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage" let-columns>
            <tr>
                <td [attr.colspan]="columns.length">
                    No records found
                </td>
            </tr>
        </ng-template>
      </p-table>
      </div>
    </div>
  </div>
</div>
