<div class="content pt-3 pb-3" #target>
  <!-- <h4 class="font-20 font-weight-bold text-grey mt-1 mb-3" #target> Small Batch Production</h4> -->
  <p-accordion *ngIf="isFlCrViewOnly">
    <p-accordionTab header="Filter Criteria" class="card-title font-12 text-grey mb-0 bg-f1"
      [selected]="true">
      <div class="card bg-f1 border-0 p-0">
        <div class="card-body pt-0 pb-2">
          <div class="row">
            <div class="col-12 col-md-7 col-xl-4">
              <lib-jsw-core [componentType]='viewType.form' [formData]='formObject'
            (changeEvent)="dropdownChangeEvent($event)" (jswFormEvent)="getFormRef($event)"></lib-jsw-core>
            </div>
            <div class="col-12 col-md-5 col-xl-4 mt-3">
              <button *ngIf="isFlCrRtrv" type="button" class="btn btn-sm btn-primary mr-3" (click)="filterDataByUnit()">Retrieve</button>
            <button *ngIf="isFlCrRst" type="button" class="btn btn-sm btn-dark" (click)="sharedService.resetForm(formObject,formRef);resetFilter()">Reset</button>
            </div>
          </div>
        </div>
      </div>
    </p-accordionTab>
  </p-accordion>
  <!-- <div class="card bg-f1 border-0 mb-3" *ngIf="isFlCrViewOnly">
    <div class="card-body p-3">
      <h6 class="card-title font-weight-bold text-grey mb-3">Filter Criteria</h6>
      <div class="row">
        <div class="col-12 col-md-7 col-xl-4">
          <lib-jsw-core [componentType]='viewType.form' [formData]='formObject'
            (changeEvent)="dropdownChangeEvent($event)" (jswFormEvent)="getFormRef($event)"></lib-jsw-core>
        </div>
        <div class="col-12 col-md-5 col-xl-4 mt-1">

            <button *ngIf="isFlCrRtrv" type="button" class="btn btn-sm btn-primary mr-3" (click)="filterDataByUnit()">Retrieve</button>
            <button *ngIf="isFlCrRst" type="button" class="btn btn-sm btn-dark" (click)="sharedService.resetForm(formObject,formRef);resetFilter()">Reset</button>
 </div>
      </div>
    </div>
  </div> -->
  <div class="card border-0 bg-e57c mb-1 mt-2">
    <div class="card-header bg-primary d-flex">
      <label class="text-white md-text mt-1 mb-0">Batch Stock Details</label>
      <div class="ml-auto" >
        <div class="p-input-icon-right mr-2">
          <i class="fa fa-search"></i>
          <input pInputText type="text" placeholder="Search keyword" (input)="filterTable($event)" />
        </div>
      </div>
    </div>
    <!-- <div class="card-header bg-primary">
      <label class="text-white md-text mt-1 mb-0">Batch Stock Details</label>
    </div> -->
    <div class="card-body p-0">
      <div class="row">
        <div class="col-12">
          <lib-jsw-core [componentType]='viewType.dynamicTable' [columns]='columns' [tableData]='BatchStockDetailsList'
            [styleClass]="tableType" [isDeleteAction]="false" [isEditAction]="true" [isMultiDelete]="false"
            [showGlobalFilter]="false" (getRow)="getRowDetails($event)" (ptableEvent)="getTableRef($event)"
            [tdClass]='tdClass' ></lib-jsw-core>
        </div>

      </div>
    </div>
  </div>
  <div class="card border-0 bg-e57c" *ngIf='selectedGradeProperties && isSmalProdDetails'>
    <div class="card-header bg-primary d-flex">
      <label class="text-white md-text mt-1 mb-0">Small Batch Production</label>
      <div class="ml-auto" >
        <button type="submit" class="btn btn-sm btn-link btn-outline-light text-white p-0 ml-3" pAddRow [table]="dt"
            [newRow]="newRow()" [disabled]="smallBatchLimit"  *ngIf="isSmalProdDetailsAdd">
            <span class="mr-1 ml-1">
              Insert
            </span></button>
            <button type="submit" [disabled]="deleteFlag" *ngIf="isSmalProdDetailsSave" 
            class="btn btn-sm btn-link btn-outline-light text-white p-0 ml-3" (click)="deleteRecord()" >
            <span class="mr-1 ml-1">
              Delete
            </span></button>
            <button type="submit" *ngIf="isSmalProdDetailsSave" 
            class="btn btn-sm btn-link btn-outline-light text-white p-0 ml-3" (click)="smallBatchSave()">
            <span class="mr-1 ml-1">
              Save
            </span></button>
            <!-- <button *ngIf="isExcelBtn" (click)="downloadFile('csv')" 
            class="btn btn-sm btn-link btn-outline-light text-white p-0 ml-3"><i
            class="fas fa-file-excel mr-1 ml-1" data-toggle="tooltip" data-placement="top"
            title="Download PDF File"></i>
            <span class="mr-2">
              Excel
            </span> </button> -->
    </div>
    </div>
    <div class="card-body p-0" >
      <!-- <div class="d-flex p-1">
        <div class="ml-auto">
          <button type="submit" class="btn btn-sm btn-primary mr-3" pAddRow [table]="dt"
            [newRow]="newRow()" [disabled]="smallBatchLimit"  *ngIf="isSmalProdDetailsAdd">Insert</button>&nbsp;&nbsp;
            <button type="submit" [disabled]="deleteFlag" *ngIf="isSmalProdDetailsSave" class="btn btn-sm btn-primary mr-3" (click)="deleteRecord()" >Delete</button>
          <button type="submit" *ngIf="isSmalProdDetailsSave" class="btn btn-sm btn-primary" (click)="smallBatchSave()">Save</button>
        </div>
      </div> -->
      <p-table #dt [value]="smallBatchList" [columns]="columns1" styleClass="{{tableType}}" [scrollable]="true"
        [responsive]="true" [style]="{width:'100%'}" scrollHeight="500px" [paginator]="true" [rows]="10"
        [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[10,25,50]" dataKey="srNo" editMode="row">
        <ng-template pTemplate="caption">
        </ng-template>
        <ng-template pTemplate="colgroup" let-columns1>
          <colgroup>
            <col *ngFor="let col of columns1" [ngStyle]="{ 'width': col.width }">
          </colgroup>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th *ngFor="let col of columns1" [pSortableColumn]="col.field">
              {{col.header}}
              <span *ngIf="col.sortFieldName">
                <p-sortIcon [field]="col.sortFieldName"></p-sortIcon>
              </span>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-columns1 let-editing="editing" let-ri="rowIndex">
          <tr [pEditableRow]="columns1">
            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input class="w-100" pInputText type="text" name="batchId_{{ri}}" [(ngModel)]="columns1.batchId"
                    #batchId="ngModel" (ngModelChange)="enableEditMode(columns)" [disabled]="columns1.disabled" disabled
                    required>
                  <div *ngIf="columns1.submitted && batchId.errors?.required" class="p-invalid mt-1 font-13">Please
                    enter WC Name</div>
                </ng-template>
                <ng-template pTemplate="output">
                  {{columns1.batchId}}
                </ng-template>
              </p-cellEditor>
            </td>
            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input class="w-100" pInputText type="text" name="parentBatch_{{ri}}"
                    [(ngModel)]="columns1.parentBatch" #parentBatch="ngModel" (ngModelChange)="enableEditMode(columns)"
                    [disabled]="columns1.disabled" disabled required>
                  <div *ngIf="columns1.submitted && parentBatch.errors?.required" class="p-invalid mt-1 font-13">
                    Please enter WC Name</div>
                </ng-template>
                <ng-template pTemplate="output">
                  {{columns1.parentBatch}}
                </ng-template>
              </p-cellEditor>
            </td>
            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input class="w-100" pInputText type="text" name="productType_{{ri}}"
                    [(ngModel)]="columns1.productType" #productType="ngModel" (ngModelChange)="enableEditMode(columns)"
                    [disabled]="columns1.disabled" disabled required>
                </ng-template>
                <ng-template pTemplate="output">
                  {{columns1.productType}}
                </ng-template>
              </p-cellEditor>
            </td>
            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input class="w-100" pInputText type="text" name="productSize_{{ri}}"
                    [(ngModel)]="columns1.productSize" #productSize="ngModel" (ngModelChange)="enableEditMode(columns)"
                    [disabled]="columns1.disabled" disabled required>
                </ng-template>
                <ng-template pTemplate="output">
                  {{columns1.productSize}}
                </ng-template>
              </p-cellEditor>
            </td>
            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input class="w-100" pInputText type="text" name="heatNo_{{ri}}" [(ngModel)]="columns1.heatNo"
                    #heatNo="ngModel" (ngModelChange)="enableEditMode(columns)" [disabled]="columns1.disabled" disabled
                    required>
                  <div *ngIf="columns1.submitted && heatNo.errors?.required" class="p-invalid mt-1 font-13">Please
                    enter WC Name</div>
                </ng-template>
                <ng-template pTemplate="output">
                  {{columns1.heatNo}}
                </ng-template>
              </p-cellEditor>
            </td>
            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input class="w-100" pInputText type="text" name="grade_{{ri}}" [(ngModel)]="columns1.grade"
                    #grade="ngModel" (ngModelChange)="enableEditMode(columns)" [disabled]="columns1.disabled" disabled
                    required>
                  <div *ngIf="columns1.submitted && grade.errors?.required" class="p-invalid mt-1 font-13">Please
                    enter WC Name</div>
                </ng-template>
                <ng-template pTemplate="output">
                  {{columns1.grade}}
                </ng-template>
              </p-cellEditor>
            </td>
            <td pEditableColumn>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input class="w-100" pInputText type="text" name="lengths_{{ri}}" [(ngModel)]="columns1.lengths"
                    #lengths="ngModel" [disabled]="columns1.disabled" (change)="validateWeight(columns1,ri)" required>
                  <!-- <div *ngIf="userEnteredLength>totalLength" class="p-invalid mt-1 font-13">Length is not valid
                        </div> -->
                  <div *ngIf="columns1['actualFGError']" class="p-invalid mt-1 font-13">Please
                    enter valid length</div>
                </ng-template>
                <ng-template pTemplate="output">
                  {{columns1.lengths}}
                </ng-template>
              </p-cellEditor>
            </td>
  <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input class="w-100" pInputText type="text" name="weight_{{ri}}" [(ngModel)]="columns1.weight"
                    #weight="ngModel" (ngModelChange)="enableEditMode(columns)" [disabled]="columns1.disabled" disabled
                    required>
                  <div *ngIf="columns1.submitted && weight.errors?.required" class="p-invalid mt-1 font-13">Please
                    enter WC Name</div>
                </ng-template>
                <ng-template pTemplate="output">
                  {{columns1.weight}}
                </ng-template>
              </p-cellEditor>
            </td>
            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input class="w-100" pInputText type="text" name="SAPSendStatus_{{ri}}"
                    [(ngModel)]="columns1.SAPSendStatus" #SAPSendStatus="ngModel"
                    (ngModelChange)="enableEditMode(columns)" [disabled]="columns1.disabled" disabled required>
                </ng-template>
                <ng-template pTemplate="output">
                  {{columns1.SAPSendStatus}}
                </ng-template>
              </p-cellEditor>
            </td>
  <!-- <td>
  <i *ngIf="editing" pCancelEditableRow class="fas fa-trash cursor-pointer p-1 text-danger"
                (click)="onRowEditCancel(columns1, 4)"></i>
            </td> -->
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
          <tr>
            <td [attr.colspan]="columns.length">
              No records found
            </td>
          </tr>
        </ng-template>
      </p-table>
 </div>
  </div>
</div>
