<div class="content pt-3 pb-3" #target>
    <!-- <h4 class="font-20 font-weight-bold text-grey mt-1 mb-3" #target> Batch Update Interface </h4> -->
    <p-accordion *ngIf="isFilterSection" >
        <p-accordionTab header="Filter Criteria" class="card-title font-12 text-grey mb-0 bg-f1"
          [selected]="true">
          <div class="card bg-f1 border-0 p-0">
            <div class="card-body pt-0 pb-2">
              <div class="row">
                <div class="col-12 col-md-7 col-xl-6">
                    <lib-jsw-core [componentType]='viewType.form' [formData]='formObject'>
                    </lib-jsw-core>
            </div>
              <div class="col-12 col-md-5 col-xl-4 mt-3">
                <button *ngIf="isRetrive" type="button" class="btn btn-sm btn-primary mr-3" (click)="filterData()">Retrieve</button>
                <button *ngIf="isReset" type="button" class="btn btn-sm btn-dark" (click)="resetFilter()">Reset</button>
              </div>
            </div>
            </div>
          </div>
        </p-accordionTab>
      </p-accordion>
    <!-- <div class="card bg-f1 border-0 mb-3" *ngIf="isFilterSection">
        <div class="card-body p-3">
            <h6 class="card-title font-weight-bold text-grey mb-3">Filter Criteria</h6>
            <lib-jsw-core [componentType]='viewType.form' [formData]='formObject'>
            </lib-jsw-core>
            <div class="text-right">
                <button *ngIf="isRetrive" type="button" class="btn btn-sm btn-primary mr-3" (click)="filterData()">Retrieve</button>
                <button *ngIf="isReset" type="button" class="btn btn-sm btn-dark" (click)="resetFilter()">Reset</button>
            </div>
        </div>
    </div> -->
    <div class="card border-0 bg-e57c mt-3" *ngIf="isListSection">
        <div class="card-header bg-primary d-flex">
            <label class="text-white md-text mt-1 mb-0">Batch Update Details</label>
            <div class="ml-auto" >
              <button *ngIf="isDownload" (click)="downloadFile('csv')" class="btn btn-sm btn-link btn-outline-light text-white p-0 ml-3"><i
                  class="fas fa-file-excel mr-1 ml-1 mr-2" data-toggle="tooltip" data-placement="top"
                  title="Download Excel File"></i><span class="mr-2">
                    Download
                  </span></button>
             
             <button
              (click)="BatchUpdate()" class="btn btn-sm btn-link btn-outline-light text-white p-0 ml-3">Re-push Interface</button> 
            </div>
          </div>
        <!-- <div class="card-header bg-primary">
            <label class="text-white md-text mt-1 mb-0">Batch Update Details</label>
        </div> -->
        <div class="card-body p-0">
            <div class="row">
                <!-- <div class="col-12">
                    <div class="ml-auto ">
                      <button type="submit" class="btn btn-sm btn-primary mt-2 mb-1 float-right mr-2" *ngIf="isDownload"
                        (click)="downloadFile('csv')">Download</button>
                    </div>
                  </div> -->
                <div class="col-12">
                    <lib-jsw-core [componentType]='viewType.dynamicTable' [columns]='columns' [tableData]='batchDetails'
                        [isClearSelection]="true"  [styleClass]="tableType"
                        [clearSelectionEvent]="clearSelection.asObservable()"
                      >
                    </lib-jsw-core>
                </div>
            </div>
        </div>
    </div>
</div>
