<div class="content pt-3 pb-3" #target>
    <!-- <h4 class="font-20 font-weight-bold text-grey mt-1 mb-3" #target> Additional Bundle Production</h4> -->
    <p-accordion *ngIf="isfilterSection">
    <p-accordionTab header="Filter Criteria" class="card-title font-12 text-grey mb-0 bg-f1"
      [selected]="true">
      <div class="card bg-f1 border-0 p-0">
        <div class="card-body pt-0 pb-2">
            <div class="row">
                <div class="col-12 col-md-7 col-xl-4">
                    <lib-jsw-core [componentType]='viewType.form' [formData]='filterFormObject'
                        (changeEvent)='dropdownChangeEvent($event)'>
                    </lib-jsw-core>
                </div>
                <div class="col-12 col-md-5 col-xl-4 mt-3">
                    <div class="text-left">
                        <button type="button" class="btn btn-sm btn-primary mr-3"
                          *ngIf="isRetriveBtn"  (click)='getAddBundHeatDetails()'>Retrieve</button>
                        <button type="button" class="btn btn-sm btn-dark"  *ngIf="isResetBtn" (click)="resetFilter()">Reset</button>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </p-accordionTab>
  </p-accordion>
    <!-- <div class="card bg-f1 border-0 mb-3" *ngIf="isfilterSection">
        <div class="card-body p-3">
            <h6 class="card-title font-weight-bold text-grey mb-3">Filter Criteria</h6>
            <div class="row">
                <div class="col-12 col-md-7 col-xl-4">
                    <lib-jsw-core [componentType]='viewType.form' [formData]='filterFormObject'
                        (changeEvent)='dropdownChangeEvent($event)'>
                    </lib-jsw-core>
                </div>
                <div class="col-12 col-md-5 col-xl-4 mt-1">
                    <div class="text-left">
                        <button type="button" class="btn btn-sm btn-primary mr-3"
                          *ngIf="isRetriveBtn"  (click)='getAddBundHeatDetails()'>Retrieve</button>
                        <button type="button" class="btn btn-sm btn-dark"  *ngIf="isResetBtn" (click)="resetFilter()">Reset</button>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <div class="card border-0 bg-e57c mt-3" *ngIf="isHeatDetailsSection">
        <div class="card-header bg-primary d-flex">
            <label class="text-white md-text mt-1 mb-0">Heat Details</label>
            <div class="ml-auto" >
              <button *ngIf="isHeatSaveBtn" (click)="sendTableData('event')" class="btn btn-sm btn-link btn-outline-light text-white p-0 ml-3"><i
                  class="fa fa-save ml-1 mr-2" data-toggle="tooltip" data-placement="top"
                  title="Save"></i><span class="mr-2">
                    Save
                  </span></button>
            </div>
          </div>
        <!-- <div class="card-header bg-primary">
            <label class="text-white md-text mt-1 mb-0">Heat Details</label>
        </div> -->
        <div class="card-body p-0">
            <div class="row">
                <div class="col-12">
                    <lib-jsw-core [componentType]='viewType.dynamicTable' [columns]='heatColumns'
                        [tableData]='heatDetails' [isClearSelection]="true" 
                        [clearSelectionEvent]="clearSelection.asObservable()" [styleClass]="tableType"
                        (getRow)="editRecord($event)"
                        (numericValidationEvent)="validateBundleWeight($event)">
                    </lib-jsw-core>
                </div>
            </div>
        </div>
    </div>
    <div class="card border-0 bg-e57c mt-3" *ngIf="isBatchDetailsSection">
        <!-- <div class="card-header bg-primary d-flex">
            <label class="text-white md-text mt-1 mb-0">Batch Details</label>
            <div class="ml-auto" >
              <button *ngIf="isBatchSaveBtn" (click)="saveBundleDetails('event')" class="btn btn-sm btn-link btn-outline-light text-white p-0 ml-3"><i
                  class="fa fa-save ml-1 mr-2" data-toggle="tooltip" data-placement="top"
                  title="Save"></i>Save</button>
            </div>
          </div> -->
        <div class="card-header bg-primary">
            <label class="text-white md-text mt-1 mb-0">Batch Details</label>
        </div>
        <div class="card-body p-0">
            <div class="row">
                <div class="col-12">
                    <lib-jsw-core [componentType]='viewType.dynamicTable' [columns]='batchColumns'
                        [tableData]='batchDetails' [styleClass]="tableType" [saveButton]="isBatchSaveBtn"
                        (numericValidationEvent)="getWeightAndLength($event)" (editedTableData)='saveBundleDetails($event)'
                        [disableFields]="isSaveBtnDisable">
                    </lib-jsw-core>
                </div>
            </div>
        </div>
    </div>
</div>