<div class="content">
  <div class="card bg-white border-0 mb-3">
    <div class="card-body p-3">
      <lib-jsw-core [componentType]='viewType.form' (changeEvent)="dropdownChangeEvent($event)" [formData]='filterForm'></lib-jsw-core>
      <div class="text-right mt-2">
        <button *ngIf="isRetrieveBtn" type="submit" class="btn btn-sm btn-primary mr-3" (click)="retrieveOrders()">Retrieve</button>
        <button *ngIf="isRefreshBtn" type="button" class="btn btn-sm btn-dark" (click)="refreshOrders()">Refresh</button>
      </div>
    </div>
  </div>
  <div class="card border-0 bg-f1">
    <div class="card-header bg-primary">
      <label class="text-white md-text mt-1 mb-0">Sales Order List</label>
    </div>
    <div class="card-body p-0">
      <div class="row">
        <div class="col-12">
         <app-order-book-table (closeModalEvent)="closeModal()" [scheduleType]="config.data.scheduleType" [scheduleAction] ="'addUnplanned'"
         [showSelectedQuantity]="true" [scheduleType]="config.data.scheduleType" [scheduleId]="config.data.scheduleId" [isInsertBtn]="isInsertOrderBtn"></app-order-book-table>
        </div>
      </div>
    </div>
  </div>
</div>

