<div class="card border-0 bg-e57c">

  <div class="card-header bg-primary d-flex">
    <label class="text-white md-text mt-1 mb-0">WC, Product & Size Mapping</label>
    <div class="ml-auto">
      <div  class="p-input-icon-right mr-2">
        <i class="fa fa-search"></i>
        <input pInputText type="text" placeholder="Search keyword" (input)="filterTable($event)" />
      </div>
      <!-- <button type="button" class="btn btn-sm btn-link btn-outline-light text-white p-0 ml-3" pAddRow [table]="dt" [newRow]="newRow()" [disabled]="disableAddBtn">Add Product</button> -->
      <button *ngIf="isAddBtn" type="button" class="btn btn-sm btn-link btn-outline-light text-white p-0 ml-3" [disabled]="disableAddBtn" (click)="addNewRow()">
        <i class="fa fa-plus ml-1" data-toggle="tooltip" data-placement="top" title="Add"></i><span class="mr-2"> Add
        </span></button>
</div>
</div>
  <!-- <div class="card-header bg-primary">
        <label class="text-white md-text mt-1 mb-0">WC, Product & Size Mapping</label>
  </div> -->
  <div class="card-body p-0">
    <div class="row">
      <div class="col-12">
        <p-table #dt [value]="mappingList" styleClass="{{tableType}}" [scrollable]="true"  [style]="{width:'100%'}" scrollHeight="500px"
        [paginator]="true" [rows]="10" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[10,25,50]" [globalFilterFields]="globalFilterArray" dataKey="srNo" editMode="row">
        <ng-template pTemplate="caption">
          <!-- <div class="d-flex p-2">
            <div class="p-input-icon-right">
              <i class="fa fa-search"></i>
                <input pInputText type="text" (input)="filterTable($event)" placeholder="Search keyword" />
            </div>
            <div class="ml-auto" *ngIf="isAddBtn">
              <button type="button" class="btn btn-sm btn-primary" pAddRow [table]="dt" [newRow]="newRow()" [disabled]="disableAddBtn">Add Product</button>
            </div>
          </div> -->
        </ng-template>
          <ng-template pTemplate="header">
              <tr>
                <th>Work Center</th>
                <th>Product Name</th>
                <th>Size Code</th>
                <th>Casting Speed (Tons/Min)</th>
                <th>Density (KG/Mtr)</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-mappingRecord let-editing="editing" let-ri="rowIndex">
              <!-- <pre>{{editing}}</pre> -->
              <tr [pEditableRow]="mappingRecord">
                  <td>
                    <p-cellEditor>
                      <ng-template pTemplate="input">
                        <p-dropdown name="wcName_{{ri}}" [options]="workCenterList" [(ngModel)]="mappingRecord.wcName" #wcName="ngModel"
                        [style]="{'width':'100%'}" optionLabel="wcName" appendTo="body" placeholder="Select" optionValue="wcName" [required]="true"
                        [autoDisplayFirst]="false"></p-dropdown>
                        <div *ngIf="mappingRecord.submitted && wcName.errors?.required" class="p-invalid mt-1 font-13">Please select Work Center</div>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{mappingRecord.wcName}}
                    </ng-template>
                    </p-cellEditor>
                  </td>
                  <td>
                    <p-cellEditor>
                      <ng-template pTemplate="input">
                        <p-dropdown name="productName_{{ri}}" [options]="productList" [(ngModel)]="mappingRecord.materialName" #productName="ngModel"
                        [style]="{'width':'100%'}" optionLabel="productName" appendTo="body" placeholder="Select" optionValue="productName" [required]="true"
                        (onChange)="setProductSizes(mappingRecord)" [autoDisplayFirst]="false"></p-dropdown>
                        <div *ngIf="mappingRecord.submitted && productName.errors?.required" class="p-invalid mt-1 font-13">Please select Product</div>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{mappingRecord.materialName}}
                    </ng-template>
                    </p-cellEditor>
                  </td>
                  <td>
                    <p-cellEditor>
                      <ng-template pTemplate="input">
                        <p-dropdown name="sizeCode_{{ri}}" [options]="mappingRecord.sizeList" [(ngModel)]="mappingRecord.sizeCode" #sizeCode="ngModel"
                        [style]="{'width':'100%'}" optionLabel="sizeCode" appendTo="body" placeholder="Select" optionValue="sizeCode" [required]="true"
                        (onChange)="setSizeDesc(mappingRecord)" [autoDisplayFirst]="false"></p-dropdown>
                        <div *ngIf="mappingList.submitted && mappingRecord.errors?.required" class="p-invalid mt-1 font-13">Please select Size</div>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{mappingRecord.sizeCode}}
                    </ng-template>
                    </p-cellEditor>
                  </td>
                  <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input class="w-100" pInputText type="text" name="castingSpeed_{{ri}}" [(ngModel)]="mappingRecord.castingSpeed" pKeyFilter="num" #castingSpeed="ngModel" required>
                            <div *ngIf="mappingRecord.submitted && castingSpeed.errors?.required" class="p-invalid mt-1 font-13">Please enter Casting Speed</div>
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{mappingRecord.castingSpeed}}
                        </ng-template>
                    </p-cellEditor>
                  </td>
                  <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input class="w-100" pInputText type="text" name="density_{{ri}}" maxlength="7" [(ngModel)]="mappingRecord.densityKgPerM" [pattern]="regEX" #density="ngModel"
                                   (change)="setPatternErrStatus(density.errors?.pattern)" required>
                            <div *ngIf="density.errors?.pattern" class="p-invalid mt-1 font-13">Please enter valid number</div>
                            <div *ngIf="mappingRecord.submitted && density.errors?.required" class="p-invalid mt-1 font-13">Please enter Density</div>
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{mappingRecord.densityKgPerM}}
                        </ng-template>
                    </p-cellEditor>
                  </td>
                  <td>
                    <p-cellEditor>
                      <ng-template pTemplate="input">
                        <p-dropdown name="status_{{ri}}" [options]="statusList" [(ngModel)]="mappingRecord.status" #status="ngModel"
                        [style]="{'width':'100%'}" optionLabel="valueDescription" appendTo="body" optionValue="valueShortCode" [required]="true"></p-dropdown>
                        <div *ngIf="mappingRecord.submitted && status.errors?.required" class="p-invalid mt-1 font-13">Please select Status</div>
                      </ng-template>
                      <ng-template pTemplate="output">
                          {{mappingRecord.status}}
                      </ng-template>
                    </p-cellEditor>
                  </td>
                  <td>
                      <i *ngIf="!editing && isEditBtn" pInitEditableRow class="fas fa-pen cursor-pointer mr-2" (click)="onRowEditInit(mappingRecord)"></i>
                      <i *ngIf="editing && isSaveBtn" pSaveEditableRow class="fas fa-check cursor-pointer mr-3 p-1 text-success" (click)="onRowEditSave(mappingRecord, ri)"></i>
                      <i *ngIf="editing && isCloseBtn" pCancelEditableRow class="fas fa-times cursor-pointer p-1 text-danger" (click)="onRowEditCancel(mappingRecord, ri)"></i>

                      <!-- <button *ngIf="editing" type="button" pSaveEditableRow (click)="onRowEditSave(mappingRecord, ri)" class="btn btn-sm btn-primary mr-1">Save</button> -->
                      <!-- <button *ngIf="editing" type="button" pCancelEditableRow (click)="onRowEditCancel(mappingRecord, ri)" class="btn btn-sm btn-dark mr-1">Cancel</button> -->

                      <!-- <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" (click)="onRowEditInit(mappingRecord)" class="p-button-rounded p-button-text"></button>
                      <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onRowEditSave(mappingRecord, ri)" class="p-button-rounded p-button-text p-button-success p-mr-2"></button>
                      <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onRowEditCancel(mappingRecord, ri)" class="p-button-rounded p-button-text p-button-danger"></button> -->
                  </td>
              </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
                <td [attr.colspan]="7">
                    No records found
                </td>
            </tr>
        </ng-template>
      </p-table>
      </div>
    </div>
  </div>
</div>
