<div class="content pt-3 pb-3" #target>
  <!-- <h4 class="font-20 font-weight-bold text-grey mt-1 mb-3 " #target>Batch Acknowledge</h4> -->
  <p-accordion *ngIf="isFilterCrtSec">
    <p-accordionTab header="Filter Criteria" class="card-title font-12 text-grey mb-0 bg-f1"
      [selected]="true">
      <div class="card bg-f1 border-0 p-0">
        <div class="card-body pt-0 pb-2">
          <div class="row">
            <div class="col-12 col-md-7 col-xl-4">
              <lib-jsw-core [componentType]='viewType.form' (changeEvent)="dropdownChangeEvent($event)"
                [formData]='filterCriteria' (jswFormEvent)="getFormRef($event)"></lib-jsw-core>
            </div>
            <div class="col-12 col-md-5 col-xl-4 mt-3" *ngIf="isRetrieveBtn || isResetBtn">
              <button *ngIf="isRetrieveBtn" type="submit" class="btn btn-sm btn-primary mr-3" (click)="retrive()">Retrieve</button>
              <button *ngIf="isResetBtn" type="button" class="btn btn-sm btn-dark" (click)="sharedService.resetForm(filterCriteria,formRef);resetFilter()">Reset</button>
            </div>
          </div>
        </div>
      </div>
    </p-accordionTab>
  </p-accordion>
  <!-- <div class="card bg-f1 border-0 mb-3" *ngIf="isFilterCrtSec">
    <div class="card-body p-3">
      <h6 class="card-title font-weight-bold text-grey mb-3">Filter Criteria</h6>
      <div class="row">
        <div class="col-12 col-md-7 col-xl-4">
          <lib-jsw-core [componentType]='viewType.form' (changeEvent)="dropdownChangeEvent($event)"
            [formData]='filterCriteria' (jswFormEvent)="getFormRef($event)"></lib-jsw-core>
        </div>
        <div class="col-12 col-md-5 col-xl-4 mt-1" *ngIf="isRetrieveBtn || isResetBtn">
          <button *ngIf="isRetrieveBtn" type="submit" class="btn btn-sm btn-primary mr-3" (click)="retrive()">Retrieve</button>
          <button *ngIf="isResetBtn" type="button" class="btn btn-sm btn-dark" (click)="sharedService.resetForm(filterCriteria,formRef);resetFilter()">Reset</button>
        </div>
      </div>
    </div>
  </div> -->

  <div class="card border-0 bg-e57c mt-3" *ngIf="isListSection">

    <div class="card-header bg-primary d-flex">
      <label class="text-white md-text mt-1 mb-0">Batch Details</label>
      <div class="ml-auto" *ngIf="isAckBtn" >
        <button type="submit" class="btn btn-sm btn-link btn-outline-light text-white p-0 ml-3" (click)="acknowledgement()">
          <span class="ml-1 mr-2">
            Acknowledgement
          </span></button>
        
      </div>
    </div>
    <!-- <div class="card-header bg-primary">
      <label class="text-white md-text mt-1 mb-0">Batch Details</label>
    </div> -->
    <div class="card-body p-0">
      <!-- <div class="d-flex p-2" *ngIf="isAckBtn">
        <div class="ml-auto">
          <button type="submit" class="btn btn-sm btn-primary" (click)="acknowledgement()">Acknowledgement</button>
        </div>
      </div> -->
      <lib-jsw-core [componentType]='viewType.dynamicTable' [columns]='columns' [tableData]='billetList'
        [styleClass]="tableType" (getRow)="editRecord($event); sharedService.scroll(target)"></lib-jsw-core>
    </div>
  </div>
</div>
