<div class="card border-0 bg-e57c">
  <div class="card-header bg-primary d-flex">
    <label class="text-white md-text mt-1 mb-0">NDT - ( {{gradeProperties?gradeProperties.psnNo:''}} -
      {{gradeProperties?gradeProperties.gradeName:''}} )</label>
    <div class="ml-auto">
      <button type="submit" class="btn btn-sm btn-outline-light" (click)="saveTableData()">Save</button>
    </div>
  </div>
  <!-- <div class="card-header bg-primary">
      <label class="text-white md-text mt-1 mb-0">NDT - ( {{gradeProperties?gradeProperties.psnNo:''}} - {{gradeProperties?gradeProperties.gradeName:''}} )</label>
    </div> -->
  <div class="card-body p-0">
    <div class="row">
      <div class="col-12">
        <div>
          <p-table [columns]="firstRow" [value]="dummyValues" styleClass="{{tableType}}" [scrollable]="true"
            [style]="{width:'100%'}" scrollHeight="500px" [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [rowsPerPageOptions]="[10,25,50]">
            <ng-template pTemplate="caption" *ngIf="isSaveBtn">
              <!-- <div class="d-flex p-2">
                <div class="ml-auto">
                  <button type="submit"  class="btn btn-sm btn-primary" (click)="saveTableData()" >Save</button>
                </div>                
              </div> -->
            </ng-template>
            <ng-template pTemplate="colgroup" let-columns>
              <colgroup>
                <col *ngFor="let col of secRow" [ngStyle]="{ 'width': col.width }">
              </colgroup>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
              <tr>

                <th *ngFor="let col of columns" [pSortableColumn]="col.field" [attr.rowspan]="col.rowSpan"
                  style="    text-align: center;" [attr.colspan]="col.colSpan">
                  {{col.header}}
                  <span *ngIf="col.sortFieldName">
                    <p-sortIcon [field]="col.sortFieldName"></p-sortIcon>
                  </span>
                </th>
              </tr>

              <tr>
                <th *ngFor="let scol of secRow" [pSortableColumn]="scol.field" [attr.rowspan]="scol.rowSpan"
                  [attr.colspan]="scol.colSpan">
                  {{scol.header}}
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-columns="columns" let-rowData>
              <tr>
                <td *ngFor="let col of secRow" [ngSwitch]="col.columnType">
                  <!-- {{col | json}}
                  {{rowData | json}} -->
                  <ng-container *ngIf="col.columnType == 'String'">
                    {{rowData[col.field]}}
                  </ng-container>
                  <ng-container *ngIf="col.columnType == 'Number'">
                    <input type="text" class="w-100" [(ngModel)]="rowData[col.field]" pInputText />
                  </ng-container>
                  <ng-container *ngIf="col.columnType == 'Dropdown'">
                    <!-- <div *ngIf="rowData.productName == 'LP Flats' && rowData[col.field] == 'mg_insp'">
                      <p-dropdown [options]="col.list" [(ngModel)]="rowData[col.field]" [style]="{'width':'100%'}" optionLabel="displayName"
                     [disabled]="dropDownDisabled" [autoDisplayFirst]="false" placeholder="Select" optionValue="modelValue" appendTo="body" ></p-dropdown>
                    </div> -->
                    <p-dropdown [options]="col.list" [(ngModel)]="rowData[col.field]" [style]="{'width':'100%'}" optionLabel="displayName"
                     [autoDisplayFirst]="false" placeholder="Select" optionValue="modelValue" appendTo="body"
                     [disabled]="rowData.productName == 'TMT' || (rowData.productName == 'LP Flats' && col.field == 'mg_insp drp')
                     || (rowData.productName == 'LP Flats' && col.field == 'ultra drp')" ></p-dropdown>
                  </ng-container>

                  <!-- {{rowData[col.field]}} -->
                </td>
              </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage" let-columns>
              <tr>
                <td [attr.colspan]="columns.length">
                  No records found
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>
</div>