<div class="content pt-3 pb-3" *ngIf="sharedService.isSectionVisible(menuConstants.orderBookSectionIds.List.id, screenStructure)">
  <!-- <h4 class="font-20 font-weight-bold text-grey mt-1 mb-3">Order Book</h4> -->
  <div class="card border-0 mb-3 bg-f1">

    <div class="card-header bg-primary d-flex">
      <label class="text-white md-text mt-1 mb-0 pr-6">Order List</label>

      <label class="text-white md-text mt-1 mb-0 pr-2">Total BTR - </label>
      <span class="text-white pt-1">
        {{totalBtr}}
      </span>
      <label class="text-white md-text mt-1 mb-0 pr-2 pl-1">Total BTC - </label>
      <span class="text-white pt-1">
        {{totalBtc}}
      </span>
      <label class="text-white md-text mt-1 mb-0 pr-2 pl-1">Total SMSWIP - </label>
      <span class="text-white pt-1">
        {{totalSmsWip}}
      </span>
      <label class="text-white md-text mt-1 mb-0 pr-2 pl-1">Total LPWIP - </label>
      <span class="text-white pt-1">
        {{totalLpWip}}
      </span>


      <div class="ml-auto">

        <div class="p-input-icon-right mr-2">
          <i class="fa fa-search"></i>
          <input pInputText type="text" placeholder="Search keyword" (input)="filterTable($event)" />
        </div>
        <button *ngIf="isRefreshBtn" (click)="refreshData()" class="btn btn-sm btn-link btn-outline-light text-white p-0 ml-3">
          <i class="fa fa-refresh mr-2" data-toggle="tooltip" data-placement="top"
            title="Refresh"></i>
            <span class="mr-2">
              Refresh
            </span>
        </button>
        <button *ngIf="isExcelBtn" (click)="downloadFile('excel')" class="btn btn-sm btn-link btn-outline-light text-white p-0 ml-3">
          <i class="fas fa-file-excel mr-1 ml-1 mr-2" data-toggle="tooltip" data-placement="top"
            title="Download PDF File"></i>
            <span class="mr-2">
              Excel
            </span>
        </button>
        <button *ngIf="isPDFBtn" (click)="downloadFile('pdf')" class="btn btn-sm btn-link btn-outline-light text-white p-0 ml-3">
          <i class="fas fa-file-pdf ml-1 mr-2" data-toggle="tooltip" data-placement="top"
            title="Download Excel File"></i>
            <span class="mr-2">
              PDF
            </span>
        </button>
        
      </div>
    </div>
    <div class="card-body p-0">
      <div class="row">
        <div class="col-12">
          <!-- <div class="action-bar p-3">
            <span class="p-input-icon-right">
              <i class="fa fa-search"></i>
              <input pInputText type="text" (input)="filterTable($event)" placeholder="Search keyword" />
            </span>
            <div class="float-right" *ngIf="isPDFBtn || isExcelBtn">
              <button *ngIf="isRefreshBtn" (click)="refreshData()" class="btn btn-sm btn-primary mr-1">
                <i class="mr-2" data-toggle="tooltip" data-placement="top"
                  title="Download Excel File"></i>Refresh
              </button>
              <button *ngIf="isExcelBtn" (click)="downloadFile('excel')" class="btn btn-sm btn-success mr-1">
                <i class="fas fa-file-excel mr-1 ml-1 mr-2" data-toggle="tooltip" data-placement="top"
                  title="Download PDF File"></i>Excel
              </button>
              <button *ngIf="isPDFBtn" (click)="downloadFile('pdf')" class="btn btn-sm btn-danger">
                <i class="fas fa-file-pdf mr-2" data-toggle="tooltip" data-placement="top"
                  title="Download Excel File"></i>PDF
              </button>
              
            </div>
          </div> -->
          
          <div class="card">
            <p-table #dt [columns]="scrollableCols" [frozenColumns]="frozenCols" frozenWidth="700px" [value]="products" styleClass="{{ tableType }}" [scrollable]="true"
             [style]="{ width: '100%' }" scrollHeight="500px" scrollWidth="100%" [paginator]="true"
            [rows]="20" [showCurrentPageReport]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [rowsPerPageOptions]="[20, 30, 40]" [globalFilterFields]="globalFilterArray"
            >
                <ng-template pTemplate="colgroup" let-columns>
                    <colgroup>
                        <col *ngFor="let col of columns" [ngStyle]="{ width: col.width }">
                    </colgroup>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                     
                        <th *ngFor="let col of columns" [ngSwitch]="col.field" 
                        [ngClass]="{'bg-info':col.color === 'primary','bg-sms':col.color === 'info'}">
                          <div class="p-d-flex p-jc-between p-ai-center">
                            <ng-container *ngSwitchCase="'productType'">
                              {{col.header}}
                              <!-- <span class="" pTooltip="Pending to Conf Qty+ Hold qty + Ready for Dispatch + Ready for Next Process [for LP Products]" tooltipPosition="top">
                                {{col.header}} </span> -->
                              <p-columnFilter field="productType" display="menu" matchMode="in" [showMatchModes]="false"
                              [showOperator]="false" [showAddButton]="false" >
                                <ng-template pTemplate="header">
                                  <div class="p-px-3 p-pt-3 p-pb-0">
                                    <span class="p-text-bold">Product Type</span>
                                    
                                  </div>
                                </ng-template>
                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                  <p-multiSelect [ngModel]="value" [options]="productList" placeholder="Any"
                                    optionLabel="displayName" optionValue="displayName" (onChange)="filter($event.value)"
                                    >
                                    <ng-template let-option pTemplate="item">
                                      <div class="p-multiselect-representative-option">
                                        <span class="p-ml-1">{{option.displayName }}</span>
                                      </div>
                                    </ng-template>
                                  </p-multiSelect>
                                </ng-template>
                              </p-columnFilter>
                            </ng-container>
                            <ng-container *ngSwitchCase="'grade'">
                              {{col.header}}
                              <p-columnFilter field="grade" display="menu" matchMode="in" [showMatchModes]="false"
                              [showOperator]="false" [showAddButton]="false">
                              <ng-template pTemplate="header">
                                <div class="p-px-3 p-pt-3 p-pb-0">
                                  <span class="p-text-bold">Grade</span>
                                </div>
                              </ng-template>
                              <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-multiSelect [ngModel]="value" [options]="gradeList" placeholder="Any"
                                  optionLabel="displayName" optionValue="displayName" (onChange)="filter($event.value)">
                                  <ng-template let-option pTemplate="item">
                                    <div class="p-multiselect-representative-option">
                                      <span class="p-ml-1">{{option.displayName}}</span>
                                    </div>
                                  </ng-template>
                                </p-multiSelect>
                              </ng-template>
                            </p-columnFilter>
                            </ng-container>
                            <ng-container *ngSwitchCase="'size'">
                              {{col.header}}
                              <p-columnFilter field="size" display="menu" matchMode="in" [showMatchModes]="false"
                              [showOperator]="false" [showAddButton]="false">
                              <ng-template pTemplate="header">
                                <div class="p-px-3 p-pt-3 p-pb-0">
                                  <span class="p-text-bold">Size</span>
                                </div>
                              </ng-template>
                              <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-multiSelect [ngModel]="value" [options]="sizeList" placeholder="Any"
                                  optionLabel="displayName" optionValue="displayName" (onChange)="filter($event.value)">
                                  <ng-template let-option pTemplate="item">
                                    <div class="p-multiselect-representative-option">
                                      <span class="p-ml-1">{{option.displayName}}</span>
                                    </div>
                                  </ng-template>
                                </p-multiSelect>
                              </ng-template>
                            </p-columnFilter>
                            </ng-container>
                            <ng-container *ngSwitchCase="'soId'">
                              {{col.header}}
                              <p-columnFilter field="soId" display="menu" matchMode="in" [showMatchModes]="false"
                              [showOperator]="false" [showAddButton]="false">
                              <ng-template pTemplate="header">
                                <div class="p-px-3 p-pt-3 p-pb-0">
                                  <span class="p-text-bold">So ID</span>
                                </div>
                              </ng-template>
                              <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-multiSelect [ngModel]="value" [options]="soIdList" placeholder="Any"
                                  optionLabel="displayName" optionValue="displayName" (onChange)="filter($event.value)">
                                  <ng-template let-option pTemplate="item">
                                    <div class="p-multiselect-representative-option">
                                      <span class="p-ml-1">{{option.displayName}}</span>
                                    </div>
                                  </ng-template>
                                </p-multiSelect>
                              </ng-template>
                            </p-columnFilter>
                            </ng-container>
                            <ng-container *ngSwitchCase="'psn'">
                              {{col.header}}
                              <p-columnFilter field="psn" display="menu" matchMode="in" [showMatchModes]="false"
                              [showOperator]="false" [showAddButton]="false">
                              <ng-template pTemplate="header">
                                <div class="p-px-3 p-pt-3 p-pb-0">
                                  <span class="p-text-bold">PSN</span>
                                </div>
                              </ng-template>
                              <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-multiSelect [ngModel]="value" [options]="psnList" placeholder="Any" optionLabel="displayName"
                                  optionValue="displayName" (onChange)="filter($event.value)">
                                  <ng-template let-option pTemplate="item">
                                    <div class="p-multiselect-representative-option">
                                      <span class="p-ml-1">{{option.displayName}}</span>
                                    </div>
                                  </ng-template>
                                </p-multiSelect>
                              </ng-template>
                              </p-columnFilter>
                            </ng-container>
                            <ng-container *ngSwitchCase="'customer'" >
                              {{col.header}}
                              <p-columnFilter field="customer" display="menu" matchMode="in" [showMatchModes]="false"
                              [showOperator]="false" [showAddButton]="false">
                              <ng-template pTemplate="header">
                                <div class="p-px-3 p-pt-3 p-pb-0">
                                  <span class="p-text-bold">Customer</span>
                                </div>
                              </ng-template>
                              <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-multiSelect [ngModel]="value" [options]="customerList" placeholder="Any"
                                  optionLabel="displayName" optionValue="displayName" (onChange)="filter($event.value)">
                                  <ng-template let-option pTemplate="item">
                                    <div class="p-multiselect-representative-option">
                                      <span class="p-ml-1">{{option.displayName}}</span>
                                    </div>
                                  </ng-template>
                                </p-multiSelect>
                              </ng-template>
                              </p-columnFilter>
                            </ng-container>
                            <ng-container *ngSwitchCase="'soReleaseDate'">
                              {{col.header}}
                              <p-columnFilter type="date" field="soReleaseDate" display="menu"></p-columnFilter>
                            </ng-container>
                            <ng-container *ngSwitchCase="'reqDeliveryDate'">
                              {{col.header}}
                              <p-columnFilter type="date" field="reqDeliveryDate" display="menu"></p-columnFilter>
                            </ng-container>
                            <!-- <ng-container *ngSwitchCase="'orderQty'">
                              <span class="" pTooltip="SO Qty [from SAP]" tooltipPosition="top">
                                {{col.header}} </span>
                            </ng-container> -->
                            <!-- <ng-container *ngSwitchCase="'productQuantity'">
                              <span class="" pTooltip="Total : Pending to Conf Qty+ Hold qty + Ready for Dispatch + Ready for Next Process [for LP Products]" tooltipPosition="top">
                                {{col.header}} </span>
                            </ng-container>
                            <ng-container *ngSwitchCase="'orderQty'">
                              <span class="" pTooltip="SO Qty [from SAP]" tooltipPosition="top">
                                {{col.header}} </span>
                            </ng-container> -->
                            <ng-container *ngSwitchDefault>
                              <span class="" pTooltip="{{col.tooltip}}" tooltipPosition="top" *ngIf="col.tooltip">
                                {{col.header}} </span>
                                <span *ngIf="!col.tooltip">
                                  {{col.header}}
                                </span>
                              
                            </ng-container>
                          </div>
                        </th>
                      </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr>
                      <!-- class="height-max-content pt-0 pb-0" -->
                        <td *ngFor="let col of columns" [ngSwitch]="col.columnType" class="height-max-content pt-0 pb-0">
                          <ng-container *ngSwitchCase="columnType.date">
                            {{ rowData[col.field] | date:"short"}}
                          </ng-container>
                          <ng-container *ngSwitchCase="columnType.ellipsis">
                            <div class="st-ellipsis" title="{{rowData[col.field]}}">
                              {{rowData[col.field]}}
                            </div>
                            
                          </ng-container>
                          <ng-container *ngSwitchDefault>
                            {{rowData[col.field]}}
                        </ng-container>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage" let-columns>
                  <tr>
                      <td [attr.colspan]="columns.length">
                          No records found
                      </td>
                  </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
