<div class="content pt-3 pb-3" #target>
  <!-- <h4 class="font-20 font-weight-bold text-grey mt-1 mb-3" #target> QA Release</h4> -->
  <p-accordion *ngIf="isFlCrViewOnly">
    <p-accordionTab header="Filter Criteria" class="card-title font-12 text-grey mb-0 bg-f1"
      [selected]="true">
      <div class="card bg-f1 border-0 p-0">
        <div class="card-body pt-0 pb-2">
          <div class="row">
            <div class="col-12 col-md-7 col-xl-4">
              <lib-jsw-core [componentType]='viewType.form' [formData]='filterFormObject'
            (changeEvent)='dropdownChangeEvent($event)' (jswFormEvent)="getFormRef($event)"></lib-jsw-core>
            </div>
            <div class="col-12 col-md-5 col-xl-4 mt-3">
              <button *ngIf="isFlCrRtrv" type="button" class="btn btn-sm btn-primary mr-3" (click)='getQAReleaseDetails()'>Retrieve</button>
          <button *ngIf="isFlCrRst" type="button" class="btn btn-sm btn-dark" (click)="sharedService.resetForm(filterFormObject,formRef);resetFilter()">Reset</button>
            </div>
          </div>
        </div>
      </div>
    </p-accordionTab>
  </p-accordion>
  <!-- <div class="card bg-f1 border-0 mb-3" *ngIf="isFlCrViewOnly">
    <div class="card-body p-3">
      <h6 class="card-title font-weight-bold text-grey mb-3">Filter Criteria</h6>
      <div class="row">
        <div class="col-12 col-md-7 col-xl-4">
          <lib-jsw-core [componentType]='viewType.form' [formData]='filterFormObject'
            (changeEvent)='dropdownChangeEvent($event)' (jswFormEvent)="getFormRef($event)"></lib-jsw-core>
        </div>
        <div class="col-12 col-md-5 col-xl-4 mt-1">
          <button *ngIf="isFlCrRtrv" type="button" class="btn btn-sm btn-primary mr-3" (click)='getQAReleaseDetails()'>Retrieve</button>
          <button *ngIf="isFlCrRst" type="button" class="btn btn-sm btn-dark" (click)="sharedService.resetForm(filterFormObject,formRef);resetFilter()">Reset</button>
        </div>
      </div>
    </div>
  </div> -->
  <div class="card border-0 bg-e57c mt-3" *ngIf="batchDetails"> 
    <div class="card-header bg-primary d-flex">
      <label class="text-white md-text mt-1 mb-0">Batch Details</label>
      <div class="ml-auto" >
        <button type="submit" class="btn btn-sm btn-link btn-outline-light text-white p-0 ml-3" *ngIf="batchDetailsSave" (click)="saveBatchDetails()"><i
          class="fa fa-save ml-1 mr-2" data-toggle="tooltip" data-placement="top"
          title="Save"></i><span class="mr-2">
            Save
          </span></button>
      </div>
    </div>
    <!-- <div class="card-header bg-primary">
      <label class="text-white md-text mt-1 mb-0">Batch Details</label>
    </div> -->
    <div class="card-body p-0">
      <!-- <div class="d-flex p-2">
        <div class="ml-auto">
          <button type="submit" class="btn btn-sm btn-primary" *ngIf="batchDetailsSave" (click)="saveBatchDetails()">Save</button>
        </div>
      </div> -->
      <p-table #dt [columns]="columns" [value]="QAReleaseDetails" styleClass="{{tableType}}" [scrollable]="true"
        [style]="{width:'100%'}" scrollHeight="500px" [rows]="10" [(selection)]="selectedRecords"
        [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [globalFilterFields]="globalFilterArray">
        <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
            <col *ngFor="let col of columns" [ngStyle]="{ 'width': col.width }">
          </colgroup>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field" [ngSwitch]="col.columnType">
              <ng-container *ngSwitchCase="columnType.checkbox">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
              </ng-container>
              <ng-container *ngSwitchDefault>
                {{col.header}}
                <span *ngIf="col.sortFieldName">
                  <p-sortIcon [field]="col.sortFieldName"></p-sortIcon>
                </span>
              </ng-container>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-columns="columns" let-rowData let-ri="rowIndex">
          <tr>
            <td *ngFor="let col of columns;let index = index" [ngSwitch]="col.columnType">
              <ng-container *ngSwitchCase="columnType.radio">
                <div class="text-center">
                  <p-radioButton inputId="rowIndex" name={{ri}} [value]="true" [(ngModel)]="rowData[col.field]"
                    (onClick)="isRadioButtonChecked(col.field, col.header,rowData)"></p-radioButton>
                </div>
              </ng-container>
              <ng-container *ngSwitchDefault>
                <div *ngIf="col.field != 'message'">
                  {{rowData[col.field]}}
                </div>
              
                <div *ngIf="col.field == 'message'" class="p-invalid mt-1 font-13 float-right">
                  {{rowData[col.field]}}
                </div>
              </ng-container>
              <ng-container *ngSwitchCase="columnType.ellipsis">
                <div class="st-ellipsis" title="{{rowData[col.field]}}">
                  {{rowData[col.field]}}
                </div>
                
              </ng-container>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
          <tr>
              <td [attr.colspan]="columns.length">
                  No records found
              </td>
          </tr>
      </ng-template>
      </p-table>
    </div>
  </div>

  <p-dialog [(visible)]="openGradeChangeModel" [modal]="true" [style]="{width: '60vw'}" [maximizable]="true"
    [baseZIndex]="10000" [draggable]="false" [resizable]="false">
    <p-header>
      <h6 class="text-dark font-nBold d-inline-block">Change Grade</h6>
    </p-header>
    <div class="card mb-3">
      <div class="row card-body">
        <div class="col-12">
          <lib-jsw-core [componentType]='viewType.form' [formData]='filterCriteria'></lib-jsw-core>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="row card-body">
        <div class="col-12 bg-secondary text-white rounded-top py-2">
          <h6 class="mb-0 my-1">Details of Chemical Components</h6>
        </div>
        <div class="col-3 py-1 border" *ngFor="let item of chemicalobject">
          <div class="row">
            <div class="col-6">
              <input type="text" class="form-control border-0" placeholder="item.elementName"
                [(ngModel)]="item.elementName" [disabled]=true>
            </div>
            <div class="col-6">
              <input type="text" class="form-control xxs-text" placeholder={{item.elementValue}}
                [(ngModel)]="item.elementValue">
            </div>
          </div>
        </div>
        <div *ngIf='chemicalobject.length == 0'>
          No Chemical Details Available
        </div>
      </div>
    </div>

    <div class="text-right mt-2">
      <button class="btn btn-sm btn-primary text-uppercase md-w font-nRegular mr-2"
        (click)="validateGradeValues()">Validate</button>
      <button class="btn btn-sm btn-primary text-uppercase md-w font-nRegular mr-2"
        (click)="saveQaReleaseNewGradeChange()">Change</button>
      <button class="btn btn-sm btn-dark text-uppercase md-w font-nRegular mr-2"
        (click)="closeGradeChangePopup('manualClose')">Close</button>
    </div>
  </p-dialog>
</div>
