<div class="content pb-3" #target>
    <!-- <h4 class="font-20 font-weight-bold text-grey mt-1 mb-3" #target>Production Confirmation</h4> -->
    <div class="card border-0 bg-e57c mt-3">
        <div class="row">
            <div class="col-12" *ngIf="isProdSection">
                <div class="card border-0 bg-e57c">
                    <div class="card-header bg-primary d-flex">
                        <label class="text-white md-text mt-1 mb-0">Product Type Details</label>
                        <div class="ml-auto" >
                          <div class="p-input-icon-right mr-2">
                            <i class="fa fa-search"></i>
                            <input pInputText type="text" placeholder="Search keyword" (input)="newfilterTable($event)" />
                          </div>
                          <button *ngIf="isRefreshBtn" (click)="btnClicked('refresh')" class="btn btn-sm btn-link btn-outline-light text-white p-0 ml-3"><i
                              class="fa fa-refresh mr-2" data-toggle="tooltip" data-placement="top"
                              title="Refresh"></i>
                              <span class="ml-1 mr-2">
                                Refresh
                              </span></button>
                          <button *ngIf="isReleaseBtn" (click)="btnClicked('release')" class="btn btn-sm btn-link btn-outline-light text-white p-0 ml-3"><i
                              class=" mr-2" data-toggle="tooltip" data-placement="top"
                              title="Releasee"></i>
                              <span class="ml-1 mr-2">
                                Release
                              </span></button>
                        </div>
                      </div>
                    <!-- <div class="card-header bg-primary">
                        <label class="text-white md-text mt-1 mb-0">Product Type Details</label>
                    </div> -->
                    <div class="card-body p-0">

                        <lib-jsw-core  [componentType]='viewType.dynamicTable' [columns]='columns'
                                [tableData]='productionList' [styleClass]="tableType"
                                [globalFilterArray]="globalFilterArray" [isClearSelection]="true" [clearSelectionEvent]="clearSelection.asObservable()"
                                (getRow)="selectedBatchRecord($event)" [isDeleteAction]="false"
                                [isEditAction]="false" [isMultiDelete]="false" [showGlobalFilter]="false" 
                                (ptableEvent)="getTableRef($event)">
                                </lib-jsw-core>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
