<div class="content pt-3 pb-3" *ngIf="isListSection">
  <div #target ></div>
  <!-- <h4 class="font-20 font-weight-bold text-grey mt-1 mb-3" #target>Re-Application</h4> -->

  <p-accordion>
    <p-accordionTab header="Filter Criteria" class="card-title font-12 text-grey mb-0 bg-f1"
      [selected]="true">
      <div class="card bg-f1 border-0 p-0">
        <div class="card-body pt-0 pb-2">
          <div class="row">
            <div class="col-12 col-md-8 col-xl-8">
              <lib-jsw-core [componentType]='viewType.form' (changeEvent)="dropdownChangeEventForFilter($event)"
      [formData]='filterCriteria' (jswFormEvent)="getFormRef($event)"></lib-jsw-core>
            </div>
            <div class="col-12 col-md-4 col-xl-4 mt-3">
              <button  type="submit" class="btn btn-sm btn-primary mr-3" (click)="retrive()">Retrieve</button>
        <button  type="button" class="btn btn-sm btn-dark" (click)="sharedService.resetForm(filterCriteria,formRef);resetFilter()">Reset</button>
            </div>
          </div>
        </div>
      </div>
    </p-accordionTab>

  </p-accordion>
  <!-- <div class="card bg-f1 border-0 mb-3">
    <div class="card-body p-3">
      <h6  class="card-title font-weight-bold text-grey mb-3">Filter Criteria</h6>
      <lib-jsw-core [componentType]='viewType.form' (changeEvent)="dropdownChangeEventForFilter($event)"
      [formData]='filterCriteria' (jswFormEvent)="getFormRef($event)"></lib-jsw-core>
      <div class="text-right">
        <button  type="submit" class="btn btn-sm btn-primary mr-3" (click)="retrive()">Retrieve</button>
        <button  type="button" class="btn btn-sm btn-dark" (click)="sharedService.resetForm(filterCriteria,formRef);resetFilter()">Reset</button>
      </div>
    </div>
  </div> -->
  <div class="card border-0 bg-e57c mt-3">
    <div class="card-header bg-primary">
      <div class="row">
        <div class="col-2">
          <label class="text-white md-text mt-1 mb-0">Details Of Order</label>
        </div>
      </div>
    </div>
    <div class="card-body p-0">
      <div class="row">
        <div class="col-12">
          <p-table #dt [columns]="columns" [value]="reapplicationList" styleClass="{{tableType}}" [scrollable]="true"
             [style]="{width:'100%'}" scrollHeight="500px" [paginator]="true" [rows]="10"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [rowsPerPageOptions]="[10,25,50]" [globalFilterFields]="globalFilterArray"
            (openModalEvent)='showDialog()' [(selection)]="selectedOrderlist">
            <ng-template pTemplate="caption">
              <div *ngIf="selectedQuantity > 0" class="d-flex p-2">
                <input pInputText type="text"  name="selectedQuantity"
                  placeholder="Weight" [(ngModel)]="selectedQuantity" disabled />
                <div *ngIf="isReapplyListBtn" class="ml-auto">
                  <button type="button" (click)="showDialog()"
                    class="btn btn-sm btn-primary">Re-Apply
                  </button>
                </div>
              </div>
            </ng-template>
            <ng-template pTemplate="colgroup" let-columns>
              <colgroup>
                <col *ngFor="let col of columns" [ngStyle]="{ 'width': col.width }">
              </colgroup>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th *ngFor="let col of columns" [ngSwitch]="col.field">
                  <div class="p-d-flex p-jc-between p-ai-center">
                    <ng-container *ngSwitchCase="'product'">
                      {{col.header}}
                      <p-columnFilter field="product" display="menu" matchMode="in" [showMatchModes]="false"
                        [showOperator]="false" [showAddButton]="false">
                        <ng-template pTemplate="header">
                          <div class="p-px-3 p-pt-3 p-pb-0">
                            <span class="p-text-bold">Product </span>
                          </div>
                        </ng-template>
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                          <p-multiSelect [ngModel]="value" [options]="productList" placeholder="Any"
                            optionLabel="displayName" optionValue="displayName" (onChange)="filter($event.value)">
                            <ng-template let-option pTemplate="item">
                              <div class="p-multiselect-representative-option">
                                <span class="p-ml-1">{{option.displayName }}</span>
                              </div>
                            </ng-template>
                          </p-multiSelect>
                        </ng-template>
                      </p-columnFilter>
                    </ng-container>
                    <ng-container *ngSwitchCase="'batchID'">
                      {{col.header}}
                      <p-columnFilter field="batchID" display="menu" matchMode="in" [showMatchModes]="false"
                        [showOperator]="false" [showAddButton]="false">
                        <ng-template pTemplate="header">
                          <div class="p-px-3 p-pt-3 p-pb-0">
                            <span class="p-text-bold">batch ID </span>
                          </div>
                        </ng-template>
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                          <p-multiSelect [ngModel]="value" [options]="batchList" placeholder="Any"
                            optionLabel="displayName" optionValue="displayName" (onChange)="filter($event.value)">
                            <ng-template let-option pTemplate="item">
                              <div class="p-multiselect-representative-option">
                                <span class="p-ml-1">{{option.displayName}}</span>
                              </div>
                            </ng-template>
                          </p-multiSelect>
                        </ng-template>
                      </p-columnFilter>
                    </ng-container>
                    <ng-container *ngSwitchCase="'heatNo'">
                      {{col.header}}
                      <p-columnFilter field="heatNo" display="menu" matchMode="in" [showMatchModes]="false"
                        [showOperator]="false" [showAddButton]="false">
                        <ng-template pTemplate="header">
                          <div class="p-px-3 p-pt-3 p-pb-0">
                            <span class="p-text-bold">Heat No</span>
                          </div>
                        </ng-template>
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                          <p-multiSelect [ngModel]="value" [options]="heatList" placeholder="Any"
                            optionLabel="displayName" optionValue="displayName" (onChange)="filter($event.value)">
                            <ng-template let-option pTemplate="item">
                              <div class="p-multiselect-representative-option">
                                <span class="p-ml-1">{{ option.displayName}}</span>
                              </div>
                            </ng-template>
                          </p-multiSelect>
                        </ng-template>
                      </p-columnFilter>
                    </ng-container>
                    <ng-container *ngSwitchCase="'grade'">
                      {{col.header}}
                      <p-columnFilter field="grade" display="menu" matchMode="in" [showMatchModes]="false"
                        [showOperator]="false" [showAddButton]="false">
                        <ng-template pTemplate="header">
                          <div class="p-px-3 p-pt-3 p-pb-0">
                            <span class="p-text-bold">Grade</span>
                          </div>
                        </ng-template>
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                          <p-multiSelect [ngModel]="value" [options]="gradeList" placeholder="Any"
                            optionLabel="displayName" optionValue="displayName" (onChange)="filter($event.value)">
                            <ng-template let-option pTemplate="item">
                              <div class="p-multiselect-representative-option">
                                <span class="p-ml-1">{{option.displayName}}</span>
                              </div>
                            </ng-template>
                          </p-multiSelect>
                        </ng-template>
                      </p-columnFilter>
                    </ng-container>
                    <ng-container *ngSwitchCase="'salesorder'">
                      {{col.header}}
                      <p-columnFilter field="salesorder" display="menu" matchMode="in" [showMatchModes]="false"
                        [showOperator]="false" [showAddButton]="false">
                        <ng-template pTemplate="header">
                          <div class="p-px-3 p-pt-3 p-pb-0">
                            <span class="p-text-bold">Sales Order</span>
                          </div>
                        </ng-template>
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                          <p-multiSelect [ngModel]="value" [options]="salesorderList" placeholder="Any"
                            optionLabel="displayName" optionValue="displayName" (onChange)="filter($event.value)">
                            <ng-template let-option pTemplate="item">
                              <div class="p-multiselect-representative-option">
                                <span class="p-ml-1">{{option.displayName}}</span>
                              </div>
                            </ng-template>
                          </p-multiSelect>
                        </ng-template>
                      </p-columnFilter>
                    </ng-container>
                    <ng-container *ngSwitchCase="'customerName'">
                      {{col.header}}
                      <p-columnFilter field="customerName" display="menu" matchMode="in" [showMatchModes]="false"
                        [showOperator]="false" [showAddButton]="false">
                        <ng-template pTemplate="header">
                          <div class="p-px-3 p-pt-3 p-pb-0">
                            <span class="p-text-bold">Customer Name</span>
                          </div>
                        </ng-template>
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                          <p-multiSelect [ngModel]="value" [options]="customernameList" placeholder="Any"
                            optionLabel="displayName" optionValue="displayName" (onChange)="filter($event.value)">
                            <ng-template let-option pTemplate="item">
                              <div class="p-multiselect-representative-option">
                                <span class="p-ml-1">{{option.displayName}}</span>
                              </div>
                            </ng-template>
                          </p-multiSelect>
                        </ng-template>
                      </p-columnFilter>
                    </ng-container>
                    <ng-container *ngSwitchCase="'productSize'">
                      {{col.header}}
                      <p-columnFilter field="productSize" display="menu" matchMode="in" [showMatchModes]="false"
                        [showOperator]="false" [showAddButton]="false">
                        <ng-template pTemplate="header">
                          <div class="p-px-3 p-pt-3 p-pb-0">
                            <span class="p-text-bold">Product Size</span>
                          </div>
                        </ng-template>
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                          <p-multiSelect [ngModel]="value" [options]="productsizeList" placeholder="Any"
                            optionLabel="displayName" optionValue="displayName" (onChange)="filter($event.value)">
                            <ng-template let-option pTemplate="item">
                              <div class="p-multiselect-representative-option">
                                <span class="p-ml-1">{{option.displayName}}</span>
                              </div>
                            </ng-template>
                          </p-multiSelect>
                        </ng-template>
                      </p-columnFilter>
                    </ng-container>
                    <ng-container *ngSwitchCase="'length'">
                      {{col.header}}
                      <p-columnFilter field="length" display="menu" matchMode="in" [showMatchModes]="false"
                        [showOperator]="false" [showAddButton]="false">
                        <ng-template pTemplate="header">
                          <div class="p-px-3 p-pt-3 p-pb-0">
                            <span class="p-text-bold">Length</span>
                          </div>
                        </ng-template>
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                          <p-multiSelect [ngModel]="value" [options]="lengthList" placeholder="Any"
                            optionLabel="displayName" optionValue="displayName" (onChange)="filter($event.value)">
                            <ng-template let-option pTemplate="item">
                              <div class="p-multiselect-representative-option">
                                <span class="p-ml-1">{{option.displayName}}</span>
                              </div>
                            </ng-template>
                          </p-multiSelect>
                        </ng-template>
                      </p-columnFilter>
                    </ng-container>
                    <ng-container *ngSwitchCase="'weight'">
                      {{col.header}}
                      <p-columnFilter field="weight" display="menu" matchMode="in" [showMatchModes]="false"
                        [showOperator]="false" [showAddButton]="false">
                        <ng-template pTemplate="header">
                          <div class="p-px-3 p-pt-3 p-pb-0">
                            <span class="p-text-bold">weight(tons)</span>
                          </div>
                        </ng-template>
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                          <p-multiSelect [ngModel]="value" [options]="weightList" placeholder="Any"
                            optionLabel="displayName" optionValue="displayName" (onChange)="filter($event.value)">
                            <ng-template let-option pTemplate="item">
                              <div class="p-multiselect-representative-option">
                                <span class="p-ml-1">{{option.displayName}}</span>
                              </div>
                            </ng-template>
                          </p-multiSelect>
                        </ng-template>
                      </p-columnFilter>
                    </ng-container>
                    <ng-container *ngSwitchDefault>
                      {{col.header}}
                    </ng-container>
                  </div>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-columns="columns" let-rowData>
              <tr>
                <td *ngFor="let col of columns" [ngSwitch]="col.columnType">
                  <ng-container *ngSwitchCase="columnType.checkbox">
                    <p-tableCheckbox [value]="rowData" (click)="getTotalQuantity()" [disabled]="rowData['disabled']">
                    </p-tableCheckbox>
                  </ng-container>
                  <ng-container *ngSwitchCase="columnType.text">
                    <input type="text" class="w-100" pInputText [(ngModel)]="rowData[col.field]" />
                  </ng-container>
                  <ng-container *ngSwitchCase="columnType.date">
                    {{ rowData[col.field] | date : "short" }}
                  </ng-container>
                  <ng-container *ngSwitchCase="columnType.action">
                  </ng-container>
                  <ng-container *ngSwitchDefault>
                    {{rowData[col.field]}}
                    <div class="p-invalid mt-1 font-13"
                      *ngIf="rowData['isProductSizeError'] && col.header=='Product Size'">
                      Product Size is not matching
                    </div>
                    <div class="p-invalid mt-1 font-13" *ngIf="rowData['isGradeSizeError'] && col.header=='Grade'">
                      Grade is not matching
                    </div>
                    <div class="p-invalid mt-1 font-13" *ngIf="rowData['isWeightError'] && col.header=='weight'">
                      Weight is not matching
                    </div>
                    <div class="p-invalid mt-1 font-13" *ngIf="rowData['isLengthError'] && col.header=='Length'">
                      Length is not matching
                    </div>
                    <div class="p-invalid mt-1 font-13" *ngIf="rowData['isClassError'] && col.header=='Material Class'">
                      Class is not matching
                    </div>
                  </ng-container>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage" let-columns>
              <tr>
                <td [attr.colspan]="columns.length">
                  No records found
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>
</div>
<p-dialog header="Re-Apply To" [(visible)]="display" [style]="{width: '70vw',height:'340px'}" [baseZIndex]="10000"
  class="card full-height-dialog" [modal]="true" (onHide)="doSomething($event)">
  <div class="p-field-radiobutton">
    <input type="checkbox" [checked]="ncoClicked" label="NCO" (change)="NCOclicked($event)">
    <label for="nco">NCO</label>
  </div>
  <div class="col-12 pt-4 pb-1 px-4 bg-white rounded-sm mb-4">
    <lib-jsw-core [componentType]='viewType.form' [formData]='formObject1' (changeEvent)="dropdownChangeEvent($event)">
    </lib-jsw-core>
    <div class="text-right mb-3" *ngIf="isCloseBtn || isReapplyModalBtn">
      <button *ngIf="isCloseBtn" type="button" class="btn btn-sm btn-dark" (click)="closeModal()">Close</button> &nbsp;
      <button *ngIf="isReapplyModalBtn" type="submit" class="btn btn-sm btn-primary" (click)="getReapplyDetails('')">Re-Apply</button>
    </div>
  </div>
</p-dialog>
<p-confirmDialog [style]="{width: '30vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text">
</p-confirmDialog>
