 <!-- <p-table
[columns]="columns"  [value]="orderList" styleClass="{{tableType}}" [scrollable]="true"  [(selection)]="selectedOrderlist"
 [style]="{ width: '100%' }" scrollHeight="200px" scrollWidth="100%" [paginator]="true"
[rows]="10" [showCurrentPageReport]="true"
currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
[rowsPerPageOptions]="[10, 25, 50]">
<ng-template pTemplate="colgroup" let-columns>
  <colgroup>
    <col *ngIf="showCheckbox" style="width: 50px;">
    <col *ngFor="let col of columns" [ngStyle]="{ width: col.width }" />
  </colgroup>
</ng-template>
<ng-template pTemplate="header">
  <tr>
    <th *ngIf="showCheckbox"></th>
    <th *ngFor="let col of columns" [ngSwitch]="col.field">
      <div class="p-d-flex p-jc-between p-ai-center">
        <ng-container *ngSwitchCase="'productType'">
          {{col.header}}
          <p-columnFilter field="productType" display="menu" matchMode="in" [showMatchModes]="false"
          [showOperator]="false" [showAddButton]="false">
            <ng-template pTemplate="header">
              <div class="p-px-3 p-pt-3 p-pb-0">
                <span class="p-text-bold">Product Type</span>
              </div>
            </ng-template>
            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
              <p-multiSelect [ngModel]="value" [options]="productList" placeholder="Any"
                optionLabel="displayName" optionValue="displayName" (onChange)="filter($event.value)">
                <ng-template let-option pTemplate="item">
                  <div class="p-multiselect-representative-option">
                    <span class="p-ml-1">{{option.displayName }}</span>
                  </div>
                </ng-template>
              </p-multiSelect>
            </ng-template>
          </p-columnFilter>
        </ng-container>
        <ng-container *ngSwitchCase="'grade'">
          {{col.header}}
          <p-columnFilter field="grade" display="menu" matchMode="in" [showMatchModes]="false"
          [showOperator]="false" [showAddButton]="false">
          <ng-template pTemplate="header">
            <div class="p-px-3 p-pt-3 p-pb-0">
              <span class="p-text-bold">Grade</span>
            </div>
          </ng-template>
          <ng-template pTemplate="filter" let-value let-filter="filterCallback">
            <p-multiSelect [ngModel]="value" [options]="gradeList" placeholder="Any"
              optionLabel="displayName" optionValue="displayName" (onChange)="filter($event.value)">
              <ng-template let-option pTemplate="item">
                <div class="p-multiselect-representative-option">
                  <span class="p-ml-1">{{ option.displayName}}</span>
                </div>
              </ng-template>
            </p-multiSelect>
          </ng-template>
        </p-columnFilter>
        </ng-container>
        <ng-container *ngSwitchCase="'size'">
          {{col.header}}
          <p-columnFilter field="size" display="menu" matchMode="in" [showMatchModes]="false"
          [showOperator]="false" [showAddButton]="false">
          <ng-template pTemplate="header">
            <div class="p-px-3 p-pt-3 p-pb-0">
              <span class="p-text-bold">Size</span>
            </div>
          </ng-template>
          <ng-template pTemplate="filter" let-value let-filter="filterCallback">
            <p-multiSelect [ngModel]="value" [options]="sizeList" placeholder="Any"
              optionLabel="displayName" optionValue="displayName" (onChange)="filter($event.value)">
              <ng-template let-option pTemplate="item">
                <div class="p-multiselect-representative-option">
                  <span class="p-ml-1">{{option.displayName}}</span>
                </div>
              </ng-template>
            </p-multiSelect>
          </ng-template>
        </p-columnFilter>
        </ng-container>
        <ng-container *ngSwitchCase="'soId'">
          {{col.header}}
          <p-columnFilter field="soId" display="menu" matchMode="in" [showMatchModes]="false"
          [showOperator]="false" [showAddButton]="false">
          <ng-template pTemplate="header">
            <div class="p-px-3 p-pt-3 p-pb-0">
              <span class="p-text-bold">So ID</span>
            </div>
          </ng-template>
          <ng-template pTemplate="filter" let-value let-filter="filterCallback">
            <p-multiSelect [ngModel]="value" [options]="soIdList" placeholder="Any"
              optionLabel="displayName" optionValue="displayName" (onChange)="filter($event.value)">
              <ng-template let-option pTemplate="item">
                <div class="p-multiselect-representative-option">
                  <span class="p-ml-1">{{option.displayName}}</span>
                </div>
              </ng-template>
            </p-multiSelect>
          </ng-template>
        </p-columnFilter>
        </ng-container>
        <ng-container *ngSwitchCase="'psn'">
          {{col.header}}
          <p-columnFilter field="psn" display="menu" matchMode="in" [showMatchModes]="false"
          [showOperator]="false" [showAddButton]="false">
          <ng-template pTemplate="header">
            <div class="p-px-3 p-pt-3 p-pb-0">
              <span class="p-text-bold">PSN</span>
            </div>
          </ng-template>
          <ng-template pTemplate="filter" let-value let-filter="filterCallback">
            <p-multiSelect [ngModel]="value" [options]="psnList" placeholder="Any" optionLabel="displayName"
              optionValue="displayName" (onChange)="filter($event.value)">
              <ng-template let-option pTemplate="item">
                <div class="p-multiselect-representative-option">
                  <span class="p-ml-1">{{option.displayName}}</span>
                </div>
              </ng-template>
            </p-multiSelect>
          </ng-template>
          </p-columnFilter>
        </ng-container>
        <ng-container *ngSwitchCase="'customer'">
          {{col.header}}
          <p-columnFilter field="customer" display="menu" matchMode="in" [showMatchModes]="false"
          [showOperator]="false" [showAddButton]="false">
          <ng-template pTemplate="header">
            <div class="p-px-3 p-pt-3 p-pb-0">
              <span class="p-text-bold">Customer</span>
            </div>
          </ng-template>
          <ng-template pTemplate="filter" let-value let-filter="filterCallback">
            <p-multiSelect [ngModel]="value" [options]="customerList" placeholder="Any"
              optionLabel="displayName" optionValue="displayName" (onChange)="filter($event.value)">
              <ng-template let-option pTemplate="item">
                <div class="p-multiselect-representative-option">
                  <span class="p-ml-1">{{option.displayName}}</span>
                </div>
              </ng-template>
            </p-multiSelect>
          </ng-template>
          </p-columnFilter>
        </ng-container>
        <ng-container *ngSwitchCase="'soReleaseDate'">
          {{col.header}}
          <p-columnFilter type="date" field="soReleaseDate" display="menu"></p-columnFilter>
        </ng-container>
        <ng-container *ngSwitchCase="'reqDeliveryDate'">
          {{col.header}}
          <p-columnFilter type="date" field="reqDeliveryDate" display="menu"></p-columnFilter>
        </ng-container>
        <ng-container *ngSwitchDefault>
          {{col.header}}
        </ng-container>
      </div>
    </th>
  </tr>
</ng-template>
<ng-template pTemplate="body" let-rowData>
  <tr>
    <td *ngIf="showCheckbox">
      <p-tableCheckbox [value]="rowData" (click)="getTotalQuantity()"></p-tableCheckbox>
    </td>
    <td *ngFor="let col of columns" [ngSwitch]="col.columnType">
      <ng-container *ngSwitchCase="columnType.date">
        {{ rowData[col.field] | date:"short"}}
      </ng-container>
      <ng-container *ngSwitchDefault>
        {{rowData[col.field]}}
    </ng-container>
    </td>
  <tr>
</ng-template>
<ng-template pTemplate="emptymessage" let-columns>
  <tr>
      <td [attr.colspan]="columns.length">
          No records found
      </td>
  </tr>
</ng-template>
</p-table>  -->

<p-table #dt [columns]="columns" [frozenColumns]="frozenCols" frozenWidth="450px" [value]="orderList"
  styleClass="{{ tableType }}" [scrollable]="true" [style]="{ width: '100%' }" scrollHeight="500px" scrollWidth="100%"
  [paginator]="true" [rows]="10" [showCurrentPageReport]="true" [(selection)]="selectedOrderlist"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10, 25, 50]">
  <ng-template pTemplate="colgroup" let-columns>
    <colgroup>
      <col *ngFor="let col of columns" [ngStyle]="{ width: col.width }">
    </colgroup>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns" [ngSwitch]="col.field">
        <div class="p-d-flex p-jc-between p-ai-center">
          <ng-container *ngSwitchCase="'productType'">
            {{col.header}}
            <p-columnFilter field="productType" display="menu" matchMode="in" [showMatchModes]="false"
              [showOperator]="false" [showAddButton]="false">
              <ng-template pTemplate="header">
                <div class="p-px-3 p-pt-3 p-pb-0">
                  <span class="p-text-bold">Product Type</span>
                </div>
              </ng-template>
              <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                <p-multiSelect [ngModel]="value" [options]="productList" placeholder="Any" optionLabel="displayName"
                  optionValue="displayName" (onChange)="filter($event.value)">
                  <ng-template let-option pTemplate="item">
                    <div class="p-multiselect-representative-option">
                      <span class="p-ml-1">{{option.displayName }}</span>
                    </div>
                  </ng-template>
                </p-multiSelect>
              </ng-template>
            </p-columnFilter>
          </ng-container>
          <ng-container *ngSwitchCase="'grade'">
            {{col.header}}
            <p-columnFilter field="grade" display="menu" matchMode="in" [showMatchModes]="false" [showOperator]="false"
              [showAddButton]="false">
              <ng-template pTemplate="header">
                <div class="p-px-3 p-pt-3 p-pb-0">
                  <span class="p-text-bold">Grade</span>
                </div>
              </ng-template>
              <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                <p-multiSelect [ngModel]="value" [options]="gradeList" placeholder="Any" optionLabel="displayName"
                  optionValue="displayName" (onChange)="filter($event.value)">
                  <ng-template let-option pTemplate="item">
                    <div class="p-multiselect-representative-option">
                      <span class="p-ml-1">{{ option.displayName}}</span>
                    </div>
                  </ng-template>
                </p-multiSelect>
              </ng-template>
            </p-columnFilter>
          </ng-container>
          <ng-container *ngSwitchCase="'size'">
            {{col.header}}
            <p-columnFilter field="size" display="menu" matchMode="in" [showMatchModes]="false" [showOperator]="false"
              [showAddButton]="false">
              <ng-template pTemplate="header">
                <div class="p-px-3 p-pt-3 p-pb-0">
                  <span class="p-text-bold">Size</span>
                </div>
              </ng-template>
              <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                <p-multiSelect [ngModel]="value" [options]="sizeList" placeholder="Any" optionLabel="displayName"
                  optionValue="displayName" (onChange)="filter($event.value)">
                  <ng-template let-option pTemplate="item">
                    <div class="p-multiselect-representative-option">
                      <span class="p-ml-1">{{option.displayName}}</span>
                    </div>
                  </ng-template>
                </p-multiSelect>
              </ng-template>
            </p-columnFilter>
          </ng-container>
          <ng-container *ngSwitchCase="'soId'">
            {{col.header}}
            <p-columnFilter field="soId" display="menu" matchMode="in" [showMatchModes]="false" [showOperator]="false"
              [showAddButton]="false">
              <ng-template pTemplate="header">
                <div class="p-px-3 p-pt-3 p-pb-0">
                  <span class="p-text-bold">So ID</span>
                </div>
              </ng-template>
              <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                <p-multiSelect [ngModel]="value" [options]="soIdList" placeholder="Any" optionLabel="displayName"
                  optionValue="displayName" (onChange)="filter($event.value)">
                  <ng-template let-option pTemplate="item">
                    <div class="p-multiselect-representative-option">
                      <span class="p-ml-1">{{option.displayName}}</span>
                    </div>
                  </ng-template>
                </p-multiSelect>
              </ng-template>
            </p-columnFilter>
          </ng-container>
          <ng-container *ngSwitchCase="'psn'">
            {{col.header}}
            <p-columnFilter field="psn" display="menu" matchMode="in" [showMatchModes]="false" [showOperator]="false"
              [showAddButton]="false">
              <ng-template pTemplate="header">
                <div class="p-px-3 p-pt-3 p-pb-0">
                  <span class="p-text-bold">PSN</span>
                </div>
              </ng-template>
              <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                <p-multiSelect [ngModel]="value" [options]="psnList" placeholder="Any" optionLabel="displayName"
                  optionValue="displayName" (onChange)="filter($event.value)">
                  <ng-template let-option pTemplate="item">
                    <div class="p-multiselect-representative-option">
                      <span class="p-ml-1">{{option.displayName}}</span>
                    </div>
                  </ng-template>
                </p-multiSelect>
              </ng-template>
            </p-columnFilter>
          </ng-container>
          <ng-container *ngSwitchCase="'customer'">
            {{col.header}}
            <p-columnFilter field="customer" display="menu" matchMode="in" [showMatchModes]="false"
              [showOperator]="false" [showAddButton]="false">
              <ng-template pTemplate="header">
                <div class="p-px-3 p-pt-3 p-pb-0">
                  <span class="p-text-bold">Customer</span>
                </div>
              </ng-template>
              <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                <p-multiSelect [ngModel]="value" [options]="customerList" placeholder="Any" optionLabel="displayName"
                  optionValue="displayName" (onChange)="filter($event.value)">
                  <ng-template let-option pTemplate="item">
                    <div class="p-multiselect-representative-option">
                      <span class="p-ml-1">{{option.displayName}}</span>
                    </div>
                  </ng-template>
                </p-multiSelect>
              </ng-template>
            </p-columnFilter>
          </ng-container>
          <ng-container *ngSwitchCase="'soReleaseDate'">
            {{col.header}}
            <p-columnFilter type="date" field="soReleaseDate" display="menu"></p-columnFilter>
          </ng-container>
          <ng-container *ngSwitchCase="'reqDeliveryDate'">
            {{col.header}}
            <p-columnFilter type="date" field="reqDeliveryDate" display="menu"></p-columnFilter>
          </ng-container>
          <ng-container *ngSwitchDefault>
            {{col.header}}
          </ng-container>
        </div>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr>
      <td *ngFor="let col of columns" [ngSwitch]="col.columnType"
      [ngClass]="(col.columnType == columnType.checkbox) ? 'pb-0' : ''">
        <ng-container *ngSwitchCase="columnType.checkbox">
          <p-tableCheckbox [value]="rowData" (click)="getTotalQuantity()"></p-tableCheckbox>
        </ng-container>
        <ng-container *ngSwitchCase="columnType.date">
          {{ rowData[col.field] | date:"short"}}
        </ng-container>
        <ng-container *ngSwitchCase="columnType.ellipsis">
          <div class="st-ellipsis" title="{{rowData[col.field]}}">
            {{rowData[col.field]}}
          </div>
        </ng-container>
        <ng-container *ngSwitchDefault>
          {{rowData[col.field]}}
        </ng-container>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage" let-columns>
    <tr>
      <td [attr.colspan]="columns.length">
        No records found
      </td>
    </tr>
  </ng-template>
</p-table>
<div class="row mt-3" *ngIf="showSelectedQuantity">
  <div class="col-3">
    <input type="text" class="form-control" name="selectedQuantity" placeholder="Selected Quantity"
      [(ngModel)]="selectedQuantity" disabled />
  </div>
  <div class="col-9" *ngIf="isInsertBtn">
    <div class="float-right">
      <button type="button" class="btn btn-sm btn-primary mr-3" (click)="insertOrder()">Insert Order</button>
    </div>
  </div>
</div>
