<div class="content pt-3 pb-3" #target>
  <!-- <h4 class="font-20 font-weight-bold text-grey mt-1 mb-3" #target> Sample Mech Properties</h4> -->
  <p-accordion *ngIf="isFlCrViewOnly">
    <p-accordionTab header="Filter Criteria" class="card-title font-12 text-grey mb-0 bg-f1"
      [selected]="true">
      <div class="card bg-f1 border-0 p-0">
        <div class="card-body pt-0 pb-2">
          <div class="row">
            <div class="col-12 col-md-8 col-xl-8">
              <lib-jsw-core [componentType]='viewType.form' [formData]='formObject'></lib-jsw-core>
            </div>
            <div class="col-12 col-md-5 col-xl-4 mt-3">
              <button *ngIf="isFlCrRtrv" type="button" class="btn btn-sm btn-primary mr-3" (click)="filterSampleMechDetails()">Retrieve</button>
        <button *ngIf="isFlCrRst" type="button" class="btn btn-sm btn-dark" (click)="resetForm()">Reset</button>
            </div>
          </div>
        </div>
      </div>
    </p-accordionTab>
  </p-accordion>
  <!-- <div class="card bg-f1 border-0 mb-3">
    <div class="card-body p-3" *ngIf="isFlCrViewOnly">
      <h6 class="card-title font-weight-bold text-grey mb-3">Filter Criteria</h6>
      <lib-jsw-core [componentType]='viewType.form' [formData]='formObject'></lib-jsw-core>
      <div class="text-right">
        <button *ngIf="isFlCrRtrv" type="button" class="btn btn-sm btn-primary mr-3" (click)="filterSampleMechDetails()">Retrieve</button>
        <button *ngIf="isFlCrRst" type="button" class="btn btn-sm btn-dark" (click)="resetForm()">Reset</button>
      </div>
    </div>
  </div> -->
  <div class="card border-0 bg-e57c mt-3">
    <div class="card border-0 bg-e57c mb-3" *ngIf="isBatchDetails">
      <div class="card-header bg-primary">
        <label class="text-white md-text mt-1 mb-0">Batch Details</label>
      </div>
      <div class="card-body p-0">
        <lib-jsw-core [componentType]='viewType.dynamicTable' [columns]='columns' [tableData]='sampleMechDetailsList'
          [isClearSelection]="true" [clearSelectionEvent]="clearSelection.asObservable()" [styleClass]="tableType"
          [isDeleteAction]="false" [isEditAction]="true" [isMultiDelete]="false" (editEvent)="editRecord($event);sharedService.scroll(target)"
          (getRow)="getsampleMechPropDetails($event);sharedService.scroll(propDetails)"></lib-jsw-core>
      </div>
    </div>
  </div>
  <div class="card border-0 bg-e57c mt-4 p-3" *ngIf="showmechprop && isMechProps">
    <div class="d-flex mb-2">
        <h6 class="card-title font-weight-bold text-grey mt-2 mb-2">Sample Properties Details </h6>
      <div class="ml-auto">
        <label class="label-value bg-white p-2 rounded-lg mt-1 mr-3"> Bundle ID: {{ mechdata.bundleId}} </label>
                  <label class="label-value bg-white p-2 rounded-lg mt-1 mr-3">  Bundle Weight(tons): {{mechdata.bundleWeight}} </label>
                  <label class="label-value bg-white p-2 rounded-lg mt-1 mr-3">  Sample Count: {{mechdata.sampleCount}} </label>
                  <button *ngIf="mapMaterial" type="submit" class="btn btn-sm btn-dark mr-2" (click)="showDialog()">Map Material</button>
      </div>
    </div>
    <div class="row">
      <div class="col-6" >
        <div class="card border-0 bg-e57c ">
          <div class="card-body p-0">
                <p-table class="table-height-300" [value]="mechProplist" (openModalEvent)='showDialog()'  [scrollable]="true" [style]="{width:'100%'}"  [rows]="5" scrollHeight="300px" >
                  <ng-template pTemplate="header">
                    <tr>
                      <th>Mech Properties-{{sampleId}}</th>
                      <th>
                        <!-- <button *ngIf="isSave" type="submit" class="btn btn-sm btn-primary float-right" (click)="saveMechPropDetails(mechdata)">Save</button> -->
                      </th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-mechProplist>
                    <tr [ngSwitch]="mechProplist.propValueType">
                      <ng-container *ngSwitchCase="clmtxt">
                        <td><label>{{mechProplist.propName}}</label></td>
                        <td>
                          <input type="'text'" class="w-100 " #porperties="ngModel" pKeyFilter="num" [pattern]="regEX" pInputText [(ngModel)]="mechProplist.value"
                            [ngModelOptions]="{standalone: true}">
                            <div *ngIf="mechProplist.validationType == clmEql && mechProplist.value && (mechProplist.value != mechProplist.max)" class="p-invalid mt-1 font-12 float-right">
                              Valid Value is {{mechProplist.max}}
                            </div>
                            <div *ngIf="mechProplist.validationType == clmRange && mechProplist.value && (mechProplist.value < mechProplist.min || mechProplist.value > mechProplist.max)" class="p-invalid mt-1 font-12 float-right">
                              Valid range is {{mechProplist.min}}-{{mechProplist.max}}
                            </div>
                        </td>
                      </ng-container>
                      <ng-container *ngSwitchCase="clmdrp">
                        <td><label>{{mechProplist.propName}}</label></td>
                        <td>
                          <p-dropdown id="dd" class="w-100" inputId="propdd" name="propdd" [autoDisplayFirst]="false"
                            [options]="mechProplist.dropDownValues" [(ngModel)]="mechProplist.value" #bendlist="ngModel"
                            optionLabel="displayName" appendTo="body" optionValue="modelValue" [required]="true" [showClear]="true">
                          </p-dropdown>
                          <div *ngIf="mechProplist.value && (mechProplist.selectedValue) && (mechProplist.value != mechProplist.selectedValue)" class="p-invalid mt-1 font-12 float-right">
                            Valid Value is {{mechProplist.selectedName}}
                      </div>
                        </td>
                      </ng-container>
                    </tr>
                  
                    
                  </ng-template>
                  <ng-template pTemplate="emptymessage" let-mechProplist>
                    <tr>
                        <td>
                            No records found
                        </td>
                    </tr>
                  </ng-template>
                </p-table>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="card border-0 bg-e57c ">
          <div class="card-body p-0">
                <p-table class="table-height-300"  [value]="metalProplist" (openModalEvent)='showDialog()'[style]="{width:'100%'}" [scrollable]="true" [rows]="5" scrollHeight="300px">
                  <ng-template pTemplate="header">
                    <tr>
                      <th colspan='4'>Metal Properties-{{sampleId}}</th>
                      <th><button *ngIf="isSave" type="submit" class="btn btn-sm btn-primary float-right"  (click)="saveMetalPropDetails(metalProplist)">Save</button></th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-metalProplist>
                    <tr [ngSwitch]="metalProplist.propValueType">
                      <ng-container *ngSwitchCase="clmtxt">
                        <td><label>{{metalProplist.propName}}</label></td>
                        <td>
                          <input type="'text'" class="w-100 " #porperties="ngModel" pKeyFilter="num" [pattern]="regEX" pInputText [(ngModel)]="metalProplist.value"
                            [ngModelOptions]="{standalone: true}">
                            <div *ngIf="metalProplist.validationType == clmEql && metalProplist.value && (metalProplist.value != metalProplist.max)" class="p-invalid mt-1 font-12 float-right">
                              Valid Value is {{metalProplist.max}}
                            </div>
                            <div *ngIf="metalProplist.validationType == clmRange && metalProplist.value && (metalProplist.value < metalProplist.min || metalProplist.value > metalProplist.max)" class="p-invalid mt-1 font-12 float-right">
                              Valid range is {{metalProplist.min}}-{{metalProplist.max}}
                            </div>
                        </td>
                      </ng-container>
                      <ng-container *ngSwitchCase="clmdrp">
                        <td><label>{{metalProplist.propName}}</label></td>
                        <td>
                          <p-dropdown id="dd" class="w-100" inputId="propdd" name="propdd" [autoDisplayFirst]="false"
                            [options]="metalProplist.dropDownValues" [(ngModel)]="metalProplist.value" #bendlist="ngModel"
                            placeholder="Select" optionLabel="displayName" appendTo="body" optionValue="modelValue" [required]="true" [showClear]="true">
                          </p-dropdown>
                          <div *ngIf="metalProplist.value && metalProplist.selectedValue && (metalProplist.value != metalProplist.selectedValue)" class="p-invalid mt-1 font-12 float-right">
                            Valid Value is {{metalProplist.selectedName}}
                      </div>
                        </td>
                      </ng-container>
                    </tr>
                  
                   
                  </ng-template>
                  <ng-template pTemplate="emptymessage" let-metalProplist>
                    <tr>
                        <td>
                            No records found
                        </td>
                    </tr>
                  </ng-template>
                </p-table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div #propDetails></div>
<p-dialog header="Bundle List" [(visible)]="display" [style]="{width: '40vw',height:'340px'}" [baseZIndex]="10000"
  class="card full-height-dialog" [modal]="true">
  <div class="p-field-radiobutton">
  </div>
  <div class="card-body p-0">
    <div class="row">
      <div class="col-12">
        <lib-jsw-core [componentType]='viewType.dynamicTable' [columns]='BatchIdcolumns' [tableData]='batchIDList'
          [styleClass]="tableType" [isDeleteAction]="false" [isEditAction]="true" [isMultiDelete]="false"
          [showGlobalFilter]="false"></lib-jsw-core>
      </div>
    </div>
  </div>
</p-dialog>
