<div class="content pt-3 pb-3" #target>
  <!-- <h4 class="font-20 font-weight-bold text-grey mt-1 mb-3" #target>NDT</h4> -->
  <p-accordion *ngIf="isFilterSection">
    <p-accordionTab header="Filter Criteria" class="card-title font-12 text-grey mb-0 bg-f1"
      [selected]="true">
      <div class="card bg-f1 border-0 p-0">
        <div class="card-body pt-0 pb-2">
          <div class="row">
            <div class="col-12 col-md-4 col-xl-4">
              <lib-jsw-core [componentType]='viewType.form' [formData]='filterCriteriaForm'
                (changeEvent)="dropDownChangeEvent($event)"></lib-jsw-core>
            </div>
            <div class="col-12 col-md-8 col-xl-8 mt-3">
              <button *ngIf="isFlCrRtrvBtn" type="button" class="btn btn-sm btn-primary mr-3" (click)="filterData()"> Retrieve</button>
              <button *ngIf="isFlCrRstBtn" type="button" class="btn btn-sm btn-dark" (click)="reset()">Reset</button>
            </div>
          </div>
        </div>
      </div>
    </p-accordionTab>
  </p-accordion>
  <!-- <div class="card bg-f1 border-0 mb-3" *ngIf="isFilterSection">
    <div class="card-body p-3">
      <h6 class="card-title font-weight-bold text-grey mb-3">Filter Criteria</h6>
      <div class="row">
        <div class="col-12 col-md-4 col-xl-4">
          <lib-jsw-core [componentType]='viewType.form' [formData]='filterCriteriaForm'
            (changeEvent)="dropDownChangeEvent($event)"></lib-jsw-core>
        </div>
        <div class="col-12 col-md-8 col-xl-8 mt-1">
          <button *ngIf="isFlCrRtrvBtn" type="button" class="btn btn-sm btn-primary mr-3" (click)="filterData()"> Retrieve</button>
          <button *ngIf="isFlCrRstBtn" type="button" class="btn btn-sm btn-dark" (click)="reset()">Reset</button>
        </div>
      </div>
    </div>
  </div> -->
  <div class="row mt-3" *ngIf="isNDTDetails">
    <div [ngClass]="{'col-md-12 col-xl-12': !selectedSample, 'col-md-5 col-xl-5': selectedSample}">
      <div class="card border-0 bg-e57c">
        <div class="card-header bg-primary" >
          <label class="text-white md-text mt-1 mb-0">NDT Details</label>
        </div>
        <div class="card-body p-0">
          <lib-jsw-core [componentType]='viewType.dynamicTable' [columns]='columns' [tableData]='ndtDetails'
          [styleClass]="tableType" [isDeleteAction]="false" [isEditAction]="false" [isMultiDelete]="false"
          (getRow)="getSampleTestDetails($event)"></lib-jsw-core>
        </div>
      </div>
    </div>
    <div *ngIf="selectedSample && isTestDetails" class="col-md-7 col-xl-7">
      <div class="card border-0 bg-e57c">
        <div class="card-header bg-primary" >
          <label class="text-white md-text mt-1 mb-0">Test Details of Sample Id - {{selectedSample.sampleId}}</label>
          <div class="float-right" *ngIf="isSaveBtn">
            <button (click)="saveDetails()" class="btn btn-sm btn-link btn-outline-light text-white p-0 mr-1"><i
              class="fa fa-save ml-1 mr-2" data-toggle="tooltip" data-placement="top"
              title="Save"></i><span class="mr-2">
                Save
              </span></button>
          </div>
        </div>
        <div class="card-body p-0">
          <!-- <div class="d-flex p-2">
            <div class="ml-auto">
              <button type="submit" class="btn btn-sm btn-primary mr-10p" *ngIf="isSaveBtn" (click)="saveDetails()">Save</button>
            </div>
          </div> -->
          <p-table #dt [columns]="sampleTestColumns" [value]="testDetails" styleClass="{{tableType}}" [scrollable]="true"  [style]="{width:'100%'}" scrollHeight="500px"
          [paginator]="true" [rows]="10" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
          [rowsPerPageOptions]="[10,25,50]">
            <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                  <col *ngFor="let col of sampleTestColumns" [ngStyle]="{ 'width': col.width }">
                </colgroup>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of sampleTestColumns" [pSortableColumn]="col.field">
                        {{col.header}}
                        <span *ngIf="col.sortFieldName"><p-sortIcon  [field]="col.sortFieldName"></p-sortIcon></span>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-columns="sampleTestColumns" let-rowData let-ri="rowIndex">
                <tr>
                    <td *ngFor="let col of sampleTestColumns" [ngSwitch]="col.field">
                      <!-- <ng-container *ngSwitchCase="'testType'">
                        <p-dropdown id="testType" name="testType" inputId="testType" [autoDisplayFirst]="false" [options]="testTypes" [(ngModel)]="rowData[col.field]"
                        #testType="ngModel" [style]="{'width':'100%'}" optionLabel="displayName" appendTo="body" optionValue="modelValue" [required]="true">
                        </p-dropdown>
                        <div *ngIf="submitted && testType.errors?.required" class="p-invalid mt-1 font-13">Please select Test Type</div>
                      </ng-container> -->
                      <ng-container *ngSwitchCase="'selectedSubType'">
                        <ng-container *ngIf="rowData.subTestType.length">
                          <p-dropdown id="selectedSubTest" name="selectedSubTest" inputId="selectedSubTest" [autoDisplayFirst]="false" [options]="rowData.subTestType" [(ngModel)]="rowData[col.field]"
                            #selectedSubTest="ngModel" [style]="{'width':'100%'}" optionLabel="displayName" appendTo="body" optionValue="modelValue" [required]="true" placeholder="Select">
                          </p-dropdown>
                          <div *ngIf="submitted && selectedSubTest.errors?.required" class="p-invalid mt-1 font-13">Please select Sub Test Type</div>
                        </ng-container>
                      </ng-container>
                      <ng-container *ngSwitchCase="'value'">
                        <p-dropdown id="testResult" name="testResult" inputId="testResult" [autoDisplayFirst]="false" [options]="rowData.testResultBoList" [(ngModel)]="rowData[col.field]"
                        #testResult="ngModel" [style]="{'width':'100%'}" optionLabel="displayName" appendTo="body" optionValue="modelValue" [required]="true" placeholder="Select">
                        </p-dropdown>
                        <div *ngIf="submitted && testResult.errors?.required" class="p-invalid mt-1 font-13">Please select Test Result</div>
                      </ng-container>
                      <ng-container *ngSwitchDefault>
                          {{ ((col.columnType == columnType.date) ? (rowData[col.field] | date : "short") :  rowData[col.field]) }}
                      </ng-container>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage" let-columns>
              <tr>
                  <td [attr.colspan]="sampleTestColumns.length">
                      No records found
                  </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>
</div>

