<div class="row justify-content-center">
  <div class="col-8 card shadow-sm">
      <div class="row p-5">
          <div class="col-6">
              <img class="img-fluid" src="assets/images/jsw-steel-logo.png" class="height-60 mb-2" alt="logo">
              <h1 class="mb-0">Welcome to</h1>
              <h5 class="ml-2">JSW MES System</h5>
          </div>
          <div class="col-6">
              <h4 class="mb-4">Login</h4>
              <form [formGroup]="userForm" (submit)="loginUser()">
                  <div id="userName" class="form-group">
                      <input type="text" name="username" class="form-control" formControlName="username" placeholder="User Name" minlength="4"
                          maxlength="20" autocomplete="off" required />

                          <!-- <span class="text-danger xxs-text"
                              [hidden]="!userForm['controls'].username.errors?.minlength">
                              Username should contain atleast 4 characters</span> -->

                  </div>

                  <div id="pwd" class="form-group">
                      <input type="password" id="name" name="password" class="form-control" placeholder="Password" formControlName="password"
                          minlength="6" maxlength="20" required  autocomplete="off"/>

                          <!-- <span class="text-danger xxs-text"
                              [hidden]="!userForm['controls'].password.errors?.minlength">
                              Password should contain atleast 6 characters</span> -->

                  </div>

                  <div *ngIf="roleList.length" id="role" class="form-group">
                      <select class="form-control" (change)="changeRole($event)" formControlName="userRole" [required]="isRoleRequired">
                          <option value="" disabled>Select Role</option>
                          <option *ngFor="let role of roleList" [value]="role.role">{{role.role}}</option>
                      </select>

                          <span class="text-danger xxs-text"
                              [hidden]="!userForm['controls'].userRole.errors?.required">
                              Please select role</span>

                  </div>

                  <div class="d-flex">
                      <a class="xs-text flex-grow-1 pt-1" [routerLink]="['/user-auth/forgotPassword']">Forgot Password</a>
                      <button *ngIf="!roleList.length" class="btn btn-sm btn-primary text-uppercase px-4" [disabled]="userForm.invalid"
                          type="submit">Login</button>
                      <button *ngIf="roleList.length" class="btn btn-sm btn-primary text-uppercase px-4" [disabled]="userForm.invalid"
                      type="button" (click)="navigateToModule_()">Go!</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>
