<div class="content pt-2 pb-3" #target>
  <!-- <h4 class="font-20 font-weight-bold text-grey mt-1 mb-3" #target>Bundle Production</h4> -->
  <app-filter-criteria [screen]="'bundleProd'" (setBundleDetails)="setBundleDetails($event)" (ResetBundleDetails)="ResetFilter()"
    [refreshShiftDataEvent]="refreshShiftDetails.asObservable()" [Resetbtn]="isResetBtn" [Retrivebtn]="isRetrieveBtn"
    [filterCriteriaDisplay]="isfilterCriteriaScreen" [PlanShiftDisplay]="isPlan_shiftScreen"
    (setAllBundleDetails)="setAllBundleDetails($event)"></app-filter-criteria>
  <div class="card border-0 bg-e57c mt-1"  *ngIf="isbundledetailsScreen">
    <div class="row">
      <div class="col-12">
        <div class="card border-0 bg-e57c">
          <div class="card-header bg-primary">
            <label class="text-white md-text mt-1 mb-0">Bundle Details</label>
          </div>
          <div class="card-body p-0">
            <div class="row">
              <div class="col-12 col-p-10">
                <!-- <lib-jsw-core [componentType]='viewType.form' [formData]='formObject'></lib-jsw-core> -->
                <form #bundleForm="ngForm" (ngSubmit)="bundleForm.form.valid && generateBundle()" class="mb-3 mt-3 px-3" novalidate>
                  <div class="row">
                    <div class="col-6 col-sm-4 col-lg-2">
                      <div class="p-float-label w-100">
                        <p-dropdown id="stacker" inputId="stacker" name="stacker" [autoDisplayFirst]="false" [options]="stackerList"
                        [(ngModel)]="bundleData.stackerId" #stacker="ngModel" optionLabel="displayName"
                        appendTo="body" optionValue="modelValue" [required]="true" [showClear]="true" [disabled]="stackerList && stackerList.length == 1">
                        </p-dropdown>
                        <label>Stacker</label>
                        <div *ngIf="bundleForm.submitted && stacker.invalid" class="p-invalid mt-1 font-12 float-right">
                          <div *ngIf="stacker.errors?.required">Required</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-6 col-sm-4 col-lg-2">
                      <div class="p-float-label w-100">
                        <p-dropdown id="strap" name="strap" inputId="strap" [autoDisplayFirst]="false" [options]="strapList"
                          [(ngModel)]="bundleData.selectedStrap" #strap="ngModel" optionLabel="displayName"
                          appendTo="body" optionValue="modelValue" [showClear]="true" [required]="true"
                          [autoZIndex]="false">
                          <ng-template let-selectedOption pTemplate="item">
                            <div class="country-item">
                              <div>{{selectedOption.displayName}}</div>
                            </div>
                          </ng-template>
                        </p-dropdown>
                        <label>Strap</label>
                        <!-- <div *ngIf="isSearchTriggered && scheduleId.errors?.required" class="p-invalid mt-1 font-13">Please select Schedule Id</div> -->
                        <div *ngIf="bundleForm.submitted && strap.invalid" class="p-invalid mt-1 font-12 float-right">
                          <div *ngIf="strap.errors?.required">Required</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-6 col-sm-4 col-lg-2">
                      <div class="p-float-label w-100">
                        <p-dropdown id="noOfStraps" name="noOfStraps" inputId="noOfStraps" [autoDisplayFirst]="false"
                          [options]="strapNoList" [(ngModel)]="bundleData.selectedStrapNo" #strapNo="ngModel"
                          optionLabel="displayName" appendTo="body" optionValue="modelValue"
                          [showClear]="true" [required]="true">
                        </p-dropdown>
                        <label>Strap No</label>
                        <div *ngIf="bundleForm.submitted && strapNo.invalid" class="p-invalid mt-1 font-12 float-right">
                          <div *ngIf="strapNo.errors?.required">Required</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-6 col-sm-4 col-lg-2 col-xl-1  mb-2 mb-lg-0">
                      <div class="p-float-label w-100">
                        <p-inputNumber id="bundleLength" name="bundleLength" [(ngModel)]="bundleData.bundleLength"
                          #bundleLength="ngModel" mode="decimal" inputId="bundleLength" [useGrouping]="false"
                          [required]="true"></p-inputNumber>
                        <label>Cust. Length</label>
                        <div *ngIf="bundleData.bundleLength && (bundleData.bundleLength < minLength || bundleData.bundleLength > maxLength)" class="p-invalid mt-1 font-12 float-right">
                          Please enter length in the range of {{minLength}}-{{maxLength}}
                        </div>
                        <!-- <div *ngIf="bundleForm.submitted && bundleLength.invalid" class="p-invalid mt-1 font-12 float-right">
                          <div *ngIf="bundleLength.errors.required">Required</div>
                        </div> -->
                      </div>
                    </div>
                    <div class="col-6 col-sm-4 col-lg-2 col-xl-1 mb-2 mb-lg-0">
                      <div class="p-float-label w-100">
                        <p-inputNumber id="qtyPcs" name="qtyPcs" [(ngModel)]="bundleData.qtyPcs" #qtyPcs="ngModel"
                          mode="decimal" inputId="qtyPcs" [useGrouping]="false" [required]="true" (onBlur)="setBundleWt()"></p-inputNumber>
                        <label>Qty Pcs</label>
                        <div *ngIf="bundleForm.submitted && qtyPcs.invalid" class="p-invalid mt-1 font-12 float-right">
                          <div *ngIf="qtyPcs.errors.required">Required</div>
                        </div>
                        <div *ngIf="isInvalidPcs()" class="p-invalid mt-1 font-12 float-right">
                          Pcs should not be be more than {{validationDetails.pcQty}}
                        </div>
                      </div>
                    </div>
                    <div class="col-6 col-sm-4 col-lg-1 mb-2 mb-lg-0">
                      <div class="p-float-label w-100">
                        <input type="'number'" pKeyFilter="num" class="w-100" pInputText [(ngModel)]="bundleData.bundleWt"
                        #bundleWt="ngModel" name="bundleWt" (change)="setBundlePcs()">
                        <!-- <p-inputNumber id="bundleWt" name="bundleWt" [(ngModel)]="bundleData.bundleWt"
                          #bundleWt="ngModel" mode="decimal" inputId="bundleWt" [useGrouping]="false" [required]="true" 
                          (onBlur)="setBundlePcs()">
                        </p-inputNumber> -->
                        <label>Bun Wt(tons)</label>
                        <div *ngIf="bundleForm.submitted && bundleWt.invalid" class="p-invalid mt-1 font-12 float-right">
                          <div *ngIf="bundleWt.errors?.required">Required</div>
                        </div>
                        <div *ngIf="isInvalidBundleWt()" class="p-invalid mt-1 font-12 float-right">
                          Bundle weight should be between {{(validationDetails.bundleWeightMin)/1000}} tons to {{(validationDetails.bundleWeightMax)/1000}} tons
                        </div>
                      </div>
                    </div>
                    <div class="col-6 col-sm-4 col-lg mt-2 mt-xl-0">
                      <button type="submit"  *ngIf="isGnrtBtn" class="btn btn-sm btn-primary mr-3">Generate</button>
                      <button type="button" class="btn btn-sm btn-primary mr-3" (click)="downloadFile('csv')">Download</button>
                    </div>
                  </div>
                </form>
                <!-- <div class="action-bar p-3">
                  <span class="p-input-icon-right">
                    <i class="fa fa-search"></i>
                    <input pInputText type="text" (input)="filterTable($event)" placeholder="Search keyword" />
                  </span>
                </div> -->
                <lib-jsw-core [componentType]='viewType.dynamicTable' [columns]='batchColumns' [tableData]='batchList'
                  [styleClass]="tableType" [isDeleteAction]="false" [isEditAction]="false" [isMultiDelete]="false"
                  [showGlobalFilter]="false" [globalFilterArray]="globalFilterArray" (ptableEvent)="getTableRef($event)"></lib-jsw-core>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<p-dialog header="Confirmation" [(visible)]="display" [style]="{width: '50vw'}" [baseZIndex]="10000" [modal]="true">
  <div class="col-12 pt-4 pb-1 px-4 bg-white rounded-sm mb-4">
    <h6 class="mb-3">{{generateBundleResponse?.changeType}} event occured. Please select action to proceed further.</h6>
    <div class="p-field-radiobutton">
      <p-radioButton name="selectedAction" value="additionalBundle" [(ngModel)]="selectedAction" inputId="additionalBundle"></p-radioButton>
      <label for="additionalBundle">Produce Extra Bundle</label>
    </div>
    <div class="p-field-radiobutton">
        <p-radioButton name="selectedAction" value="consume" [(ngModel)]="selectedAction" inputId="consume"></p-radioButton>
        <label for="consume">Consume/Scrap</label>
    </div>
    <!-- <div class="p-field-radiobutton">
        <p-radioButton name="selectedAction" value="skip" [(ngModel)]="selectedAction" inputId="skip"></p-radioButton>
        <label for="skip">Skip</label>
    </div> -->
  </div>
  <ng-template pTemplate="footer">
    <button type="button" class="btn btn-sm btn-dark" (click)="closeModal()">Close</button> &nbsp;
    <button type="submit" class="btn btn-sm btn-primary" (click)="confirm()">Continue</button>
  </ng-template>
</p-dialog>

<!-- added for print on bundle Generate 21-12-2021-->
<p-dialog header="Sticker Print" [(visible)]="printDisplay" [style]="{width: '50vw'}" [baseZIndex]="10000" [modal]="true">
  <div class="content">
    
    <div class="card bg-f1 border-0 p-0  pt-3">
        <div class="card-body pt-0 pb-2">
            <div class="bg-white print-sticker ml-4 mt-2" id="print-section">
                <div class="pl-3 mt-3">
                   <h5 class="font-weight-bold m-0 pt-4">
                    JSW Ispat Special Products Limited<br>
                   </h5> 
                    (Formerly Known as Monnet Ispat & Energy Limited)<br>
                </div>
                <div *ngIf="stickerParms" class="pt-2 ml-3 mt-3 font-14">
                    <div class="row">
                        <div class="col-12">
                            Mfg. Prod./Date : {{stickerParms.prodDate | date : "short"}}<br> 
                        </div>
                        <div class="col-12 mt-3">
                            Heat No. : {{stickerParms.heatNo}}<br>
                        </div>
                        <div class="col-12 mt-3">
                            Grade : {{stickerParms.grade}}<br>
                        </div>
                        <div class="col-12 mt-3">
                            Weight : {{stickerParms.weight}}<br>
                        </div>
                        <div class="col-12 mt-3">
                            Quality : {{stickerParms.quality}}<br>
                        </div>
                        <div class="col-12 mt-3">
                            Batch ID : {{stickerParms.batchId}}<br>
                        </div>
                        <div class="col-12 mt-3">
                            Size : {{stickerParms.size}}<br>
                        </div>
                        <div class="col-12 mt-3">
                            Length : {{stickerParms.length}}<br>
                        </div>
                        <div class="col-12 mt-3">
                            No. of pcs : {{stickerParms.noOfPcs}}<br>
                        </div>
                    </div>
                    <!-- Mfg. Prod./Date : {{stickerParms.prodDate | date : "short"}}<br>
                    Heat No. : {{stickerParms.heatNo}}<br>
                    Grade : {{stickerParms.grade}}<br>
                    Weight : {{stickerParms.weight}}<br>
                    Quality : {{stickerParms.quality}}<br>
                    Batch ID : {{stickerParms.batchId}}<br>
                    Size : {{stickerParms.size}}<br>
                    Length : {{stickerParms.length}}<br>
                    No. of pcs : {{stickerParms.noOfPcs}}<br> -->
                </div>
                <div *ngIf="barCode" class="print-sticker pt-2">
                    <div class="row mt-4">
                        <div class="col-7 pr-0">
                            <img [src]='barCode' class="mt-5 pt-2 w-100"/>
                        </div>
                        <div class="col-5 mt-2 pl-0">
                            <img [src]='qrCode' class="height-110"/>
                        </div>
                    </div>
                    
                    
                </div>
            </div>

          
            
            <!-- <button type="button" class="btn btn-sm btn-primary mr-3" (click)="print()">Print</button> -->
            <button class="btn btn-sm btn-primary mr-3 mt-3" [useExistingCss]="true" printSectionId="print-section" ngxPrint>print</button> 
        </div>
    </div>
</div>
</p-dialog>
