<div class="content pt-3 pb-3" #target>
  <!-- <h4 class="font-20 font-weight-bold text-grey mt-1 mb-3" #target>Bundle Quality Clearance</h4> -->
  <div class="card border-0 bg-e57c mb-3" *ngIf="isViewOnly">
    <div class="card-header bg-primary d-flex">
      <label class="text-white md-text mt-1 mb-0">Bundle Details</label>
      <div class="ml-auto" >
        <button type="submit" class="btn btn-sm btn-link btn-outline-light text-white p-0 ml-3" *ngIf="isSave" (click)="saveBundleQuality($event)"><i
          class="fa fa-save ml-1 mr-2" data-toggle="tooltip" data-placement="top"
          title="Save"></i><span class="mr-2">
            Save
          </span></button>
          <button type="submit" class="btn btn-sm btn-link btn-outline-light text-white p-0 ml-3" (click)="releaseBundleQuality()">
            <span class="ml-1 mr-2">
              Release
            </span></button>
      </div>
    </div>
    <!-- <div class="card-header bg-primary">
      <label class="text-white md-text mt-1 mb-0">Bundle Details</label>
    </div> -->
    <div class="card-body p-0">
      <!-- <div class="d-flex p-2">
        <div class="ml-auto">
          <button type="submit" class="btn btn-sm btn-primary mr-10p" *ngIf="isSave" (click)="saveBundleQuality($event)">Save</button>
          <button type="submit" class="btn btn-sm btn-primary" (click)="releaseBundleQuality()">Release</button>
        </div>
      </div> -->
      <p-table #dt [columns]="columns" [value]="BundleQualityList" styleClass="{{tableType}}" [scrollable]="true"
        [style]="{width:'100%'}" scrollHeight="500px" [paginator]="true" [rows]="5" [(selection)]="selectedRecords"
        [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[10,25,50]">
        <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
            <col *ngFor="let col of columns" [ngStyle]="{ 'width': col.width }">
          </colgroup>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns"  [ngSwitch]="col.field">
              <ng-container *ngSwitchCase="'checkbox'">
                <!-- <p-tableHeaderCheckbox></p-tableHeaderCheckbox> -->
              </ng-container>


              <ng-container *ngSwitchCase="'scheId'">
                {{col.header}}
                <p-columnFilter field="scheId" display="menu" matchMode="in" [showMatchModes]="false"
                [showOperator]="false" [showAddButton]="false">
                <ng-template pTemplate="header">
                  <div class="p-px-3 p-pt-3 p-pb-0">
                    <span class="p-text-bold">Size</span>
                  </div>
                </ng-template>
                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                  <p-multiSelect [ngModel]="value" [options]="scheIdList" placeholder="Any"
                    optionLabel="displayName" optionValue="displayName" (onChange)="filter($event.value)">
                    <ng-template let-option pTemplate="item">
                      <div class="p-multiselect-representative-option">
                        <span class="p-ml-1">{{option.displayName}}</span>
                      </div>
                    </ng-template>
                  </p-multiSelect>
                </ng-template>
              </p-columnFilter>
              </ng-container>

              <ng-container *ngSwitchCase="'heatId'">
                {{col.header}}
                <p-columnFilter field="heatId" display="menu" matchMode="in" [showMatchModes]="false"
                [showOperator]="false" [showAddButton]="false">
                <ng-template pTemplate="header">
                  <div class="p-px-3 p-pt-3 p-pb-0">
                    <span class="p-text-bold">Size</span>
                  </div>
                </ng-template>
                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                  <p-multiSelect [ngModel]="value" [options]="heatIdList" placeholder="Any"
                    optionLabel="displayName" optionValue="displayName" (onChange)="filter($event.value)">
                    <ng-template let-option pTemplate="item">
                      <div class="p-multiselect-representative-option">
                        <span class="p-ml-1">{{option.displayName}}</span>
                      </div>
                    </ng-template>
                  </p-multiSelect>
                </ng-template>
              </p-columnFilter>
              </ng-container>

              <ng-container *ngSwitchDefault>
                {{col.header}}
                <span *ngIf="col.sortFieldName">
                  <p-sortIcon [field]="col.sortFieldName"></p-sortIcon>
                </span>
              </ng-container>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-columns="columns" let-rowData let-ri="rowIndex">
          <tr>
            <td *ngFor="let col of columns;let index = index" [ngSwitch]="col.columnType">
              <ng-container *ngSwitchCase="columnType.checkbox">
                <p-tableCheckbox [value]="rowData" [disabled]='rowData["sampleStatus"] == "Pending"'></p-tableCheckbox>
              </ng-container>
              <ng-container *ngSwitchCase="columnType.text">
                <div *ngIf="rowData[col.field] == 'dia'">
                  <input type="'text'" pKeyFilter="num" [pattern]="regEX" class="w-100" pInputText [(ngModel)]="rowData[col.field]"
                  [disabled]="rowData['flatCheck']" (change)="validateWeight($event,rowData,col.field)" [min]=0>
                </div>
                <div *ngIf="rowData[col.field] == 'length'">
                  <input type="'text'" pKeyFilter="num" [pattern]="regEX" class="w-100" pInputText [(ngModel)]="rowData[col.field]"
                  [disabled]="rowData['flatCheck']" (change)="validateWeight($event,rowData,col.field)" [min]=0>
                </div>
                <div *ngIf="rowData[col.field] == 'thickness'">
                  <input type="'text'" pKeyFilter="num" [pattern]="regEX" class="w-100" pInputText [(ngModel)]="rowData[col.field]"
                  [disabled]="rowData['tmtCheck']" (change)="validateWeight($event,rowData,col.field)" [min]=0>
                </div>
                <div *ngIf="rowData[col.field] == 'width'">
                  <input type="'text'" pKeyFilter="num" [pattern]="regEX" class="w-100" pInputText [(ngModel)]="rowData[col.field]"
                  [disabled]="rowData['tmtCheck']" (change)="validateWeight($event,rowData,col.field)" [min]=0>
                </div>
                <!-- <input type="'text'" pKeyFilter="num" [pattern]="regEX" class="w-100" pInputText [(ngModel)]="rowData[col.field]"
                  [disabled]="rowData['disabledFG']" (change)="validateWeight($event,rowData,col.field)" [min]=0> -->
                <div *ngIf="rowData['actualFGError']" class="p-invalid mt-1 font-13">
                  <!-- Please Enter a valid actual weight of FG -->
                  {{rowData['actualFGWeightMsg']}}
                </div>
              </ng-container>
              <ng-container *ngSwitchCase="columnType.textField">
                <input type="'text'" pKeyFilter="num" class="w-100" pInputText [(ngModel)]="rowData[col.field]"
                  [disabled]="rowData['flatCheck']" (change)="validateWeight($event,rowData,col.field)">
                <div *ngIf="rowData['actualCobbalError']" class="p-invalid mt-1 font-13">
                  <!-- Please Enter a validactual weight of Cobble -->
                  {{rowData['actualCobWeightMsg']}}
                </div>
              </ng-container>
              <ng-container *ngSwitchCase="columnType.textWithValidations">
                <input type="'text'" class="w-100" pInputText [(ngModel)]="rowData[col.field]"
                  (change)="validateWeight($event,rowData,col.field)">
                <div *ngIf="rowData['rollingRemarkError']" class="p-invalid mt-1 font-13">Please Specify The Reason
                </div>
              </ng-container>
              <ng-container *ngSwitchCase="columnType.dropdown">
                <p-dropdown #rolledShape class="w-100"  [options]="shapeTypeList"
                  [(ngModel)]="rowData[col.field]" (onChange)="checkShapeStatus($event,rowData)" placeholder="Select"
                  optionLabel="displayName" appendTo="body" optionValue="modelValue" [filter]="true"
                  filterBy="displayName" [showClear]="true" [ngModelOptions]="{standalone: true}" [autoZIndex]="false">
                </p-dropdown>
              </ng-container>
              <ng-container *ngSwitchCase="columnType.date">
                {{ rowData[col.field] | date : "medium" }}
              </ng-container>

              <!-- new ellipsis -->
              <ng-container *ngSwitchCase="columnType.ellipsis">
                <div class="st-ellipsis" title="{{rowData[col.field]}}">
                  {{rowData[col.field]}}
                </div>
                
              </ng-container>


          


              <ng-container *ngSwitchDefault>
                {{rowData[col.field]}}
                <div *ngIf="col.isError && col.rowIndex == ri" class="p-invalid mt-1 font-13 float-right">
                  {{col.errorMsg}}</div>
              </ng-container>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
          <tr>
            <td [attr.colspan]="columns.length">
              No records found
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>


<p-dialog header="Selected bundle's sample result status is Fail. Do you want to continue? If Yes, please select option to Release as SO or Release as NCO." [(visible)]="sampleCheck" [style]="{width: '50vw'}" [baseZIndex]="10000">

<div class="col-12">
  <p-table  #dt [columns]="sampleResultColmns" [value]="faildSampleList" styleClass="{{tableType}}" [scrollable]="true" [style]="{width:'100%'}" scrollHeight="500px"
         [paginator]="false" [rows]="10"  [(selection)]="checkedRecords"
         [rowsPerPageOptions]="[10,25,50]"   >

    <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col *ngFor="let col of columns" [ngStyle]="{ 'width': col.width }">
        </colgroup>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field" [ngSwitch]="col.columnType">
              <ng-container *ngSwitchDefault>
                {{col.header}}
                <span *ngIf="col.sortFieldName"><p-sortIcon  [field]="col.sortFieldName"></p-sortIcon></span>
              </ng-container>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-columns="columns" let-rowData let-ri="rowIndex">
        <tr>
            <!-- [ngClass]="(col.columnType == columnType.number) ? 'text-right' : 'text-left'" -->
            <td *ngFor="let col of columns;let index = index" [ngSwitch]="col.columnType">
              <ng-container *ngSwitchCase="columnType.radio">
                <p-radioButton inputId="rowIndex" name={{ri}} [value]="true" [(ngModel)]="rowData[col.field]"
                    (onClick)="gerRowOnclick(col.field, col.header,rowData)"></p-radioButton>
                <!-- <p-radioButton name="radio" value="val1" (onClick)="gerRowOnclick(rowData,'radio')"></p-radioButton>  -->
              </ng-container>

              <ng-container *ngSwitchDefault>
                  {{rowData[col.field]}}
                  <div *ngIf="col.isError && col.rowIndex == ri" class="p-invalid mt-1 font-13 float-right">{{col.errorMsg}}</div>
              </ng-container>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage" let-columns>
      <tr>
          <td [attr.colspan]="columns.length">
              No records found
          </td>
      </tr>
  </ng-template>
</p-table>
  <!-- <lib-jsw-core [componentType]='viewType.dynamicTable' [columns]='sampleResultColmns' [tableData]='faildSampleList' [paginator]='false'
    [styleClass]="tableType" (getRow)="getSelectedRecord($event)" [showGlobalFilter]="false" [isClearSelection]="true" [clearSelectionEvent]="clearSelection.asObservable()"></lib-jsw-core> -->
</div>

  <ng-template pTemplate="footer">
    <button (click)="closeDialog()" type="button" class="btn btn-sm btn-dark" >NO</button>
    <button type="submit" class="btn btn-sm btn-primary" (click)="releaseFailedSamples()">YES</button>
  </ng-template>
</p-dialog>
