<div class="content pt-2 pb-3" #target>
  <div [ngClass]="chargediv">
    <!-- <h4 class="font-20 font-weight-bold text-grey mt-1 mb-3" #target>Rolling Screen</h4> -->
    <app-filter-criteria [screen]="'rolling'" (setRollingDetails)="setRollingDetails($event)" (ResetRollingDetails)="ResetFilter()"
      [refreshShiftDataEvent]="refreshShiftDetails.asObservable()" [Resetbtn]="isResetBtn" [Retrivebtn]="isRetrieveBtn"
      [filterCriteriaDisplay]="isfilterCriteriaScreen" [PlanShiftDisplay]="isPlan_shiftScreen"
      (setCloseSchDetails)="closeSchd($event)" ></app-filter-criteria>
    <div class="card border-0 bg-e57c mt-1" *ngIf="isRollingdetailsScreen">
      <div class="row">
        <div class="col-12">
          <div class="card border-0 bg-e57c">
            <div class="card-header bg-primary d-flex">
              <label class="text-white md-text mt-1 mb-0">Rolling Details</label>
              <div class="ml-auto" >
                <button type="submit" class="btn btn-sm btn-link btn-outline-light text-white p-0 ml-3" *ngIf="isSaveBtn" (click)="updateRollingWeight()">
                  <i class="fa fa-save ml-1 mr-2" data-toggle="tooltip" data-placement="top"
            title="Save"></i><span class="mr-2">
              Save
            </span></button>
              </div>
            </div>
            <!-- <div class="card-header bg-primary">
              <label class="text-white md-text mt-1 mb-0">Rolling Details</label>
            </div> -->
            <div class="card-body p-0">
              <!-- <div class="d-flex p-2">
                <div class="ml-auto">
                  <button type="submit" class="btn btn-sm btn-primary" *ngIf="isSaveBtn" (click)="updateRollingWeight()">Save</button>
                </div>
              </div> -->
              <p-table #dt [columns]="rollingcolumns" [value]="rollingList" styleClass="{{tableType}}"
                [scrollable]="true" [style]="{width:'100%'}" scrollHeight="500px" [paginator]="true" [rows]="5"
                [(selection)]="selectedRecords" [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [rowsPerPageOptions]="[10,25,50]">

                <ng-template pTemplate="colgroup" let-columns>
                  <colgroup>
                    <col *ngFor="let col of rollingcolumns" [ngStyle]="{ 'width': col.width }">
                  </colgroup>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                  <tr>
                    <th *ngFor="let col of rollingcolumns" [pSortableColumn]="col.field" [ngSwitch]="col.columnType">
                      <ng-container *ngSwitchCase="columnType.radio">
                        <!-- <p-tableHeaderCheckbox (click)="getSelectedSchList()" [disabled]="rowData['disabledAll']"></p-tableHeaderCheckbox> -->
                      </ng-container>
                      <ng-container *ngSwitchDefault>
                        {{col.header}}
                        <span *ngIf="col.sortFieldName">
                          <p-sortIcon [field]="col.sortFieldName"></p-sortIcon>
                        </span>
                      </ng-container>
                    </th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-columns="rollingcolumns" let-rowData let-ri="rowIndex">
                  <tr>
                    <td *ngFor="let col of rollingcolumns;let index = index" [ngSwitch]="col.columnType"
                    class="height-max-content pt-0 pb-0">
                      <ng-container *ngSwitchCase="columnType.radio">
                        <input type="radio" name="options" class="w-100" (click)="getRowOnclick(rowData)"
                        [disabled]="ri!=0">
                      </ng-container>
                      <ng-container *ngSwitchCase="columnType.checkbox">
                        <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                      </ng-container>
                      <ng-container *ngSwitchCase="columnType.hyperlink">
                        <a class="hyper-link">{{rowData[col.field]}}</a>
                      </ng-container>
                      <ng-container *ngSwitchCase="columnType.text">
                        <input type="'text'" pKeyFilter="num" class="w-100" pInputText [(ngModel)]="rowData[col.field]"
                          [disabled]="rowData['disabledFG']" (change)="validateWeight($event,rowData,col.field)">
                        <div *ngIf="rowData['actualFGError']" class="p-invalid mt-1 font-13">
                          <!-- Please Enter a valid actual weight of FG -->
                          {{rowData['actualFGWeightMsg']}}
                        </div>
                      </ng-container>
                      <ng-container *ngSwitchCase="columnType.textField">
                        <input type="'text'" pKeyFilter="num" class="w-100" pInputText [(ngModel)]="rowData[col.field]"
                          [disabled]="rowData['disabledCob']" (change)="validateWeight($event,rowData,col.field)">
                        <div *ngIf="rowData['actualCobbalError']" class="p-invalid mt-1 font-13">
                          <!-- Please Enter a validactual weight of Cobble -->
                          {{rowData['actualCobWeightMsg']}}
                        </div>
                      </ng-container>
                      <ng-container *ngSwitchCase="columnType.textWithValidations">
                        <input type="'text'" class="w-100" pInputText [(ngModel)]="rowData[col.field]"
                          (change)="validateWeight($event,rowData,col.field)">
                        <div *ngIf="rowData['rollingRemarkError']" class="p-invalid mt-1 font-13">Please add rolling
                          remark
                        </div>
                      </ng-container>
                      <ng-container *ngSwitchCase="columnType.dropdown">
                        <p-dropdown #rolledShape class="w-100" [autoDisplayFirst]="false" [options]="shapeTypeList"
                          [(ngModel)]="rowData[col.field]" (onChange)="checkShapeStatus($event,rowData)"
                          placeholder="Select" optionLabel="displayName" appendTo="body" optionValue="modelValue"
                          [filter]="true" filterBy="displayName" [showClear]="true"
                          [ngModelOptions]="{standalone: true}" [autoZIndex]="false">
                        </p-dropdown>
                      </ng-container>
                      <ng-container *ngSwitchCase="columnType.numericValidationField">
                        <p-inputNumber class="w-100" [ngModelOptions]="{standalone: true}"
                          [(ngModel)]="rowData[col.field]" mode="decimal" inputId="validationTextField_{{ri}}"
                          [useGrouping]="false"></p-inputNumber>
                        <div *ngIf="col.isError && col.rowIndex == ri" class="p-invalid mt-1 font-13 float-right">
                          {{col.errorMsg}}</div>
                      </ng-container>
                      <ng-container *ngSwitchCase="columnType.date">
                        {{ rowData[col.field] | date : "short" }}
                      </ng-container>
                      <ng-container *ngSwitchCase="columnType.ellipsis">
                        <div class="st-ellipsis" title="{{rowData[col.field]}}">
                          {{rowData[col.field]}}
                        </div>
                        
                      </ng-container>
                      <ng-container *ngSwitchDefault>
                        {{rowData[col.field]}}
                        <div *ngIf="col.isError && col.rowIndex == ri" class="p-invalid mt-1 font-13 float-right">
                          {{col.errorMsg}}</div>
                      </ng-container>
                    </td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage" let-columns>
                  <tr>
                    <td [attr.colspan]="columns.length">
                      No records found
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div  *ngIf="isRollchargeScreen">
    <div class="charging-seq position-fixed overflow-hidden">
      <ul class="sq-list p-0 position-absolute bottom-0 m-0 float-left">
        <li class="py-1 px-2" *ngFor="let item of chargingSequence" [ngClass]="{'dummy': item.dummyBilletYN.toLowerCase() == 'y','gradeChange': item.gradeChanged == true}">
          <!-- [ngClass]="{'dummy': item.dummyBilletYN.toLowerCase() == 'y'}" -->
          <div class="st-ellipsis" title="SchId-{{item.scheduleId}}, Size-{{item.size}}, Wt-{{item.weight}}, Grade-{{item.grade}}">
            {{item.batchId}}
          </div>
          <!-- {{item.batchId}} -->
        </li>
      </ul>
      <div class="sq-title h-100 float-right text-white">
        <div class="top position-absolute">Discharging</div>
        <div class="bottom position-absolute">Charging</div>
      </div>
    </div>
  </div>

</div>