.text-right{
  text-align: right;
}

.w-100{
  width: 100% !important;
}

.p-invalid {
  color: #f44336 !important;
}

.card-dark-bg{background-color: #b2b2b2 !important;}

.p-dialog .p-dialog-header{
  padding: 1rem !important;
}

.p-dialog .p-dialog-content {
  background: #ffffff;
  color: #495057;
  padding: 0 1.5rem 1rem 1.5rem;
}

.p-datatable .p-datatable-tfoot > tr > td{
  padding: 0.5rem 0.5rem !important;
}


/*Accrdn*/
.p-accordion .p-accordion-content{
  padding: 0 !important;
}
.p-accordion .p-accordion-header .p-accordion-header-link {
  background-color: #ddd !important;
}
.pi {
  font-size: 0.7rem !important;
}
/* for bottom space of accordion */
/* .p-component{
  margin-bottom: 0.5rem;
} */

/* praveen changes */
.st-ellipsis{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap
}

.p-tabview-panels{padding-top: 8px !important;}
.p-paginator{padding: 0 !important;}

.batch-attach-dialog .p-dialog-header{
  padding: 0px !important;
}

.batch-unattach-dialog .p-dialog-header{
  padding: 0px !important;
}

/* orderbook bg */
.bg-sms{
background-color: #00bfff !important;
}

/* sticker printing */
.print-sticker{
  height: 150mm !important;
  width: 100mm !important;
}
.height-110{
  height: 110px !important;
}

