a{color: #4E73DF;}
a:hover {color: #0b47de;}
.btn-primary { background-color: #4E73DF; border-color: #4E73DF;}
.btn-primary:hover {background-color: #4064CE;border-color: #4064CE;}
.btn-primary:focus, .btn-primary.focus {background-color: #4064CE;border-color: #4064CE;box-shadow: 0 0 0 0.2rem rgba(64, 100, 206, 0.3);}
.btn-primary.disabled, .btn-primary:disabled { background-color: #4E73DF;border-color: #4E73DF;}
.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {box-shadow: 0 0 0 0.2rem rgba(64, 100, 206, 0.3);}
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {background-color: #4064CE;border-color: #0057b6;}
.btn-outline-primary {color: #4E73DF;border-color: #4E73DF;}
.btn-outline-primary:hover {background-color: #4E73DF;border-color: #4E73DF;}
.btn-outline-primary:focus, .btn-outline-primary.focus {box-shadow: 0 0 0 0.2rem rgba(64, 100, 206, 0.3);}
.btn-outline-primary.disabled, .btn-outline-primary:disabled {color: #4E73DF;background-color: transparent;}
.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle {background-color: #4E73DF;border-color: #4E73DF;}
.btn-link {color: #4E73DF;}
.btn-link:hover {color: #0b47de;}
.dropdown-item.active, .dropdown-item:active {background-color: #4E73DF;}
.custom-control-input:checked ~ .custom-control-label::before {border-color: #4E73DF;background-color: #4E73DF;}
.custom-checkbox .custom-control-input:indeterminate ~ .custom-control-label::before { border-color: #4E73DF; background-color: #4E73DF;}
.custom-checkbox .custom-control-input:disabled:checked ~ .custom-control-label::before { background-color: rgba(64, 100, 206, 0.3);}
.custom-checkbox .custom-control-input:disabled:indeterminate ~ .custom-control-label::before {background-color: rgba(64, 100, 206, 0.3);}
.custom-radio .custom-control-input:disabled:checked ~ .custom-control-label::before {background-color: rgba(64, 100, 206, 0.3);}
.custom-control-input:focus:not(:checked) ~ .custom-control-label::before {border-color: #9EB5F6;}
.custom-range::-webkit-slider-thumb { background-color: #4E73DF;}
.custom-range::-moz-range-thumb {background-color: #4E73DF;}
.custom-range::-ms-thumb { background-color: #4E73DF;}
.custom-range::-ms-thumb:active {background-color: #9EB5F6;}
.custom-range::-moz-range-thumb:active {background-color: #9EB5F6;}
.custom-range::-webkit-slider-thumb:active {background-color: #9EB5F6;}
.custom-control-input:not(:disabled):active ~ .custom-control-label::before {background-color: #9EB5F6;border-color: #9EB5F6;}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {background-color: #4E73DF;}
.page-link {color: #4E73DF; }
.page-link:hover {color: #0b47de;}
.page-link:focus {box-shadow: 0 0 0 0.2rem rgba(64, 100, 206, 0.25);}
.page-item.active .page-link {background-color: #4E73DF;border-color: #4E73DF;}
.badge-primary {background-color: #4E73DF;}
.progress-bar {background-color: #4E73DF;}
.list-group-item.active {background-color: #4E73DF;border-color: #4E73DF;}
.bg-primary {background-color: #4E73DF !important;}
a.bg-primary:hover, a.bg-primary:focus, button.bg-primary:hover, button.bg-primary:focus {background-color: #4064CE !important;}
.border-primary {border-color: #4E73DF !important;}
.text-primary {color: #4E73DF !important;}
a.badge-primary:hover, a.badge-primary:focus { background-color: #4064CE;}
a.text-primary:hover, a.text-primary:focus {color: #0b47de !important;}
.form-control:focus{    border-color: #9EB5F6;    box-shadow: 0 0 0 0.2rem rgba(64, 100, 206, 0.25);}



/*theme for Prime NG*/
.p-button{background: #4E73DF;  border: 1px solid #4E73DF;}
.p-button:hover, .p-button:enabled:hover{background-color: #4064CE;border-color: #4064CE;}
.p-button:focus, .p-button:enabled:focus, .p-button.focus {background-color: #4064CE;border-color: #4064CE;box-shadow: 0 0 0 0.2rem rgba(64, 100, 206, 0.3);}

.p-dropdown:not(.p-disabled):hover,
.p-dropdown:hover, .p-inputtext:enabled:hover, .p-inputtext:hover, .p-multiselect:not(.p-disabled):hover, .p-multiselect:hover{border-color: #4E73DF;}
.p-dropdown:not(.p-disabled).p-focus,
.p-dropdown.p-focus, .p-inputtext:enabled:focus, .p-inputtext:focus{box-shadow:0 0 0 0.2rem rgba(64, 100, 206, 0.3);}
.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight{background:#CED8F6}




.p-checkbox .p-checkbox-box.p-highlight {
    border-color: #0b47de;
    background: #0b47de;
  }
  .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box:hover {
    border-color: #0b47de;
  }
  .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-focus {
 
    box-shadow: 0 0 0 0.2rem #a6d5fa;
    border-color: #0b47de;
  }
  .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover {
    border-color: #4064CE;
    background: #4064CE;
    
  }

  .p-input-filled .p-checkbox .p-checkbox-box.p-highlight {
    background: #0b47de;
  }
  .p-input-filled .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover {
    background: #4064CE;
  }

  .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link, .p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .p-menuitem-link{    border-color: #4E73DF;  color: #4E73DF}