<div class="content pt-3 pb-3" #target>
  <!-- <h4 class="font-20 font-weight-bold text-grey mt-1 mb-3" #target>Product Attribute Master</h4> -->
  <div class="row">
    <div class="col-12">
      <p-tabView>
        <p-tabPanel header="Product Master"
          *ngIf="sharedService.isSectionVisible(menuConstants.prodAttrMasterSectionIds.Product_List.id, screenStructure)">
          <div class="card border-0 bg-e57c">
            <div class="card-header bg-primary d-flex">
              <label class="text-white md-text mt-1 mb-0">Product List</label>


              <div class="ml-auto">

                <div class="p-input-icon-right mr-2">
                  <i class="fa fa-search"></i>
                  <input pInputText type="text" placeholder="Search keyword" (input)="filterTable($event)" />
                </div>
                <button *ngIf="isAddBtn" type="button" class="btn btn-sm btn-link btn-outline-light text-white p-0 ml-3" pAddRow
                  [table]="dt" [newRow]="newRow()" [disabled]="disableAddBtn"><i
                  class="fa fa-plus ml-1" data-toggle="tooltip" data-placement="top"
                  title="Add Product"></i><span class="mr-2">
                    Add Product
                  </span></button>
              </div>
            </div>
            <!-- <div class="card-header bg-primary">
                  <label class="text-white md-text mt-1 mb-0">Product List</label>
            </div> -->
            <div class="card-body p-0">
              <div class="row">
                <div class="col-12">
                  <p-table #dt [value]="materialList" styleClass="{{tableType}}" [scrollable]="true"
                    [style]="{width:'100%'}" scrollHeight="500px" [paginator]="true" [rows]="10"
                    [showCurrentPageReport]="true"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    [rowsPerPageOptions]="[10,25,50]" [globalFilterFields]="globalFilterArray" dataKey="srNo"
                    editMode="row">
                    <ng-template pTemplate="caption">
                      <!-- <div class="d-flex p-2">
                      <div class="p-input-icon-right">
                        <i class="fa fa-search"></i>
                          <input pInputText type="text" (input)="filterTable($event)" placeholder="Search keyword" />
                      </div>
                      <div class="ml-auto" *ngIf="isAddBtn">
                        <button type="button" class="btn btn-sm btn-primary" pAddRow [table]="dt" [newRow]="newRow()"  [disabled]="disableAddBtn">Add Product</button>
                      </div>
                    </div> -->
                    </ng-template>
                    <ng-template pTemplate="header">
                      <tr>
                        <th>Product Id</th>
                        <th>Product Name</th>
                        <th>Product Type</th>
                        <th>Status</th>
                        <th>Action</th>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-material let-editing="editing" let-ri="rowIndex">
                      <!-- <pre>{{editing}}</pre> -->
                      <tr [pEditableRow]="material">
                        <td>
                          <p-cellEditor>
                            <ng-template pTemplate="input">
                              <input pInputText type="text" name="materialId_{{ri}}" [(ngModel)]="material.materialId"
                                #materialId="ngModel" (ngModelChange)="enableEditMode(material)"
                                [disabled]="material.disabled" required>
                              <div *ngIf="material.submitted && materialId.errors?.required"
                                class="p-invalid mt-1 font-13">Please enter Product Id</div>
                              <!-- <pre>{{material.submitted}} {{materialId.errors?.required}}</pre> -->
                            </ng-template>
                            <ng-template pTemplate="output">
                              {{material.materialId}}
                            </ng-template>
                          </p-cellEditor>
                        </td>
                        <td>
                          <p-cellEditor>
                            <ng-template pTemplate="input">
                              <input pInputText type="text" name="materialDesc_{{ri}}"
                                [(ngModel)]="material.materialDesc" [pKeyFilter]="regEX" #materialDesc="ngModel"
                                required>
                              <div *ngIf="material.submitted && materialDesc.errors?.required"
                                class="p-invalid mt-1 font-13">Please enter Product Name</div>
                            </ng-template>
                            <ng-template pTemplate="output">
                              {{material.materialDesc}}
                            </ng-template>
                          </p-cellEditor>
                        </td>
                        <td>
                          <p-cellEditor>
                            <ng-template pTemplate="input">
                              <p-dropdown name="materialType_{{ri}}" [options]="materialTypeList"
                                [(ngModel)]="material.materialType" #materialType="ngModel" [style]="{'width':'100%'}"
                                optionLabel="valueDescription" appendTo="body" optionValue="valueShortCode"
                                [required]="true"></p-dropdown>
                              <div *ngIf="material.submitted && materialType.errors?.required"
                                class="p-invalid mt-1 font-13">Please select Product Type</div>
                            </ng-template>
                            <ng-template pTemplate="output">
                              {{material.materialType}}
                            </ng-template>
                          </p-cellEditor>
                        </td>
                        <td>
                          <p-cellEditor>
                            <ng-template pTemplate="input">
                              <p-dropdown name="materialStatus_{{ri}}" [options]="statusList"
                                [(ngModel)]="material.status" #materialStatus="ngModel" [style]="{'width':'100%'}"
                                optionLabel="valueDescription" appendTo="body" optionValue="valueShortCode"
                                [required]="true"></p-dropdown>
                              <div *ngIf="material.submitted && materialStatus.errors?.required"
                                class="p-invalid mt-1 font-13">Please select status</div>
                            </ng-template>
                            <ng-template pTemplate="output">
                              {{material.status}}
                            </ng-template>
                          </p-cellEditor>
                        </td>
                        <td>
                          <i *ngIf="!editing && isEditBtn" pInitEditableRow class="fas fa-pen cursor-pointer p-1"
                            (click)="onRowEditInit(material)"></i>
                          <i *ngIf="editing && isSaveBtn" pSaveEditableRow
                            class="fas fa-check cursor-pointer mr-3 p-1 text-success"
                            (click)="onRowEditSave(material, ri)"></i>
                          <i *ngIf="editing && isCloseBtn" pCancelEditableRow
                            class="fas fa-times cursor-pointer p-1 text-danger"
                            (click)="onRowEditCancel(material, ri)"></i>
                          <!-- <button *ngIf="editing" type="button" pSaveEditableRow (click)="onRowEditSave(material, ri)" class="btn btn-sm btn-primary mr-1">Save</button> -->
                          <!-- <button *ngIf="editing" type="button" pCancelEditableRow (click)="onRowEditCancel(material, ri)" class="btn btn-sm btn-dark mr-1">Cancel</button> -->

                          <!-- <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" (click)="onRowEditInit(material)" class="p-button-rounded p-button-text"></button>
                                <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onRowEditSave(material, ri)" class="p-button-rounded p-button-text p-button-success p-mr-2"></button>
                                <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onRowEditCancel(material, ri)" class="p-button-rounded p-button-text p-button-danger"></button> -->
                        </td>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                      <tr>
                        <td [attr.colspan]="5">
                          No records found
                        </td>
                      </tr>
                    </ng-template>
                  </p-table>
                </div>
              </div>
            </div>
          </div>
        </p-tabPanel>
        <p-tabPanel header="Work Center Master"
          *ngIf="sharedService.isSectionVisible(menuConstants.prodAttrMasterSectionIds.Work_Center_List.id, screenStructure)">
          <app-work-center-master></app-work-center-master>
        </p-tabPanel>
        <p-tabPanel header="Size Master"
          *ngIf="sharedService.isSectionVisible(menuConstants.prodAttrMasterSectionIds.Size_Master_List.id, screenStructure)">
          <app-size-master></app-size-master>
        </p-tabPanel>
        <p-tabPanel header="Work Center & Size Mapping"
          *ngIf="sharedService.isSectionVisible(menuConstants.prodAttrMasterSectionIds.WC_Prod_Size_List.id, screenStructure)">
          <app-wc-size-mapping></app-wc-size-mapping>
        </p-tabPanel>
      </p-tabView>
    </div>
  </div>
</div>