<div class="content pt-3 pb-3" #target>
  <!-- <h4 class="font-20 font-weight-bold text-grey mt-1 mb-3" #target> W to F</h4> -->
  <p-accordion *ngIf="isFlCrViewOnly">
    <p-accordionTab header="Filter Criteria" class="card-title font-12 text-grey mb-0 bg-f1"
      [selected]="true">
      <div class="card bg-f1 border-0 p-0">
        <div class="card-body pt-0 pb-2">
          <div class="row">
            <div class="col-12 col-md-7 col-xl-4">
              <lib-jsw-core [componentType]='viewType.form' [formData]='formObject'
            (changeEvent)="dropdownChangeEvent($event)" (jswFormEvent)="getFormRef($event)"></lib-jsw-core>
            </div>
            <div class="col-12 col-md-5 col-xl-4 mt-3">
              <button *ngIf="isFlCrRtrv" type="button" class="btn btn-sm btn-primary mr-3" (click)="filterDataByUnit()">Retrieve</button>
            <button *ngIf="isFlCrRst" type="button" class="btn btn-sm btn-dark" (click)="sharedService.resetForm(formObject,formRef);resetFilter()">Reset</button>
            </div>
          </div>
        </div>
      </div>
    </p-accordionTab>
  </p-accordion>
  <!-- <div class="card bg-f1 border-0 mb-3">
    <div class="card-body p-3" *ngIf="isFlCrViewOnly">
      <h6 class="card-title font-weight-bold text-grey mb-3">Filter Criteria</h6>
      <div class="row">
        <div class="col-12 col-md-7 col-xl-4">
          <lib-jsw-core [componentType]='viewType.form' [formData]='formObject'
            (changeEvent)="dropdownChangeEvent($event)" (jswFormEvent)="getFormRef($event)"></lib-jsw-core>
        </div>
        <div class="col-12 col-md-5 col-xl-4 mt-1">
          <div class="text-left">
            <button *ngIf="isFlCrRtrv" type="button" class="btn btn-sm btn-primary mr-3" (click)="filterDataByUnit()">Retrieve</button>
            <button *ngIf="isFlCrRst" type="button" class="btn btn-sm btn-dark" (click)="sharedService.resetForm(formObject,formRef);resetFilter()">Reset</button>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <div class="card border-0 bg-e57c mb-3 mt-3" *ngIf="batchDetails">
    <div class="card-header bg-primary d-flex">
      <label class="text-white md-text mt-1 mb-0">Batch Details</label>
      <div class="ml-auto" >
        <button *ngIf="batchDetailsdispatch" type="submit" class="btn btn-sm btn-link btn-outline-light text-white p-0 ml-3" (click)="dispatch()">
          <span class="ml-1 mr-2">
            Dispatch
          </span></button>
      </div>
    </div>
    <!-- <div class="card-header bg-primary" >
      <label class="text-white md-text mt-1 mb-0">Batch Details</label>
    </div> -->
    <div class="card-body p-0">
      <!-- <div class="d-flex p-2">
        <div class="ml-auto">
          <button *ngIf="batchDetailsdispatch" type="submit" class="btn btn-sm btn-primary" (click)="dispatch()">Dispatch</button>
        </div>
      </div> -->
      <lib-jsw-core [componentType]='viewType.dynamicTable' [columns]='columns' [tableData]='BatchDetailsList' [isClearSelection]="true"
        [clearSelectionEvent]="clearSelection.asObservable()" [styleClass]="tableType" [isDeleteAction]="false"
        [isEditAction]="true" [isMultiDelete]="false" (getRow)="getSelectedRecords($event)"></lib-jsw-core>
    </div>
  </div>
</div>
