<div class="content pt-3 pb-3" #target>
  <!-- <h4 class="font-20 font-weight-bold text-grey mt-1 mb-3">User Master</h4> -->

  <p-accordion
    *ngIf="(!isEditUser && sharedService.isSectionVisible(menuConstants.userMasterSectionIds.Add_New_Record.id, screenStructure))
  || (isEditUser && sharedService.isSectionVisible(menuConstants.userMasterSectionIds.Edit_Record.id, screenStructure))">
    <p-accordionTab header="{{isEditUser? 'Edit User': 'Add New User'}}" class="card-title font-12 text-grey mb-0 bg-f1"
      [selected]="isEditUser">
      <div class="card bg-f1 border-0 p-0">
        <div class="card-body pt-0 pb-2">
          <lib-jsw-core [componentType]='viewType.form' [formData]='formObject' (jswFormEvent)="getFormRef($event)">
          </lib-jsw-core>
          <div class="text-right mt-2 ">
            <button *ngIf="!isEditUser && isAddBtn" type="submit" class="btn btn-sm btn-primary mr-3"
              (click)="getFilterCriteriaDetails('add')">Add</button>
            <button *ngIf="isEditUser && isUpdateBtn" type="submit" class="btn btn-sm btn-primary mr-3 mt-1"
              (click)="getFilterCriteriaDetails('update')">Update</button>
            <button *ngIf="!isEditUser && isResetBtn" type="button" class="btn btn-sm btn-dark"
              (click)="sharedService.resetForm(formObject,formRef);resetFilter()">Reset</button>
            <button *ngIf="isEditUser && isCancelBtn" type="button" class="btn btn-sm btn-dark mt-1"
              (click)="sharedService.resetForm(formObject,formRef);resetFilter()">Cancel</button>
          </div>
        </div>
      </div>
    </p-accordionTab>
  </p-accordion>

  <!-- <div class="card bg-f1 border-0 mb-3" *ngIf="(!isEditUser && sharedService.isSectionVisible(menuConstants.userMasterSectionIds.Add_New_Record.id, screenStructure))
                                               || (isEditUser && sharedService.isSectionVisible(menuConstants.userMasterSectionIds.Edit_Record.id, screenStructure))">
    <div class="card-body p-3">
      <h6 *ngIf="!isEditUser && sharedService.isSectionVisible(menuConstants.userMasterSectionIds.Add_New_Record.id, screenStructure)" class="card-title font-weight-bold text-grey mb-0 font-13">Add New User</h6>
      <h6 *ngIf="isEditUser && sharedService.isSectionVisible(menuConstants.userMasterSectionIds.Edit_Record.id, screenStructure)" class="card-title font-weight-bold text-grey mb-0 font-13">Edit User Details</h6>
      <lib-jsw-core [componentType]='viewType.form' [formData]='formObject' (jswFormEvent)="getFormRef($event)"></lib-jsw-core>
      <div class="text-right">
        <button *ngIf="!isEditUser && isAddBtn" type="submit" class="btn btn-sm btn-primary mr-3" (click)="getFilterCriteriaDetails('add')">Add</button>
        <button *ngIf="isEditUser && isUpdateBtn" type="submit" class="btn btn-sm btn-primary mr-3" (click)="getFilterCriteriaDetails('update')">Update</button>
        <button *ngIf="!isEditUser && isResetBtn" type="button" class="btn btn-sm btn-dark" (click)="sharedService.resetForm(formObject,formRef);resetFilter()">Reset</button>
        <button *ngIf="isEditUser && isCancelBtn" type="button" class="btn btn-sm btn-dark" (click)="resetFilter()">Cancel</button>
      </div>
    </div>
  </div> -->

  <div class="card border-0 bg-e57c mt-3"
    *ngIf="sharedService.isSectionVisible(menuConstants.userMasterSectionIds.List.id, screenStructure)">


    <div class="card-header bg-primary d-flex">
      <label class="text-white md-text mt-1 mb-0">User Master List</label>
      <div class="ml-auto" >
        <div class="p-input-icon-right mr-2">
          <i class="fa fa-search"></i>
          <input pInputText type="text" placeholder="Search keyword" (input)="filterTable($event)" />
        </div>
        <button *ngIf="isExcelBtn" (click)="downloadFile('csv')" class="btn btn-sm btn-link btn-outline-light text-white p-0 ml-3"><i
            class="fas fa-file-excel mr-1 ml-1" data-toggle="tooltip" data-placement="top"
            title="Download PDF File"></i>
            <span class="mr-2">
              Excel
            </span> </button>
        <!-- <button *ngIf="isPDFBtn" (click)="downloadFile('pdf')" class="btn btn-sm btn-link btn-outline-light text-white p-0 ml-3"><i
            class="fas fa-file-pdf mr-2" data-toggle="tooltip" data-placement="top"
            title="Download Excel File"></i>PDF</button> -->
      </div>
    </div>



    <div class="card-body p-0">
      <div class="row">
        <div class="col-12">

          <!-- <lib-jsw-core [componentType]='viewType.dynamicTable' [columns]='columns' [tableData]='userList'
          [styleClass]="tableType" (editEvent)="editRecord($event);sharedService.scroll(target)"  [globalFilterArray]="globalFilterArray"
          (deleteEvent)="deleteUser($event)" (deleteMultipleEvent)="deleteMultipleRecords($event)" [isDeleteAction]="false" [isEditAction]="isEditBtn"
          [isMultiDelete]="false" [showGlobalFilter]="true"></lib-jsw-core> -->


          <lib-jsw-core [componentType]='viewType.dynamicTable' [columns]='columns' [tableData]='userList'
            [styleClass]="tableType" [frozenCols]='frozenCols' [frznWidth]='frznWidth'
            (editEvent)="editRecord($event);sharedService.scroll(target)" [globalFilterArray]="globalFilterArray"
            (deleteEvent)="deleteUser($event)" (deleteMultipleEvent)="deleteMultipleRecords($event)"
            [isDeleteAction]="false" [isEditAction]="isEditBtn" [isMultiDelete]="false" [showGlobalFilter]="false"
            (ptableEvent)="getTableRef($event)">
          </lib-jsw-core>
        </div>
      </div>
    </div>
  </div>
</div>