<div class="row justify-content-center">
  <div class="col-8 card shadow-sm">
      <div class="row p-5">
          <div class="col-3"></div>
          <div class="col-6">
              <h4 class="mb-4">Reset Password</h4>
              <form [formGroup]="forgotPasswordForm" (submit)="sendLink()">
                  <div class="mb-1" id="userid" class="form-group">
                      <input type="username" name="username" class="form-control" formControlName="username" placeholder="Username" required />
                     
                          <span class="text-danger xxs-text"
                              [hidden]="!forgotPasswordForm['controls'].username.errors?.required">
                              Please enter username</span>
                     
                  </div>
                  
                      <button class="btn btn-sm btn-primary text-uppercase px-4" [disabled]="forgotPasswordForm.invalid"
                          type="submit">Send</button>
                  
              </form>
          </div>
      </div>
  </div>
</div>

