<div class="content pt-3 pb-3">
    <div class="row mb-3" *ngIf="isFilterSection">
        <div class="col-4">
            <div class="p-float-label  w-100">
                <input name="bundleId" [(ngModel)]="bundleId" type="text" pInputText>
                <label>Bundle ID</label>
            </div>
        </div>
        <div class="col-8">
            <button *ngIf="isFlCrRtrvBtn" type="button" class="btn btn-sm btn-primary mr-3" (click)="getStickerDetails()">Retrieve</button>
            <button *ngIf="isFlCrRstBtn" type="button" class="btn btn-sm btn-dark">Close</button>
        </div>

    </div>
    <div class="card bg-f1 border-0 p-0  pt-3" *ngIf="isPrint">
        <div class="card-body pt-0 pb-2">
            <div class="bg-white print-sticker ml-4 mt-2" id="print-section">
                <div class="pl-3 mt-3">
                   <h5 class="font-weight-bold m-0 pt-4">
                    JSW Ispat Special Products Limited<br>
                   </h5> 
                    (Formerly Known as Monnet Ispat & Energy Limited)<br>
                </div>
                <div *ngIf="stickerParms" class="pt-2 ml-3 mt-3 font-14">
                    <div class="row">
                        <div class="col-12">
                            Mfg. Prod./Date : {{stickerParms.prodDate | date : "short"}}<br> 
                        </div>
                        <div class="col-12 mt-3">
                            Heat No. : {{stickerParms.heatNo}}<br>
                        </div>
                        <div class="col-12 mt-3">
                            Grade : {{stickerParms.grade}}<br>
                        </div>
                        <div class="col-12 mt-3">
                            Weight : {{stickerParms.weight}}<br>
                        </div>
                        <div class="col-12 mt-3">
                            Quality : {{stickerParms.quality}}<br>
                        </div>
                        <div class="col-12 mt-3">
                            Batch ID : {{stickerParms.batchId}}<br>
                        </div>
                        <div class="col-12 mt-3">
                            Size : {{stickerParms.size}}<br>
                        </div>
                        <div class="col-12 mt-3">
                            Length : {{stickerParms.length}}<br>
                        </div>
                        <div class="col-12 mt-3">
                            No. of pcs : {{stickerParms.noOfPcs}}<br>
                        </div>
                    </div>
                    <!-- Mfg. Prod./Date : {{stickerParms.prodDate | date : "short"}}<br>
                    Heat No. : {{stickerParms.heatNo}}<br>
                    Grade : {{stickerParms.grade}}<br>
                    Weight : {{stickerParms.weight}}<br>
                    Quality : {{stickerParms.quality}}<br>
                    Batch ID : {{stickerParms.batchId}}<br>
                    Size : {{stickerParms.size}}<br>
                    Length : {{stickerParms.length}}<br>
                    No. of pcs : {{stickerParms.noOfPcs}}<br> -->
                </div>
                <div *ngIf="barCode" class="print-sticker pt-2">
                    <div class="row mt-4">
                        <div class="col-7 pr-0">
                            <img [src]='barCode' class="mt-5 pt-2 w-100"/>
                        </div>
                        <div class="col-5 mt-2 pl-0">
                            <img [src]='qrCode' class="height-110"/>
                        </div>
                    </div>
                    
                    
                </div>
            </div>

          
            
            <!-- <button type="button" class="btn btn-sm btn-primary mr-3" (click)="print()">Print</button> -->
            <button *ngIf="isPrint" class="btn btn-sm btn-primary mr-3 mt-3" [useExistingCss]="true" printSectionId="print-section" ngxPrint>print</button> 
        </div>
    </div>
</div>

 <!-- <img src="data:image/png;base64, imgCode" alt="Red dot" /> -->