a.hover {
    cursor: pointer;
}

.rowcolor{
    background: lightgreen !important;
}

.rowfinalcolor{
    background: skyblue !important;
}

::ng-deep .mydrp { position:absolute !important;  }
::ng-deep .selectorarrow { position:absolute !important; }
::ng-deep .mydrp .selectiongroup {     margin-left: 12px;    top: -18px;     display: inline-table  !important;     border: 1px solid #CCC !important; }
::ng-deep .mydrp { border:none !important; }
::ng-deep body .ui-table .ui-table-thead > tr > th { height:45px !important; }