<p-table  #dt [columns]="columns" [value]="tableData" styleClass="{{styleClass}}" [scrollable]="true" [style]="{width:'100%'}" scrollHeight="500px"
         [paginator]="paginator" [rows]="noOfRows" [(selection)]="selectedRecords" [showCurrentPageReport]="true" 
         currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" 
         [rowsPerPageOptions]="[10,25,50]" [globalFilterFields]="globalFilterArray" 
          [frozenColumns]="frozenCols.length? frozenCols:null" [frozenWidth]="frznWidth? frznWidth:null" 
          scrollWidth="100%" [(first)]="first">
    <ng-template *ngIf="showGlobalFilter || saveButton || createButton || isMultiDelete || reapplyButton" pTemplate="caption">


        <div class="d-flex p-2">
          <div *ngIf="showGlobalFilter" class="p-input-icon-right">
            <i class="fa fa-search"></i>
            <input pInputText type="text" (input)="filterTable($event)" placeholder="Search keyword" />
          </div>

          <div class="ml-auto">
            <button type="submit" *ngIf="saveButton" class="btn btn-sm btn-primary" (click)="saveData()" [disabled]="disableFields">Save</button>
            <button type="submit" *ngIf="createButton" class="btn btn-sm btn-primary" (click)="showDialog()">Create Role</button>
            <button type="submit" *ngIf='reapplyButton' class="btn btn-sm btn-primary" (click)="showDialog()">Re-Apply</button>
            <button name="refresh" type="submit" *ngIf='isRefreshBtn' class="btn btn-sm btn-primary mr-10p" (click)="btnClicked($event)">Refresh</button>
            <button name="release" type="submit" *ngIf='isReleaseBtn' class="btn btn-sm btn-primary" (click)="btnClicked($event)">Release</button>

            <button type="submit" *ngIf='sentToStock' class="btn btn-sm btn-primary mr-10p" (click)="sentToClick($event)">Send to Stock</button>
            <button type="submit" *ngIf='sentToSAP' class="btn btn-sm btn-primary" (click)="SAPToClick($event)">Send to SAP</button>
            <a *ngIf="isMultiDelete" href="javascript:void(0)" class="float-right mt-2 mr-2 text-muted" (click)="deleteMultipleRecords(selectedRecords)">
              <i class="fa fa-trash font-18"></i>
            </a>
          </div>
        </div>



    </ng-template>
    <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col *ngFor="let col of columns" [ngStyle]="{ 'width': col.width }">
        </colgroup>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field" [ngSwitch]="col.columnType">
              <ng-container *ngSwitchCase="columnType.checkbox">
                <p-tableHeaderCheckbox (click)="gerRowOnclick(null,'checkbox')"></p-tableHeaderCheckbox>
              </ng-container>
              <ng-container *ngSwitchDefault>
                {{col.header}}
                <span *ngIf="col.sortFieldName"><p-sortIcon  [field]="col.sortFieldName"></p-sortIcon></span>
              </ng-container>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-columns="columns" let-rowData let-ri="rowIndex">

        <tr  [ngClass]="{'rowcolor': (rowData['color']=='lightgreen'),'rowfinalcolor': (rowData['color']=='SkyBlue')}">
            <!-- [ngClass]="(col.columnType == columnType.number) ? 'text-right' : 'text-left'" -->
            <td *ngFor="let col of columns;let index = index" [ngSwitch]="col.columnType" [ngClass]="tdClass">
              <ng-container *ngSwitchCase="columnType.radio">
                <input type="radio" name="options" class="w-100" (click)="gerRowOnclick(rowData,'radio')" [disabled]="rowData.disabled">
                <!-- <p-radioButton name="radio" value="val1" (onClick)="gerRowOnclick(rowData,'radio')"></p-radioButton>  -->
              </ng-container>

              <ng-container *ngSwitchCase="columnType.checkbox">
                <p-tableCheckbox [value]="rowData" (click)="gerRowOnclick(null,'checkbox')"></p-tableCheckbox>
              </ng-container>

              <ng-container *ngSwitchCase="columnType.checkboxField"></ng-container>

              <ng-container *ngSwitchCase="columnType.hyperlink">
                <a (click)="gerRowOnclick(rowData,'hyperlink')" class="hyper-link" >{{rowData[col.field]}}</a>
              </ng-container>

              <ng-container *ngSwitchCase="columnType.text">
                <input type="text" pInputText pKeyFilter="num" [(ngModel)]="rowData[col.field]" class="w-100">
              </ng-container>

              <ng-container *ngSwitchCase="columnType.textField">
                <input id="{{ri}}_{{col.field}}" name="{{ri}}_{{col.field}}" class="w-100" [(ngModel)]="rowData[col.field]" type="text"
                pInputText [disabled]="disableFields || (rowData.isPlannedHeat && rowData.isPlannedHeat == 'Y')">

              </ng-container>

              <ng-container *ngSwitchCase="columnType.textWithValidations">
                <p-inputNumber  class="w-100" [ngModelOptions]="{standalone: true}"  [(ngModel)]="rowData[col.field]"  [required]="col.isRequired"  mode="decimal" inputId="withoutgrouping" [useGrouping]="false">
                </p-inputNumber>
                <div *ngIf="rowData[col.field] == null || rowData[col.field] == '' " class="p-invalid mt-1 font-13 float-right">{{col.errorMsg}}</div>
              </ng-container>

              <ng-container *ngSwitchCase="columnType.numericValidationField">
                <p-inputNumber  class="w-100" [ngModelOptions]="{standalone: true}" [(ngModel)]="rowData[col.field]"  mode="decimal" inputId="validationTextField_{{ri}}"
                [useGrouping]="false" (onBlur)="validateNumericField(rowData, col.field, ri)" [disabled]="col.disableCol"></p-inputNumber>
                <div *ngIf="col.isError && col.rowIndex == ri" class="p-invalid mt-1 font-13 float-right">{{col.errorMsg}}</div>
              </ng-container>

              <ng-container *ngSwitchCase="columnType.tooltip">
                <span class="text-primary" pTooltip="{{rowData[col.field]}}" tooltipPosition="top">{{rowData[col.field] ? (rowData[col.field] | wordTruncate) : ''}}</span>
              </ng-container>

              <ng-container *ngSwitchCase="columnType.date">
                {{ rowData[col.field] | date : (col.dateType)?col.dateType:"short" }}
              </ng-container>

              <ng-container *ngSwitchCase="columnType.dropdown">
                <p-dropdown id="dropdown_{{ri}}" name="dropdown_{{ri}}" [autoDisplayFirst]="false" [options]="col.list" [(ngModel)]="rowData[col.field]"
                #dropdown="ngModel" [style]="{'width':'100%'}" placeholder="Select" optionLabel="displayName" appendTo="body" optionValue="modelValue"
                [required]="true" (onChange)="onDropdownChange(rowData)" [disabled]="col.disableCol || col.field == 'batchStatus' && rowData.dummyBilletYN == 'Y'">
                </p-dropdown>
              </ng-container>
              <ng-container *ngSwitchCase="columnType.calender">
                <div class="p-fluid p-grid p-formgrid ">
                  <div class="p-field w-100 date-w-375 mb-0">
                    <p-calendar [(ngModel)]="rowData[col.field]" [autoZIndex]="true" appendTo="body"  [showIcon]="true"
                      [yearNavigator]="true" yearRange="2000:2030" dateFormat="mm/dd/yy" [showTime]="true"
                      [monthNavigator]="true" [ngModelOptions]="{standalone: true}"  [disabled]="disableFields" ></p-calendar>
                  </div>
                </div>
              </ng-container>

              <ng-container *ngSwitchCase="columnType.action">
                <i *ngIf="isEditAction" class="fas fa-pen cursor-pointer mr-2" (click)="editRecords(rowData)"></i>
                <i *ngIf="isDeleteAction" class="fas fa-trash cursor-pointer" (click)="deleteRecords(rowData)"></i>
                <!-- <i *ngIf="isEditAction" class="material-icons cursor-pointer text-dark md-text" (click)="editRecords(rowData)">edit</i> -->
                <!-- <i *ngIf="isDeleteAction" class="material-icons cursor-pointer text-dark md-text ml-3" (click)="deleteRecords(rowData)">delete</i> -->
              </ng-container>

              <!-- ellipsis -->

              <ng-container *ngSwitchCase="columnType.ellipsis">
                <div style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap" title="{{rowData[col.field]}}">
                  {{rowData[col.field]}}
                </div>
                
              </ng-container>

              <!-- end of ellipsis -->

              <ng-container *ngSwitchDefault>
                  {{rowData[col.field]}}
                  <div *ngIf="col.isError && col.rowIndex == ri" class="p-invalid mt-1 font-13 float-right">{{col.errorMsg}}</div>
              </ng-container>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage" let-columns>
      <tr>
          <td [attr.colspan]="columns.length">
              No records found
          </td>
      </tr>
  </ng-template>
</p-table>

<!-- Modal -->
<p-confirmDialog [style]="{width: '30vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>





