<div class="content pt-3 pb-3" #target>
  <!-- <h4 class="font-20 font-weight-bold text-grey mt-1 mb-3" #target>TPI Hold Release</h4> -->
  <p-accordion *ngIf="isFlCrViewOnly">
    <p-accordionTab header="Filter Criteria" class="card-title font-12 text-grey mb-0 bg-f1"
      [selected]="true">
      <div class="card bg-f1 border-0 p-0">
        <div class="card-body pt-0 pb-2">
          <div class="row">
            <div class="col-12 col-md-7 col-xl-4 ">
              <lib-jsw-core [componentType]='viewType.form' [formData]='filterCriteriaFrom'
                (changeEvent)="dropDownChangeEvent($event)"></lib-jsw-core>
            </div>
            <div class="col-12 col-md-5 col-xl-4 mt-3">
              <button *ngIf="isFlCrRtrv" type="button" class="btn btn-sm btn-primary mr-3" (click)="filterData()"> Retrieve</button>
              <button *ngIf="isFlCrRst" type="button" class="btn btn-sm btn-dark" (click)="reset()">Reset</button>
            </div>
          </div>
        </div>
      </div>
    </p-accordionTab>
  </p-accordion>
  <!-- <div class="card bg-f1 border-0 mb-3">
    <div class="card-body p-3 mb-2" *ngIf="isFlCrViewOnly">
      <h6 class="card-title font-weight-bold text-grey mb-3">Filter Criteria</h6>
      <div class="row">
        <div class="col-12 col-md-7 col-xl-4 ">
          <lib-jsw-core [componentType]='viewType.form' [formData]='filterCriteriaFrom'
            (changeEvent)="dropDownChangeEvent($event)"></lib-jsw-core>
        </div>
        <div class="col-12 col-md-5 col-xl-4 mt-1">
          <button *ngIf="isFlCrRtrv" type="button" class="btn btn-sm btn-primary mr-3" (click)="filterData()"> Retrieve</button>
          <button *ngIf="isFlCrRst" type="button" class="btn btn-sm btn-dark" (click)="reset()">Reset</button>
        </div>
      </div>
    </div>
  </div> -->
  <div class="card border-0 bg-e57c mt-3" *ngIf="isBatchDetails">
    <div class="card-header bg-primary" >
      <label class="text-white md-text mt-1 mb-0">TPI Hold Release Details</label>
    </div>
    <div class="card-body p-0">
      <div class="row mb-3 ml-2 mr-2" *ngIf="batchDetails.length >0">
        <div class="col-8">
          <lib-jsw-core [componentType]='viewType.form' [formData]='tpiCommonDetails'></lib-jsw-core>
        </div>
        <div class="col-4 mt-3">
          <button *ngIf="isSave" type="submit" class="btn btn-sm btn-primary mr-3" (click)="saveDetails()">Save</button>
          <button *ngIf="isRelease" type="submit" class="btn btn-sm btn-primary" (click)="release()">Release</button>
        </div>
      </div>
      <lib-jsw-core [componentType]='viewType.dynamicTable' [columns]='columns' [tableData]='batchDetails'
        [styleClass]="tableType" [isDeleteAction]="false" [isEditAction]="true" [isMultiDelete]="false"
        (getRow)="getSelectedRow($event)" [showGlobalFilter]="false" [isClearSelection]="true" [disableFields]="true"
        [clearSelectionEvent]="clearSelection.asObservable()"></lib-jsw-core>
    </div>
  </div>
</div>
