/* :host ::ng-deep .p-dropdown {
    height: 36px !important;
    width: 12.5em;
    -ms-user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
    display: inline-flex;
    position: relative;
    user-select: none;
} */

/* 
:host ::ng-deep .p-inputtext {
    width: 13em;
    margin: 0;
} */
/* 
.required input:after { content:"*"; } */

/* .required:after {
    content:" *";
    color: red;
  } */
