<form name="{{formObject.formName}}" #jswForm="ngForm" class="col-p-10">
  <div class="row">
    <div [ngClass]="{'d-none': !item.isVisible}" class="{{item.colSize}} mt-3 mb-0" *ngFor="let item of formObject.formFields; let index = index">
      <!-- Numeric Field  -->
      <div class="p-float-label  w-100" *ngIf='item.fieldType == fieldType.number' >
        <p-inputNumber id="{{index}}_{{item.ref_key}}" name="{{index}}_{{item.ref_key}}" [(ngModel)]="item.value" #numberField="ngModel"
          mode="decimal" inputId="{{index}}_{{item.ref_key}}" [useGrouping]="false" [maxlength]="item.maxLength" [disabled]='item.disabled'
          (onBlur)='dataValidation(item.fieldType, item, item.value, index, $event)' [required]="item.isRequired"></p-inputNumber>
          <label [ngClass]="{'required': item.isRequired}">{{item.label}}</label>
          <!-- <div *ngIf="!numberField?.valid && (numberField?.dirty || numberField?.touched)" class="error">
          <div class="p-invalid mt-1 font-12 float-right" *ngIf="numberField.errors.required">
            Required
          </div>
        </div> -->
        <div *ngIf="item.isError" for="float-input" class="p-invalid mt-1 font-12 float-right">{{item.errorMsg}}</div>
      </div>

      <!-- Numeric Field  with mask -->
      <div class="p-float-label  w-100" *ngIf='item.fieldType == fieldType.numberMask'>
          <p-inputMask id="{{index}}_{{item.ref_key}}" inputId="{{index}}_{{item.ref_key}}" name="{{index}}_{{item.ref_key}}"
          (onBlur)='dataValidation(item.fieldType, item, item.value, index, $event)' mask="{{item.mask}}" [(ngModel)]="item.value"
             placeholder="" [unmask]="true" [autoClear]="false" [required]="item.isRequired" [disabled]='item.disabled'></p-inputMask>
        <label [ngClass]="{'required': item.isRequired}">{{item.label}}</label> <!-- class="float-input p-text-bold" -->
        <div *ngIf="item.isError" for="float-input" class="p-invalid mt-1 font-12 float-right">{{item.errorMsg}}</div>
      </div>

      <!-- Text field with key filter -->
      <div class="p-float-label  w-100" *ngIf='item.fieldType == fieldType.textWithFilter'>
        <input id="{{index}}_{{item.ref_key}}" name="{{index}}_{{item.ref_key}}" [(ngModel)]="item.value"
          (change)='dataValidation(item.fieldType, item, item.value, index, $event)' type="text" pInputText
           maxlength={{item.maxLength}} [disabled]='item.disabled' [required]="item.isRequired"
          ariaRequired>
          <!-- [pKeyFilter]="item.pKeyFilter" -->
        <label [ngClass]="{'required': item.isRequired}">{{item.label}}</label>
        <div *ngIf="item.isError" class="p-invalid mt-1 font-12 float-right">{{item.errorMsg}}</div>
      </div>

      <!-- Simple Text Field -->
      <div class="p-float-label  w-100" *ngIf='item.fieldType == fieldType.text'>
        <input id="{{index}}_{{item.ref_key}}" name="{{index}}_{{item.ref_key}}" [(ngModel)]="item.value"
          (change)='dataValidation(item.fieldType, item, item.value, index, $event)' type="text" pInputText
          maxlength={{item.maxLength}} [disabled]='item.disabled' [required]="item.isRequired"
          ariaRequired>
        <label [ngClass]="{'required': item.isRequired}">{{item.label}}</label>
        <div *ngIf="item.isError" class="p-invalid mt-1 font-12 float-right">{{item.errorMsg}}</div>
      </div>

      <!-- Simple Text Field -->
      <div class="p-float-label w-100" *ngIf='item.fieldType == fieldType.email'>
        <input id="{{index}}_{{item.ref_key}}" name="{{index}}_{{item.ref_key}}" [(ngModel)]="item.value" #email="ngModel" pInputText
          (change)='dataValidation(item.fieldType, item, item.value, index, $event)' type="email"
          [pattern]="item.pattern" [disabled]='item.disabled' [required]="item.isRequired"
          ariaRequired>
        <label [ngClass]="{'required': item.isRequired}">{{item.label}}</label>
        <div *ngIf="email.errors?.pattern" class="p-invalid mt-1 font-12 text-right">Please enter valid Email</div>
        <div *ngIf="item.isError" class="p-invalid mt-1 font-12 text-right">{{item.errorMsg}}</div>
      </div>

      <!-- Calendar/Date field -->
      <div class="p-float-label w-100" *ngIf='item.fieldType == fieldType.calendar'>
        <p-calendar id="{{index}}_{{item.ref_key}}" name="{{index}}_{{item.ref_key}}" [(ngModel)]="item.value" [showIcon]="true" inputId="{{index}}_{{item.ref_key}}" [showTime]="true" [monthNavigator]="true"
          [yearNavigator]="true" yearRange="2000:2030" dateFormat="mm/dd/yy" [autoZIndex]="true" [required]="item.isRequired" [disabled]="item.disabled"
          (onClose)="dataValidation(item.fieldType, item, item.value, index, $event)" [showOnFocus]="false" [maxDate]="item.maxDate">
        </p-calendar>
        <label [ngClass]="{'required': item.isRequired}">{{item.label}}</label>
        <div *ngIf="item.isError" class="p-invalid mt-1 font-12 float-right">{{item.errorMsg}}</div>
      </div>

      <!-- Single select dropdown -->
      <div class="p-float-label w-100" *ngIf='item.fieldType == fieldType.dropdown'>
        <p-dropdown id="{{index}}_{{item.ref_key}}" inputId="{{index}}_{{item.ref_key}}" name="{{index}}_{{item.ref_key}}" [autoDisplayFirst]="false"
          [options]="item.list" [(ngModel)]="item.value" optionLabel="displayName" appendTo="body" optionValue="modelValue" [filter]="item.list && item.list.length > 5 ? true : false"
          filterBy="displayName" [showClear]="true" [required]="item.isRequired" [disabled]="item.disabled"
          [autoZIndex]="false" (onChange)="dataValidation(item.fieldType, item, item.value, index, $event)">
          <!--
            <ng-template pTemplate="selectedItem">
              <div *ngIf="item.value">
                <div>{{item.value}}</div>
              </div>
          </ng-template> -->
          <!-- <ng-template let-selectedOption pTemplate="item">
              <div class="country-item">
                <div>{{selectedOption.displayName}}</div>
              </div>
          </ng-template> -->
        </p-dropdown>
        <label [ngClass]="{'required': item.isRequired}">{{item.label}}</label>
        <div *ngIf="item.isError" class="p-invalid mt-1 font-12 float-right">{{item.errorMsg}}</div>
      </div>

      <!-- Multiselect Dropdown -->
      <div class="p-float-label w-100" *ngIf='item.fieldType == fieldType.multiselect' >
        <p-multiSelect id="{{index}}_{{item.ref_key}}" inputId="{{index}}_{{item.ref_key}}"  name="{{index}}_{{item.ref_key}}" [options]="item.list" [(ngModel)]="item.selectedItems"
          defaultLabel="" optionLabel="displayName" optionValue="modelValue"  (onChange)="dataValidation(item.fieldType, item, item.value, index, $event)"
          [required]="item.isRequired"></p-multiSelect>
        <!-- <pre>{{item.selectedItems}}</pre> -->
        <label [ngClass]="{'required': item.isRequired}">{{item.label}}</label>
        <div *ngIf="item.isError" class="p-invalid mt-1 font-12 float-right">{{item.errorMsg}}</div>
      </div>

      <!-- Textarea field -->
      <div class="p-float-label w-100" *ngIf='item.fieldType == fieldType.textarea'>
        <textarea class="form-control" rows="{{item.noOfRows}}" id="{{index}}_{{item.ref_key}}" name="{{index}}_{{item.ref_key}}"
              pInputText [(ngModel)]="item.value" [disabled]='item.disabled' (change)='dataValidation(item.fieldType, item, item.value, index, $event)'
              [required]="item.isRequired"></textarea>
              <label [ngClass]="{'required': item.isRequired}">{{item.label}}</label>
        <div *ngIf="item.isError" class="p-invalid mt-1 font-12 float-right">{{item.errorMsg}}</div>
      </div>
    </div>
  </div>
</form>

