<lib-jsw-form *ngIf='componentType == viewType.form' [formObject]='formData' (changeEvent)="triggerChangeEvent($event)" (setForm)="formEvent($event)">
</lib-jsw-form>

<lib-static-table *ngIf='componentType == viewType.staticTable' [columns]='columns' [tableData]='tableData'
  [styleClass]="styleClass"></lib-static-table>

<lib-dynamic-table *ngIf="componentType == viewType.dynamicTable" [columns]='columns' [tableData]='tableData' [paginator]="paginator"
  [styleClass]="styleClass" [globalFilterArray]="globalFilterArray" (getRow)="getRowInfo($event)" [clearSelectionEvent]="clearSelection.asObservable()"
  (editedTableData)='sendTableData($event)' (editEvent)="editRecord($event)" (deleteEvent)="confirmDelete($event)" (setTable)="tableEvent($event)"
  (deleteMultipleEvent)="deleteMultipleRecords($event)" [saveButton]='saveButton' [createButton]='createButton' [disableFields]='disableFields'
  (openModalEvent)='opneModalPopup($event)' (numericValidationEvent)="triggerNumValEvent($event)" [showGlobalFilter]="showGlobalFilter" [isEditAction]="isEditAction"
  [isDeleteAction]="isDeleteAction" [isMultiDelete]="isMultiDelete" [reapplyButton]='reapplyButton' (dropdownEvent)="dropdownChangeEvent($event)"
  [isRefreshBtn]="isRefreshBtn" [isClearSelection]="isClearSelection" [sentToSAP]="sentToSAP" (SAPEvent)="SAPToClick($event)" [sentToStock]="sentToStock" (sentToEvent)='sentToClick($event)' 
  [isReleaseBtn]="isReleaseBtn" (btnClickEvent)="btnClicked($event)"
  [frozenCols]='frozenCols' [frznWidth]='frznWidth' [noOfRows]="noOfRows" [childNumOfRows]='childNumOfRows'[tdClass]='tdClass' [first]="first"></lib-dynamic-table>
