<div class="row">
  <div class="col-6 pr-0">
    <div class="card border-0 bg-e57c">
      <div class="card-header bg-primary d-flex">
        <label class="text-white md-text mt-1 mb-0">Heat Lines</label>
        <div class="ml-auto" >
          <button type="button" class="btn btn-sm btn-link btn-outline-light text-white p-0 ml-3" 
      [disabled]="!enableRelAbortBtn" (click)="releaseHeatLines($event)"><i
      class=" ml-1 mr-2" data-toggle="tooltip" data-placement="top"
      title="Release"></i>
      <span class="mr-2">
        Release
      </span></button>
      <button type="button" class="btn btn-sm btn-link btn-outline-light text-white p-0 ml-3" 
      [disabled]="!enableRelAbortBtn" (click)="abortHeatLines($event)"><i
      class=" ml-1 mr-2" data-toggle="tooltip" data-placement="top"
      title="Abort"></i>
      <span class="mr-2">
        Abort
      </span></button>
          <!-- <button *ngIf="isSaveBtn" type="button" class="btn btn-sm btn-link btn-outline-light text-white p-0 ml-3" (click)="saveHeatLines($event)">
            <i class="fa fa-save ml-1 mr-2" data-toggle="tooltip" data-placement="top"
                title="Save"></i>
                <span class="mr-2">
                  Save
                </span></button> -->
        </div>
      </div>
      
      <div class="card-body p-0">
        <div class="row">
          <div class="col-12">
            <lib-jsw-core [componentType]='viewType.dynamicTable' [columns]='heatLineColumns' [tableData]='heatLineData'
              [styleClass]="tableType" (getRow)="getSelectedRecord($event)" [childNumOfRows]='5'
               [disableFields]="true" [tdClass]='tdClass'></lib-jsw-core>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6 pl-2">
    <div class="card border-0 bg-e57c">
      <div class="card-header bg-primary">
        <label class="text-white md-text mt-1 mb-0">Batch Lines <span *ngIf="selectedRecord && selectedRecord.planHeatId">of Planned Heat ID - {{selectedRecord?.planHeatId}}</span></label>
      </div>
      <div class="card-body p-0" #batchLines>
        <div class="row">
          <div class="col-12">
            <lib-jsw-core [componentType]='viewType.dynamicTable' [columns]='batchColumns' [tableData]='batchLineData'
              [styleClass]="tableType"></lib-jsw-core>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="card border-0 bg-e57c">
  <div class="card-header bg-primary d-flex">
    <label class="text-white md-text mt-1 mb-0">Heat Lines</label>
    <div class="ml-auto" >
      <button *ngIf="isSaveBtn" type="button" class="btn btn-sm btn-link btn-outline-light text-white p-0 ml-3" (click)="saveHeatLines($event)">
        <i class="fa fa-save ml-1 mr-2" data-toggle="tooltip" data-placement="top"
            title="Save"></i>
            <span class="mr-2">
              Save
            </span></button>
    </div>
  </div>
  
  <div class="card-body p-0">
    <div class="row">
      <div class="col-12">
        <lib-jsw-core [componentType]='viewType.dynamicTable' [columns]='heatLineColumns' [tableData]='heatLineData'
          [styleClass]="tableType" (getRow)="getSelectedRecord($event)" [childNumOfRows]='5'
           [disableFields]="true"></lib-jsw-core>
      </div>
    </div>
  </div>
</div> -->

<!-- <div class="card border-0 bg-e57c mt-2">
  <div class="card-header bg-primary">
    <label class="text-white md-text mt-1 mb-0">Batch Lines <span *ngIf="selectedRecord && selectedRecord.planHeatId">of Planned Heat ID - {{selectedRecord?.planHeatId}}</span></label>
  </div>
  <div class="card-body p-0" #batchLines>
    <div class="row">
      <div class="col-12">
        <lib-jsw-core [componentType]='viewType.dynamicTable' [columns]='batchColumns' [tableData]='batchLineData'
          [styleClass]="tableType"></lib-jsw-core>
      </div>
    </div>
  </div>
</div> -->
