<div class="card border-0 bg-e57c">

  <div class="card-header bg-primary d-flex">
    <label class="text-white md-text mt-1 mb-0">Schedule Orders</label>
    
    
    <div class="ml-auto" *ngIf="isSaveBtn" >
      <button type="button" class="btn btn-sm btn-link btn-outline-light text-white p-0 ml-3" (click)="saveScheduleList()"
      [disabled]="disableSchActions"><i
      class="fa fa-save ml-1 mr-2" data-toggle="tooltip" data-placement="top"
      title="Save"></i>
      <span class="mr-2">
        Save
      </span></button>
    </div>
  </div>
  <!-- <div class="card-header bg-primary">
    <label class="text-white md-text mt-1 mb-0">Schedule Orders</label>
  </div> -->
  <div class="card-body p-0">
    <div class="row">
      <div class="col-12">
        <p-table #dt [columns]="columns" [value]="scheduleList" styleClass="{{tableType}}" [scrollable]="true"
          [style]="{width:'100%'}" scrollHeight="500px" [paginator]="true" [rows]="10" [(selection)]="selectedRecords"
          [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
          [rowsPerPageOptions]="[10,25,50]">
          <!-- <ng-template pTemplate="caption" *ngIf="isSaveBtn">
            <div class="d-flex p-2">
              <div class="ml-auto">
                <button type="button" class="btn btn-sm btn-primary" (click)="saveScheduleList()"
                  [disabled]="disableSchActions">Save</button>
              </div>
            </div>
          </ng-template> -->
          <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
              <col *ngFor="let col of columns" [ngStyle]="{ 'width': col.width }">
            </colgroup>
          </ng-template>
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of columns" [pSortableColumn]="col.field" [ngSwitch]="col.columnType">
                <ng-container *ngSwitchCase="columnType.checkbox">
                  <p-tableHeaderCheckbox (click)="getSelectedSchList()"></p-tableHeaderCheckbox>
                </ng-container>
                <ng-container *ngSwitchDefault>
                  {{col.header}}
                  <span *ngIf="col.sortFieldName">
                    <p-sortIcon [field]="col.sortFieldName"></p-sortIcon>
                  </span>
                </ng-container>
                
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-columns="columns" let-rowData let-ri="rowIndex">
            <tr>
              <td *ngFor="let col of columns" [ngSwitch]="col.field" class="height-max-content pt-0 pb-0">
                <ng-container *ngSwitchCase="'checkbox'">
                  <p-tableCheckbox [value]="rowData" (click)="getSelectedSchList()"
                    [disabled]="disableSchActions "></p-tableCheckbox>
                </ng-container>

                <ng-container *ngSwitchCase="'inputProduct'">
                  <p-dropdown id="inputProduct" name="inputProduct" inputId="inputProduct" [autoDisplayFirst]="false"
                    [options]="inputProductList" [(ngModel)]="rowData[col.field]" [style]="{'width':'100%'}"
                    optionLabel="displayName" appendTo="body" optionValue="modelValue" [required]="true"
                    (onChange)='getProductTypeAndUpdateSizeList(rowData,$event)'
                    [disabled]="disableSchActions || rowData['status']"> </p-dropdown>
                </ng-container>

                <ng-container *ngSwitchCase="'inputSize'">
                  <p-dropdown id="inputSize" name="inputSize" inputId="inputSize" [autoDisplayFirst]="false"
                    [disabled]="disableSchActions || rowData['status']" [options]="rowData['inputSizeList']"
                    [(ngModel)]="rowData[col.field]" [style]="{'width':'100%'}" optionLabel="displayName"
                    appendTo="body" optionValue="modelValue" [required]="true"
                    (onChange)="getDensityByProductSize(rowData)"> </p-dropdown>
                </ng-container>

                <ng-container *ngSwitchCase="'plannedPcs'">
                  <input id="plannedPcs" name="plannedPcs" inputId="plannedPcs" #plannedPcs="ngModel" type="text"
                    [disabled]="disableSchActions || rowData['status']" pInputText pKeyFilter="num"
                    placeholder="Planned Pcs" [(ngModel)]="rowData[col.field]" (change)="onplannedQtyPcshange(rowData)"
                    class="w-100">
                  <div *ngIf="rowData['plannedPcsError']" class="p-invalid mt-1 font-13">Please enter Planned Pcs
                    Quantity </div>
                </ng-container>

                <ng-container *ngSwitchCase="'cutLength'">
                  <input id="cutLength" name="cutLength" inputId="cutLength" #cutLength="ngModel" type="text"
                    [disabled]="disableSchActions || rowData['status']" pInputText pKeyFilter="num"
                    placeholder="Cut Length" [(ngModel)]="rowData[col.field]"
                    (change)="calculateOncePieceWeight(rowData)" class="w-100">
                  <!-- <div *ngIf="rowData['cutlengthError']" class="p-invalid mt-1 font-13">Please enter Cut Length</div> -->
                  <div *ngIf="rowData['cutlengthError']" class="p-invalid mt-1 font-13">Please enter Cut Length</div>
                  <div *ngIf="validationFlags.cutLengthEnabled && rowData.cutLength && (rowData.cutLength < rowData.smsProductLengthMin || rowData.cutLength > rowData.smsProductLengthMax)" class="p-invalid mt-1 font-13">
                    Please enter cut length in the range of {{rowData.smsProductLengthMin}}-{{rowData.smsProductLengthMax}}
                  </div>
                </ng-container>

                <ng-container *ngSwitchCase="'plannedQty'">
                  <input id="plannedQty" name="plannedQty" inputId="plannedQty" #plannedQty="ngModel" type="text"
                    [disabled]="disableSchActions" pInputText pKeyFilter="num"
                    placeholder="Planned Qty" [(ngModel)]="rowData[col.field]" (change)='onplannedQtyTonshange(rowData)'
                    class="w-100">
                    <div *ngIf="rowData['plannedQtyError']" class="p-invalid mt-1 font-13">Planned Qty is Greater than BTR</div>
                </ng-container>
                <ng-container *ngSwitchCase="'opQty'">
                  <input id="opQty" name="opQty" inputId="opQty" #opQty="ngModel" type="text"
                    [disabled]="disableSchActions || rowData['status']" pInputText pKeyFilter="num"
                    placeholder="OP Qty" [(ngModel)]="rowData[col.field]" (change)='onOPQtyTonChange(rowData)'
                    class="w-100">
                </ng-container>
                <ng-container *ngSwitchDefault>
                  {{ ((col.columnType == columnType.date) ? (rowData[col.field] | date : "short") :  rowData[col.field]) }}
                </ng-container>
                <ng-container *ngSwitchCase="'customerName'">
                  <div class="st-ellipsis" title="{{rowData[col.field]}}">
                    {{rowData[col.field]}}
                  </div>
                </ng-container>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage" let-columns>
            <tr>
              <td [attr.colspan]="columns.length">
                No records found
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>
