<div class="row">
  <div id="wrapper" [ngClass]="{'sm-open': expandMenu, 'sm-close': !expandMenu}">
    <app-loader></app-loader>
    <nav class="navbar sticky-top bg-white shadow-sm pt-1 pb-2 z-3" role="navigation">
      <a href="javascript:void(0)">
        <img class="w-60p" src="assets/images/jsw-steel-logo.png" alt="logo">
      </a>
      <h5 class="d-inline font-weight-bold text-grey mt-2 mb-1 font-16" *ngIf="selectedSM">{{selectedSM.name}}</h5>
      <h5 class="d-inline font-weight-bold text-grey mt-2 mb-1 font-16" *ngIf="!selectedSM">{{menuSelectedName}}</h5>
      <h5 class="d-inline font-weight-bold text-grey mt-2 mb-1 font-16" *ngIf="!menuSelectedName">Dashboard</h5>
      <div class="dropdown mt-1">
        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
          <img class="w-30p h-auto" src="assets/images/userIcon.png" />
          <span class="pl-2 text-muted">{{userDetails.firstName}} - {{userDetails.userId}}</span>
        </a>
        <div class="dropdown-menu left-auto right-0 mt-2 py-0 border border-light shadow">
          <h5 class="dropdown-header pt-3">Roles</h5>
          <a class="dropdown-item" *ngFor="let role of userRoles" (click)="switchUser(role.role)"
            [ngClass]="{'text-primary': role.role == currentUserRole, 'text-muted': role.role != currentUserRole}">{{role.role}}</a>
          <a href="javascript:void(0);" class="dropdown-item d-flex align-items-center font-14 py-2" [routerLink]="['/user-auth/changePassword']"><i class="fas fa-lock mr-2"> </i>Change Password</a>
          <a href="javascript:void(0);" class="dropdown-item d-flex align-items-center font-14 py-2" (click)="logoutUser()">
            <i class="fas fa-sign-out-alt mr-2"> </i> Log Out</a>
        </div>
      </div>
    </nav>
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<div #sideNavBar class="sidebar-top position-fixed bg-primary h-100vh left-0 top-0 z-2 pb-5 shadow"
  [ngClass]="{'sm-open': expandMenu, 'sm-close': !expandMenu}">
  <div class="hamburger text-right" (click)="toggleSideBar()">
    <a class="d-block py-3 px-3" href="javascript:void(0)">
      <img src="assets/images/icons/hamburger_expand.png" [hidden]="!expandMenu">
      <img src="assets/images/icons/hamburger_collapsed.png" [hidden]="expandMenu">
    </a>
  </div>
  <ul class="navbar-nav sidebar overflow-auto accordion h-100" id="accordionSidebar" [ngClass]="{'toggled': !expandMenu}">
    <li class="nav-item position-relative" *ngFor="let mitem of menuList; let i = index" routerLinkActive="active-menu">
      <a *ngIf="mitem.subMenuItems && mitem.subMenuItems.length" href="javascript:void(0);" class="nav-link collapsed position-relative" (click)="onMenuSelect(mitem, i);" title="{{mitem.tooltip}}"
        data-toggle="collapse" data-target="#submenu" aria-expanded="true"
        [ngClass]="{'border-left-5 border-white bg-white-active': mitem.active}">
        <i class="text-white {{mitem.icon}}" aria-hidden="true"></i>
        <span class="text-white">{{mitem.name}}</span>
      </a>
      <a *ngIf="!mitem.subMenuItems || !mitem.subMenuItems.length" href="javascript:void(0);" class="nav-link position-relative" (click)="onMenuSelect(mitem, i);" title="{{mitem.tooltip}}"
        [ngClass]="{'border-left-5 border-white bg-white-active': mitem.active}">
        <i class="text-white {{mitem.icon}}" aria-hidden="true"></i>
        <span class="text-white">{{mitem.name}}</span>
      </a>
      <div  id="submenu" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar" *ngIf="mitem.active">
        <div class="collapse-inner pt-2 h-100 bg-white" *ngIf="mitem.name=='Interface'">
          <h6 *ngIf="interfaceheader.length" class="sub-title px-3 pt-2 text-primary font-weight-bold">SMS MES</h6>
          <a href="javascript:void(0);" *ngFor="let smitem of interfaceheader; let sm_i = index"
            class="collapse-item d-block text-decoration-none text-grey"
            [ngClass]="{'text-primary font-weight-bold active': smitem.active}"
            (click)="onSubMenuSelect(mitem, smitem, sm_i)">{{smitem.name}}</a>

          <h6 *ngIf="FROMSAPList.length" class="sub-title px-3 pt-2 text-primary font-weight-bold">FROM SAP</h6>
          <a href="javascript:void(0);" *ngFor="let smitem of FROMSAPList; let sm_i = index"
            class="collapse-item d-block text-decoration-none text-grey"
            [ngClass]="{'text-primary font-weight-bold active': smitem.active}"
            (click)="onSubMenuSelect(mitem, smitem, sm_i)">{{smitem.name}}</a>

          <h6 *ngIf="TOSAPList.length" class="sub-title px-3 pt-2 text-primary font-weight-bold">TO SAP</h6>
          <a href="javascript:void(0);" *ngFor="let smitem of TOSAPList; let sm_i = index"
            class="collapse-item d-block text-decoration-none text-grey"
            [ngClass]="{'text-primary font-weight-bold active': smitem.active}"
            (click)="onSubMenuSelect(mitem, smitem, sm_i)">{{smitem.name}}</a>
        </div>
        <div class="collapse-inner pt-2 h-100 bg-white" *ngIf="mitem.name!='Interface'" >
          <h6 class="sub-title px-3 pt-2 text-primary font-weight-bold">{{mitem.name}}</h6>
          <a href="javascript:void(0);" *ngFor="let smitem of mitem.subMenuItems; let sm_i = index" class="collapse-item d-block text-decoration-none text-grey"
          [ngClass]="{'text-primary font-weight-bold active': smitem.active}" (click)="onSubMenuSelect(mitem, smitem, sm_i)">{{smitem.name}}</a>
        </div>
      </div>
    </li>
  </ul>
</div>
