<div class="content pt-3 pb-3" #target>
  <!-- <h4 class="font-20 font-weight-bold text-grey mt-1 mb-3" #target> LP Production Confirmation </h4> -->
  <p-accordion>  <!-- *ngIf="isFilterSection"  removed for now.. need to send this in the API response as already mapped to SuperAdmin role in role mapping screen -->
    <p-accordionTab header="Filter Criteria" class="card-title font-12 text-grey mb-0 bg-f1"
      [selected]="true">
      <div class="card bg-f1 border-0 p-0">
        <div class="card-body pt-0 pb-2">
          <div class="row">
            <div class="col-12 col-md-7 col-xl-9">
              <lib-jsw-core [componentType]='viewType.form' [formData]='formObject'>
                <!-- (change)="textBoxEventHandling(formObject)" -->
              </lib-jsw-core>
        </div>
          <div class="mt-3">
            <button type="button" class="btn btn-sm btn-primary mr-3"(click)="getLPProdConfirmationDetails(false)">Retrieve</button>  <!-- *ngIf="isRetrive" -->
            <button type="button" class="btn btn-sm btn-dark" (click)="resetForm()">Reset</button> <!-- *ngIf="isReset" -->
          </div>
        </div>
        </div>
      </div>
    </p-accordionTab>
  </p-accordion>
  <!-- <div class="card bg-f1 border-0 mb-3">
    <div class="card-body p-3" *ngIf="isFilterSection">
      <h6 class="card-title font-weight-bold text-grey mb-3">Filter Criteria</h6>
      <lib-jsw-core [componentType]='viewType.form' [formData]='formObject' (change)="textBoxEventHandling(formObject)">
      </lib-jsw-core>
      <div class="text-right">
        <button type="button" *ngIf="isRetrive" class="btn btn-sm btn-primary mr-3"(click)="getLPProdConfirmationDetails()">Retrieve</button>
        <button type="button" *ngIf="isReset" class="btn btn-sm btn-dark" (click)="resetForm()">Reset</button>
      </div>
    </div>
  </div> -->
  <div class="card border-0 bg-e57c mt-3" *ngIf="isListSection">
    <div class="card-header bg-primary d-flex">
      <label class="text-white md-text mt-1 mb-0">LP Production Confirmation Details</label>
      <div class="ml-auto" >
        <button *ngIf="isDownload" (click)="downloadFile('csv')" class="btn btn-sm btn-link btn-outline-light text-white p-0 ml-3"><i
            class="fas fa-file-excel mr-1 ml-1 mr-2" data-toggle="tooltip" data-placement="top"
            title="Download Excel File"></i><span class="mr-2">
              Download
            </span></button>

            <button  *ngIf="selectedRecord && isRepushInterface" (click)="LPConfirmationInterfcePopup()" class="btn btn-sm btn-link btn-outline-light text-white p-0 pl-2 ml-3">
              <span class="mr-2">
                Re-push Interface
              </span>
            </button>

         <!-- <button
        (click)="pushBackProductionConfirmationDetails()" class="btn btn-sm btn-link btn-outline-light text-white p-0 ml-3">Re-push Interface</button> -->

      </div>
    </div>
    <!-- <div class="card-header bg-primary">
      <label class="text-white md-text mt-1 mb-0">LP Production Confirmation Details</label>
    </div> -->
    <div class="card-body p-0">
      <div class="row">
        <!-- <div class="col-12">
          <div class="ml-auto ">
            <button type="submit" class="btn btn-sm btn-primary mt-2 mb-1 float-right mr-2"
            *ngIf="isDownload"  (click)="downloadFile('csv')">Download</button>
          </div>
        </div> -->
        <div class="col-12">
          <lib-jsw-core [componentType]='viewType.dynamicTable' [columns]='columns' [styleClass]="tableType"
            [tableData]='productionList' (getRow)="getSelectedRecord($event)" [isClearSelection]="true"  [clearSelectionEvent]="clearSelection.asObservable()">
          </lib-jsw-core>
        </div>
      </div>
    </div>
  </div>

  <p-dialog [(visible)]="openRepushInterfaceModel" [modal]="true" [style]="{width: '40vw'}" 
  [baseZIndex]="10000" [draggable]="false" [resizable]="false">
  <p-header>
    <h6 class="text-dark font-nBold d-inline-block">
      Do You Want To Re-push Interface Data for Set Batch ID : {{setBatchId.setBatchId}}</h6>
  </p-header>

  <div class="text-right mt-2">
    <button class="btn btn-sm btn-primary text-uppercase md-w font-nRegular mr-2"
      (click)="pushBackProductionConfirmationDetails()">YES</button>
    <button class="btn btn-sm btn-dark text-uppercase md-w font-nRegular mr-2"
      (click)="closeLPConfirmationInterfcePopup()">NO</button>
  </div>
</p-dialog>


</div>
