<div class="card bg-f1 border-0 mb-2" *ngIf="filterCriteriaDisplay" >
  <div class="card-body p-0 ">
    <!-- <h6 class="card-title font-weight-bold text-grey mb-3">Filter Criteria</h6> -->
    <p-accordion>
      <p-accordionTab header="Filter Criteria" class="card-title font-12 text-grey mb-0 bg-f1"
      [selected]="!filterRetrieved">
        <div class="card border-0 p-0 bg-f1">
          <div class="card-body p-1 pl-3">
            <div class="row">
              <div class="col-12 col-md-7 col-xl-4">
                <lib-jsw-core [componentType]='viewType.form' [formData]='formObject' (changeEvent)="dropdownChangeEvent($event)"></lib-jsw-core>
              </div>
              <div class="col-12 col-md-5 col-xl-4 mt-3">
                  <button type="button" *ngIf="Retrivebtn" class="btn btn-sm btn-primary mr-3" (click)="retrieveLPSchedules()">Retrieve</button>
                  <button [hidden]="screen != 'bundleProd'" type="button" *ngIf="Retrivebtn" class="btn btn-sm btn-primary mr-3" (click)="retrieveAllBunProd()">Retrieve All</button>
                  <button type="button" *ngIf="Resetbtn" class="btn btn-sm btn-dark mr-3" (click)="resetFilter()">Reset</button>
                  <button [hidden]="screen != 'rolling'" type="button" *ngIf="Resetbtn" class="btn btn-sm btn-dark" (click)="closeSchedules()">Close Schd</button>
                  
              </div>
            </div>
          </div>
        </div>
      </p-accordionTab>
    </p-accordion>
    <!-- <div class="row">
      <div class="col-12 col-md-7 col-xl-4">
        <lib-jsw-core [componentType]='viewType.form' [formData]='formObject' (changeEvent)="dropdownChangeEvent($event)"></lib-jsw-core>
      </div>
      <div class="col-12 col-md-5 col-xl-4 mt-3">
          <button type="button" *ngIf="Retrivebtn" class="btn btn-sm btn-primary mr-3" (click)="retrieveLPSchedules()">Retrieve</button>
          <button type="button" *ngIf="Resetbtn" class="btn btn-sm btn-dark" (click)="resetFilter()">Reset</button>
      </div>
    </div> -->
  </div>
</div>

<div class="card border-0 bg-e57c mt-2" *ngIf="PlanShiftDisplay">
  <!-- <div class="card-header d-flex">
    <label class=" md-text mt-1 mb-0">LP Schedule Plan Details</label>
    <div class="ml-auto" >
      <button type="submit"
      class="btn btn-sm btn-primary" (click)="ShowDialog()">Shiftwise Production Details</button>
    </div>
  </div> -->
  <!-- <div class="card-header bg-primary">
    <label class="text-white md-text mt-1 mb-0">Plan & Shift Wise Details</label>
  </div> -->
  <div class="card-body p-2">
    <div class="row">
      <div class="col-12">
        <div class="row col-12">
          <h6 class="card-title font-weight-bold font-12 text-grey mb-1 mt-1">LP Schedule Plan Details</h6>
          <div class="ml-auto">
            <button type="submit"
            class="btn btn-sm btn-primary" (click)="ShowDialog()">Shiftwise Production Details</button>
          </div>
        </div>
        
        
        <p-table [value]="lpSchList" styleClass="{{tableType}}" class="w-100" [scrollable]="true"  [style]="{width:'100%'}" scrollHeight="500px"
         [rows]="10" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[10,25,50]" selectionMode="single" [(selection)]="selectedSchedule" (onRowSelect)="onRowSelect($event)"
        (onRowUnselect)="onRowUnselect($event)" dataKey="scheduleOrderSeqNo">
          <ng-template pTemplate="colgroup">
            <colgroup>
              <col *ngFor="let n of numSequence(23)" style="width:110px;">
            </colgroup>
          </ng-template>
          <ng-template pTemplate="header">
              <tr>
                  
                  <th rowspan="3" style="width:100px;">Sales Order</th>
                  
                  <th rowspan="3" style="width:100px;">Batch Grade</th>
                  <th rowspan="3" style="width:100px;">Heat No</th>
                  <th rowspan="3" style="width:130px;">Product Type</th>
                  <th rowspan="3" style="width:100px;">Rolling Size</th>
                  <th colspan="2" style="width:100px;" class="text-center">Batch Attached</th>
                  <th colspan="2" style="width:100px;" class="text-center">Batch Charged</th>
                  <th colspan="2" style="width:100px;" class="text-center">Batch Discharged</th>
                  <th colspan="2" style="width:100px;" class="text-center">Batch Rolled</th>
                  <th colspan="2" style="width:100px;" class="text-center">Batch Cobbled</th>
                  <th colspan="2" style="width:100px;" class="text-center">Batch Mix</th>
                  <th colspan="2" style="width:100px;" class="text-center">Batch Hotout</th>
                  <th colspan="2" style="width:100px;" class="text-center">Bundles</th>
                  <th rowspan="5" style="width:100px;">Schedule ID</th>
                  <th rowspan="3" style="width:100px;">Line No</th>
              </tr>
              <tr>
                  <th>Nos</th>
                  <th>Weight</th>
                  <th>Nos</th>
                  <th>Weight</th>
                  <th>Nos</th>
                  <th>Weight</th>
                  <th>Nos</th>
                  <th>Weight</th>
                  <th>Nos</th>
                  <th>Weight</th>
                  <th>Nos</th>
                  <th>Weight</th>
                  <th>Nos</th>
                  <th>Weight</th>
                  <th>Nos</th>
                  <th>Weight</th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-schedule>
              <tr [pSelectableRow]="schedule">
                  
                  <td>{{schedule.salesOrderNo}}</td>
                  
                  <td>{{schedule.batchGrade}}</td>
                  <td class="text-primary" pTooltip="{{schedule.heatNo}}" tooltipPosition="top">
                    {{schedule.heatNo ? (schedule.heatNo | wordTruncate) : ''}}
                    <!-- {{schedule.heatNo}} -->
                  </td>  <!-- not sent in API response -->
                  <td>{{schedule.product}}</td>
                  <td>{{schedule.dia}}</td>
                  <td>{{schedule.attached}}</td>
                  <td>{{schedule.attachedWt}}</td>
                  <td>{{schedule.charged}}</td>
                  <td>{{schedule.chargedWt}}</td>
                  <td>{{schedule.discharged}}</td>
                  <td>{{schedule.dischargedWt}}</td>
                  <td>{{schedule.rolled}}</td>
                  <td>{{schedule.rolledWt}}</td>
                  <td>{{schedule.cobbled}}</td>
                  <td>{{schedule.cobbledWt}}</td>
                  <td>{{schedule.mixed}}</td>
                  <td>{{schedule.mixedWt}}</td>
                  <td>{{schedule.hotout}}</td>
                  <td>{{schedule.hotoutWt}}</td>
                  <td>{{schedule.bundle}}</td>
                  <td>{{schedule.bundleWt}}</td>
                  <td>{{schedule.scheduleId}}</td>
                  <td>{{schedule.lineNo}}</td>
              </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage" let-columns>
            <tr>
                <td [attr.colspan]="23">
                    No records found
                </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="footer">
              <tr>
                  <td colspan="7" class="p-text-right">Totals</td>
                  <td>{{totalAttachedNos}}</td>
                  <td>{{totalAttachedWt}}</td>
                  <td>{{totalChargedNos}}</td>
                  <td>{{totalChargedWt}}</td>
                  <td>{{totalDischargedNos}}</td>
                  <td>{{totalDischargedWt}}</td>
                  <td>{{totalRolledNos}}</td>
                  <td>{{totalRolledWt}}</td>
                  <td>{{totalCobbledNos}}</td>
                  <td>{{totalCobbledWt}}</td>
                  <td>{{totalMixedNos}}</td>
                  <td>{{totalMixedWt}}</td>
                  <td>{{totalHotoutNos}}</td>
                  <td>{{totalHotoutWt}}</td>
                  <td>{{totalBundleNos}}</td>
                  <td>{{totalBundleWt}}</td>
              </tr>
          </ng-template>
      </p-table>
      </div>
      <!-- <div class="col-12 col-md-5 col-lg-4 col-xxl-3 py-2">
        <h6 class="card-title font-weight-bold font-12 text-grey mb-2">Shiftwise Production Details</h6>
        <p-table [value]="shiftData" styleClass="{{tableType}}" class="table-lg"  [style]="{width:'100%'}" [scrollable]="true" scrollHeight="500px">
          <ng-template pTemplate="colgroup">
            <colgroup>
              <col style="width:100px;">
              <col style="width:50px;">
              <col style="width:50px;">
              <col style="width:50px;">
            </colgroup>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
                <th></th>
                <th [ngClass]="{'text-success': currentShiftName == 'A'}">A</th>
                <th [ngClass]="{'text-success': currentShiftName == 'B'}">B</th>
                <th [ngClass]="{'text-success': currentShiftName == 'C'}">C</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData>
              <tr>
                <td class="font-weight-bold text-grey">{{rowData.statusType}}</td>
                <td [ngClass]="{'text-success font-weight-bold': currentShiftName == 'A'}">{{rowData.shiftAQty}}</td>
                <td [ngClass]="{'text-success font-weight-bold': currentShiftName == 'B'}">{{rowData.shiftBQty}}</td>
                <td [ngClass]="{'text-success font-weight-bold': currentShiftName == 'C'}">{{rowData.shiftCQty}}</td>
              </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage" let-columns>
            <tr>
                <td [attr.colspan]="4">
                    No records found
                </td>
            </tr>
          </ng-template>
        </p-table>
      </div> -->
    </div>
  </div>
</div>

<p-dialog header="Shiftwise Production Details" [(visible)]="displayPopup" [style]="{width: '70vw'}" [baseZIndex]="10000"
    class="card full-height-dialog" [modal]="true">
    <div class="col-12  px-4 bg-white rounded-sm mb-4">
      <div class="col-12">
        <h6 class="card-title font-weight-bold font-12 text-grey mt-1">Shiftwise Production Details</h6>
        <p-table [value]="shiftData" styleClass="{{tableType}}" class="table-lg"  [style]="{width:'100%'}" [scrollable]="true" scrollHeight="500px">
          <ng-template pTemplate="colgroup">
            <colgroup>
              <col style="width:100px;">
              <col style="width:50px;">
              <col style="width:50px;">
              <col style="width:50px;">
            </colgroup>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
                <th></th>
                <th [ngClass]="{'text-success': currentShiftName == 'A'}">A</th>
                <th [ngClass]="{'text-success': currentShiftName == 'B'}">B</th>
                <th [ngClass]="{'text-success': currentShiftName == 'C'}">C</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData>
              <tr>
                <td class="font-weight-bold text-grey">{{rowData.statusType}}</td>
                <td [ngClass]="{'text-success font-weight-bold': currentShiftName == 'A'}">{{rowData.shiftAQty}}</td>
                <td [ngClass]="{'text-success font-weight-bold': currentShiftName == 'B'}">{{rowData.shiftBQty}}</td>
                <td [ngClass]="{'text-success font-weight-bold': currentShiftName == 'C'}">{{rowData.shiftCQty}}</td>
              </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage" let-columns>
            <tr>
                <td [attr.colspan]="4">
                    No records found
                </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </p-dialog>


