<div class="content pt-3 pb-3" #target>
  <!-- <h4 class="font-20 font-weight-bold text-grey mt-1 mb-3" #target>Property Master</h4> -->
  <p-accordion
    *ngIf="(!isEditUser && sharedService.isSectionVisible(menuConstants.propertyMasterSectionIds.Add_New_Record.id, screenStructure))
  || (isEditUser && sharedService.isSectionVisible(menuConstants.propertyMasterSectionIds.Edit_Record.id, screenStructure))">
    <p-accordionTab header="{{isEditUser? 'Edit Property Details': 'Add New Property'}}"
      class="card-title font-12 text-grey mb-0 bg-f1" [selected]="isEditUser">
      <div class="card bg-f1 border-0 p-0">
        <div class="card-body pt-0 pb-2">
          <lib-jsw-core [componentType]='viewType.form' [formData]='formObject'
            (changeEvent)='dropdownChangeEvent($event)' (jswFormEvent)="getFormRef($event)"></lib-jsw-core>
          <div class="text-right">
            <button *ngIf="!isEditUser && isAddBtn" type="submit" class="btn btn-sm btn-primary mr-3"
              (click)="getPropertyCriteriaDetails('add')">Add</button>
            <button *ngIf="isEditUser && isUpdateBtn" type="submit" class="btn btn-sm btn-primary mr-3"
              (click)="getPropertyCriteriaDetails('update')">Update</button>
            <button *ngIf="!isEditUser && isResetBtn" type="button" class="btn btn-sm btn-dark"
              (click)="sharedService.resetForm(formObject,formRef);resetFilter()">Reset</button>
            <button *ngIf="isEditUser && isResetBtn" type="button" class="btn btn-sm btn-dark"
              (click)="sharedService.resetForm(formObject,formRef);resetFilter()">Cancel</button>
          </div>
        </div>
      </div>
    </p-accordionTab>

  </p-accordion>

  <!-- <div class="card bg-f1 border-0 mb-3" *ngIf="(!isEditUser && sharedService.isSectionVisible(menuConstants.propertyMasterSectionIds.Add_New_Record.id, screenStructure))
                                                || (isEditUser && sharedService.isSectionVisible(menuConstants.propertyMasterSectionIds.Edit_Record.id, screenStructure))">
    <div class="card-body p-3">
      <h6 *ngIf="!isEditUser && sharedService.isSectionVisible(menuConstants.propertyMasterSectionIds.Add_New_Record.id, screenStructure)" class="card-title font-weight-bold text-grey mb-3">Add New Property</h6>
      <h6 *ngIf="isEditUser && sharedService.isSectionVisible(menuConstants.propertyMasterSectionIds.Edit_Record.id, screenStructure)" class="card-title font-weight-bold text-grey mb-3">Edit Property Details</h6>
      <lib-jsw-core [componentType]='viewType.form' [formData]='formObject' (changeEvent)='dropdownChangeEvent($event)'
      (jswFormEvent)="getFormRef($event)"></lib-jsw-core>
      <div class="text-right">
        <button *ngIf="!isEditUser && isAddBtn" type="submit" class="btn btn-sm btn-primary mr-3" (click)="getPropertyCriteriaDetails('add')">Add</button>
        <button *ngIf="isEditUser && isUpdateBtn" type="submit" class="btn btn-sm btn-primary mr-3" (click)="getPropertyCriteriaDetails('update')">Update</button>
        <button *ngIf="!isEditUser && isResetBtn" type="button" class="btn btn-sm btn-dark" (click)="sharedService.resetForm(formObject,formRef);resetFilter()">Reset</button>
        <button *ngIf="isEditUser && isResetBtn" type="button" class="btn btn-sm btn-dark" (click)="sharedService.resetForm(formObject,formRef);resetFilter()">Cancel</button>
      </div>
    </div>
  </div> -->
  <div class="card border-0 bg-e57c mt-3">
    <div class="card-header bg-primary d-flex">
      <label class="text-white md-text mt-1 mb-0">Property Master List</label>
      <div class="ml-auto">
        <div class="p-input-icon-right mr-2">
          <i class="fa fa-search"></i>
          <input pInputText type="text" placeholder="Search keyword" (input)="filterTable($event)" />
        </div>
      </div>
    </div>
    <!-- <div class="card-header bg-primary">
          <label class="text-white md-text mt-1 mb-0">Property Master List</label>
    </div> -->
    <div class="card-body p-0">
      <div class="row">
        <div class="col-12">
          <!-- <lib-jsw-core [componentType]='viewType.dynamicTable' [columns]='columns' [tableData]='propertyList'
            [styleClass]="tableType" (editEvent)="editRecord($event);sharedService.scroll(target)"
            (deleteEvent)="deleteUser($event)" [isDeleteAction]="false" [isEditAction]="isEditBtn"
            [isMultiDelete]="false" (ptableEvent)="getTableRef($event)"></lib-jsw-core> -->


            <p-table #dt [columns]="columns" [value]="propertyList" styleClass="{{tableType}}" [scrollable]="true"
             [style]="{width:'100%'}" scrollHeight="500px" [paginator]="true" [rows]="10"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [rowsPerPageOptions]="[10,25,50]" [globalFilterFields]="globalFilterArray"
            >
            
            <ng-template pTemplate="colgroup" let-columns>
              <colgroup>
                <col *ngFor="let col of columns" [ngStyle]="{ 'width': col.width }">
              </colgroup>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th *ngFor="let col of columns" [ngSwitch]="col.field">
                  <div class="p-d-flex p-jc-between p-ai-center">
                    <ng-container *ngSwitchCase="'propType'">
                      {{col.header}}
                      <p-columnFilter field="propType" display="menu" matchMode="in" [showMatchModes]="false"
                        [showOperator]="false" [showAddButton]="false">
                        <ng-template pTemplate="header">
                          <div class="p-px-3 p-pt-3 p-pb-0">
                            <span class="p-text-bold">Prop Type </span>
                          </div>
                        </ng-template>
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                          <p-multiSelect [ngModel]="value" [options]="propTypeList" placeholder="Any"
                            optionLabel="displayName" optionValue="displayName" (onChange)="filter($event.value)">
                            <ng-template let-option pTemplate="item">
                              <div class="p-multiselect-representative-option">
                                <span class="p-ml-1">{{option.displayName }}</span>
                              </div>
                            </ng-template>
                          </p-multiSelect>
                        </ng-template>
                      </p-columnFilter>
                    </ng-container>
                    
                    <ng-container *ngSwitchDefault>
                      {{col.header}}
                    </ng-container>
                  </div>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-columns="columns" let-rowData>
              <tr>
                <td *ngFor="let col of columns" [ngSwitch]="col.field">
                  <ng-container *ngSwitchCase="'action'">
                    <i class="fas fa-pen cursor-pointer mr-2" (click)="editRecord(rowData);sharedService.scroll(target)"></i>
                  </ng-container>
    
                  <ng-container *ngSwitchDefault>
                    {{rowData[col.field]}}
                  </ng-container>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage" let-columns>
              <tr>
                <td [attr.colspan]="columns.length">
                  No records found
                </td>
              </tr>
            </ng-template>
          </p-table>



        </div>
      </div>
    </div>
  </div>
</div>