<p-table [columns]="columns" [value]="tableData" styleClass="{{styleClass}}" [scrollable]="true" [style]="{width:'100%'}" scrollHeight="500px"
         [paginator]="true" [rows]="10" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
         [rowsPerPageOptions]="[10,25,50]">
    <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col *ngFor="let col of columns" [ngStyle]="{ 'width': col.width }">
        </colgroup>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                {{col.header}}
              <span *ngIf="col.sortFieldName"><p-sortIcon  [field]="col.sortFieldName"></p-sortIcon></span>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-columns="columns" let-rowData>
        <tr>
            <!-- [ngClass]="(col.columnType == columnType.number) ? 'text-right' : 'text-left'" -->
            <td *ngFor="let col of columns">
                {{rowData[col.field]}}
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage" let-columns>
      <tr>
          <td [attr.colspan]="columns.length">
              No records found
          </td>
      </tr>
  </ng-template>
</p-table>


