<div class="content pt-3 pb-3">
    <!-- <h4 class="font-20 font-weight-bold text-grey mt-1 mb-3" #target>Batch Transfer</h4> -->

    <p-accordion *ngIf="isfilterSection">
        <p-accordionTab header="Filter Criteria" class="card-title font-12 text-grey mb-0 bg-f1"
          [selected]="true">
          <div class="card bg-f1 border-0 p-0">
            <div class="card-body pt-0 pb-2">
                <div class="row">
                    <div class="col-12 col-md-7 col-xl-4">
                        <lib-jsw-core [componentType]='viewType.form' [formData]='formObject'
                            (changeEvent)="wcDropdownChangeEvent($event)" (change)="heatIdTextBoxEvent(formObject)"
                            (jswFormEvent)="getFormRef($event)">
                        </lib-jsw-core>
                    </div>
                    <div class="col-12 col-md-5 col-xl-4 mt-3">
                        <button type="button" class="btn btn-sm btn-primary mr-3" *ngIf="isRetriveBtn"     (click)="this.getBatchTransferList()">Retrieve</button>
                        <button type="button" class="btn btn-sm btn-dark" *ngIf="isResetBtn"  (click)="sharedService.resetForm(formObject,formRef);
                        sharedService.resetForm(formTransferTo,formRef);resetFilter()">Reset</button>
                    </div>
                </div>
            </div>
          </div>
        </p-accordionTab>

      </p-accordion>
    <!-- <div class="card bg-f1 border-0 mb-3" *ngIf="isfilterSection">
        <div class="card-body p-3">
            <h6 class="card-title font-weight-bold text-grey mb-3">Filter Criteria</h6>
            <div class="row">
                <div class="col-12 col-md-7 col-xl-4">
                    <lib-jsw-core [componentType]='viewType.form' [formData]='formObject'
                        (changeEvent)="wcDropdownChangeEvent($event)" (change)="heatIdTextBoxEvent(formObject)"
                        (jswFormEvent)="getFormRef($event)">
                    </lib-jsw-core>
                </div>
                <div class="col-12 col-md-5 col-xl-4 mt-1">
                    <button type="button" class="btn btn-sm btn-primary mr-3" *ngIf="isRetriveBtn"     (click)="this.getBatchTransferList()">Retrieve</button>
                    <button type="button" class="btn btn-sm btn-dark" *ngIf="isResetBtn"  (click)="sharedService.resetForm(formObject,formRef);
                    sharedService.resetForm(formTransferTo,formRef);resetFilter()">Reset</button>
                </div>
            </div>
        </div>
    </div> -->
    <div class="card border-0 bg-e57c mt-3" *ngIf="isBatchDetailsSection">
        <div class="row">
            <div class="col-12">
                <div class="card border-0 bg-e57c">
                    <div class="card-header bg-primary d-flex">
                        <label class="text-white md-text mt-3 mb-0">Batch Details</label>
                        <div class="ml-auto">
                            <div class="btn btn-sm btn-link text-white p-0 ml-3 w-150p">
                                <lib-jsw-core [componentType]='viewType.form' [formData]='formTransferTo'
                                    (changeEvent)="yardDropdownChangeEvent($event)"></lib-jsw-core>
                            </div>
                            <button type="submit" class="btn btn-sm btn-link btn-outline-light text-white p-0 ml-3 mt-3"
                            *ngIf="istransferBtn"   (click)="batchTransfer()"><span class="ml-1 mr-2">
                                Transfer
                              </span></button>

                        </div>
                      </div>
                    <!-- <div class="card-header bg-primary">
                        <label class="text-white md-text mt-1 mb-0">Batch Details</label>
                    </div> -->
                    <div class="card-body p-0 py-1">
                        <!-- <div class="d-flex px-2">
                            <div class="ml-auto">
                                <button type="submit" class="btn btn-sm btn-primary mt-1 float-right"
                                *ngIf="istransferBtn"   (click)="batchTransfer()">Transfer</button>
                                <div class="float-right mr-3 w-150p">
                                    <lib-jsw-core [componentType]='viewType.form' [formData]='formTransferTo'
                                        (changeEvent)="yardDropdownChangeEvent($event)"></lib-jsw-core>
                                </div>
                            </div>
                        </div> -->
                        <lib-jsw-core [componentType]='viewType.dynamicTable' [columns]='columns'
                            [isClearSelection]="true" [tableData]='batchList' [styleClass]="tableType"
                            [clearSelectionEvent]="clearSelection.asObservable()" (getRow)="selectedBatchRecord($event)"
                            [isDeleteAction]="false" [isEditAction]="false" [isMultiDelete]="false"
                            [showGlobalFilter]="false">
                        </lib-jsw-core>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
