<div class="content pt-3 pb-3" #target>
  <!-- <h4 class="font-20 font-weight-bold text-grey mt-1 mb-3 " #target>Sales Order Modification</h4> -->
  <p-accordion *ngIf="isFilterCrtSec">
    <p-accordionTab header="Filter Criteria" class="card-title font-12 text-grey mb-0 bg-f1"
      [selected]="true">
      <div class="card bg-f1 border-0 p-0">
        <div class="card-body pt-0 pb-2">
          <div class="row">
            <div class="col-12 col-md-8 col-xl-6">
              <lib-jsw-core [componentType]='viewType.form' (changeEvent)="dropdownChangeEvent($event)"
                [formData]='filterCriteria' (jswFormEvent)="getFormRef($event)"></lib-jsw-core>
            </div>
            <div class="col-12 col-md-4 col-xl-4 mt-3" *ngIf="isRetrieveBtn || isResetBtn">
              <button *ngIf="isRetrieveBtn" type="submit" class="btn btn-sm btn-primary mr-3" (click)="retrive()">Retrieve</button>
              <button *ngIf="isResetBtn" type="button" class="btn btn-sm btn-dark" (click)="sharedService.resetForm(filterCriteria,formRef);resetFilter()">Reset</button>
            </div>
          </div>
        </div>
      </div>
    </p-accordionTab>
  </p-accordion>
  <!-- <div class="card bg-f1 border-0 mb-3" *ngIf="isFilterCrtSec">
    <div class="card-body p-3">
      <h6 class="card-title font-weight-bold text-grey mb-3">Filter Criteria</h6>
      <div class="row">
        <div class="col-12 col-md-8 col-xl-6">
          <lib-jsw-core [componentType]='viewType.form' (changeEvent)="dropdownChangeEvent($event)"
            [formData]='filterCriteria' (jswFormEvent)="getFormRef($event)"></lib-jsw-core>
        </div>
        <div class="col-12 col-md-4 col-xl-4 mt-1" *ngIf="isRetrieveBtn || isResetBtn">
          <button *ngIf="isRetrieveBtn" type="submit" class="btn btn-sm btn-primary mr-3" (click)="retrive()">Retrieve</button>
          <button *ngIf="isResetBtn" type="button" class="btn btn-sm btn-dark" (click)="sharedService.resetForm(filterCriteria,formRef);resetFilter()">Reset</button>
        </div>
      </div>
    </div>
  </div> -->

  <div class="card border-0 bg-e57c mt-3" *ngIf="isListSection">
    <div class="card-header bg-primary d-flex">
      <label class="text-white md-text mt-1 mb-0">SO Details</label>
      <div class="ml-auto" *ngIf="isSaveBtn" >
        <button type="submit" class="btn btn-sm btn-link btn-outline-light text-white p-0 ml-3" (click)="saveChanges()"><i
          class="fa fa-save ml-1 mr-2" data-toggle="tooltip" data-placement="top"
          title="Save"></i><span class="mr-2">
            Save
          </span></button>
      </div>
    </div>
    <!-- <div class="card-header bg-primary">
      <label class="text-white md-text mt-1 mb-0">SO Details</label>
    </div> -->
    <div class="card-body p-0">
      <!-- <div class="d-flex p-2" *ngIf="isSaveBtn">
        <div class="ml-auto">
          <button type="submit" class="btn btn-sm btn-primary" (click)="saveChanges()">Save</button>
        </div>
      </div> -->
      <lib-jsw-core [componentType]='viewType.dynamicTable' [columns]='sOcolumns' [tableData]='soDetailsList'
        [styleClass]="tableType" (getRow)="editRecord($event); sharedService.scroll(target)"></lib-jsw-core>
    </div>
  </div>

  <div class="card border-0 bg-e57c mt-4" *ngIf="isHistorySection">
    <div class="card-header bg-primary">
      <label class="text-white md-text mt-1 mb-0">Edit History Details &nbsp;
       <span *ngIf="selectedRow">
        - SOID: {{selectedRow.soId}}, Line No: {{selectedRow.lineNo}}
       </span> </label>
    </div>
    <div class="card-body p-0">
      <div class="row">
        <div class="col-12">
          <lib-jsw-core [componentType]='viewType.dynamicTable' [columns]='sOHistorycolumns' [first]="first"
            [tableData]='soEditHistoryDetailsList' [styleClass]="tableType"></lib-jsw-core>
        </div>
      </div>
    </div>
  </div>
</div>
