<div class="content pt-2 " #target>
  <div class="card bg-f1 border-0 p-0">
    <div class="card-body pt-0 pb-2">
      <div class="row">
        <div class="mt-3">
          <h6 class="mt-1 text-grey">Filter Criteria:</h6>
        </div>
        
        <div class="col-12 col-md-7 col-xl-6">
          <lib-jsw-core [componentType]='viewType.form' [formData]='filterCriteria'
      (changeEvent)="dropdownChangeEvent($event)" (jswFormEvent)="getFormRef($event)"></lib-jsw-core>
        </div>
        <div class="col-12 col-md-4 col-xl-4 mt-3">
          <button *ngIf="isFlCrRtrv" type="submit" class="btn btn-sm btn-primary mr-3" (click)='getPlanDetails()'>Retrieve</button>
          <button *ngIf="isFlCrRst" type="button" class="btn btn-sm btn-dark" (click)='sharedService.resetForm(filterCriteria,formRef);reset()'>Reset</button>
        </div>
      </div>
    </div>
  </div>
  <!-- <h4 class="font-20 font-weight-bold text-grey mt-1 mb-3 " #target>Conditioning Screen</h4> -->
  <!-- <p-accordion *ngIf="isFlCrViewOnly">
  <p-accordionTab header="Filter Criteria" class="card-title font-12 text-grey mb-0 bg-f1"
    [selected]="true">
    <div class="card bg-f1 border-0 p-0">
      <div class="card-body pt-0 pb-2">
        <div class="row">
          <div class="col-12 col-md-7 col-xl-7">
            <lib-jsw-core [componentType]='viewType.form' [formData]='filterCriteria'
        (changeEvent)="dropdownChangeEvent($event)" (jswFormEvent)="getFormRef($event)"></lib-jsw-core>
          </div>
          <div class="col-12 col-md-4 col-xl-4 mt-3">
            <button *ngIf="isFlCrRtrv" type="submit" class="btn btn-sm btn-primary mr-3" (click)='getPlanDetails()'>Retrieve</button>
            <button *ngIf="isFlCrRst" type="button" class="btn btn-sm btn-dark" (click)='sharedService.resetForm(filterCriteria,formRef);reset()'>Reset</button>
          </div>
        </div>
      </div>
    </div>
  </p-accordionTab>
</p-accordion> -->
  <!-- <div class="card bg-f1 border-0 mb-3" *ngIf="isFlCrViewOnly">
    <div class="card-body p-3">
      <h6 class="card-title font-weight-bold text-grey mb-3">Filter Criteria</h6>
      <lib-jsw-core [componentType]='viewType.form' [formData]='filterCriteria'
        (changeEvent)="dropdownChangeEvent($event)" (jswFormEvent)="getFormRef($event)"></lib-jsw-core>
      <div class="text-right">
        <button *ngIf="isFlCrRtrv" type="submit" class="btn btn-sm btn-primary mr-3" (click)='getPlanDetails()'>Retrieve</button>
        <button *ngIf="isFlCrRst" type="button" class="btn btn-sm btn-dark" (click)='sharedService.resetForm(filterCriteria,formRef);reset()'>Reset</button>
      </div>
    </div>
  </div> -->

  <div class="row mt-1">
    <div class="col-12 col-md-6 pr-0">
      <div class="card bg-f1 border-0 " *ngIf="isOrignlPlanDetails">
        <div class="card-body pl-1 pr-1 pt-1">
          <div class="d-flex mb-2">
            <h6 class="card-title font-weight-bold text-grey mb-1 mt-1 font-13">Original Product Details </h6>
            <div class="ml-auto" *ngIf="originalProdList.length >0">
              <!-- <button *ngIf="addConditioning" type="submit" class="btn btn-xs btn-primary" (click)="addConditioningToBatch()">Add
                Conditioning </button> -->
            </div>
          </div>
          <lib-jsw-core [componentType]='viewType.dynamicTable' [columns]='originalProdcolumns' [noOfRows]="noOfRows"
            [tableData]='originalProdList' [styleClass]="tableType" (getRow)="getRowDetails($event)"
            [paginator]="true"></lib-jsw-core>
        </div>
      </div>
    </div>
    <div class="col-6 pl-0">
      <div class="col-12" *ngIf="isPlanDetails">
        <div class="card bg-f1 border-0 mb-1 height-140 overflow-auto">
          <div class="card-body pl-2 pr-1 pt-1">
            <h6 class="card-title font-weight-bold text-grey mb-1 mt-1 font-13 ">Plan Details </h6>
            <lib-jsw-core [componentType]='viewType.dynamicTable' [paginator]="paginator" [columns]='planDetailscolumns'
              [tableData]='planProdList' [styleClass]="tableType" ></lib-jsw-core>
          </div>
        </div>
      </div>
      <div class="col-12" *ngIf="isBalanceDetails">
        <div class="card bg-f1 border-0 mb-1 height-140 overflow-auto">
          <div class="card-body pl-2 pr-1 pt-1">
            <h6 class="card-title font-weight-bold text-grey mb-1 font-13">Balance Details </h6>
            <lib-jsw-core [componentType]='viewType.dynamicTable' [paginator]="paginator" [columns]='balanceDetailsCols'
              [tableData]='balanceDetails' [styleClass]="tableType"></lib-jsw-core>
  
          </div>
        </div>
      </div>

    </div>
    
  </div>

  <div class="row">
    <div class="col-6 pr-0">
      <div class="card bg-f1 border-0 mb-3" *ngIf="!finalizedConditioning && isCondDetails">
        <div class="card-body pl-1 pr-1 pt-1">
          <div class="d-flex">
            <h6 class="card-title font-weight-bold text-grey mt-1 mb-1 font-13">Conditioning Details </h6>
            <div class="ml-auto mb-1" *ngIf="originalProdList.length >0">
              <!-- <button type="submit" class="btn btn-sm btn-dark mr-1"  *ngIf="isReset" (click)="reset()">Reset </button> -->
              <!-- <button type="submit" class="btn btn-sm btn-success mr-1" *ngIf="isInsert" (click)="insertConditioning()"
                [disabled]='holdCtr == 0'>Insert </button> -->
                <button type="submit" class="btn btn-sm btn-success mr-1" *ngIf="isInsert" (click)="insertConditioning()"
                [disabled]='disableInsertBtn'>Insert </button>
              <button type="submit" class="btn btn-sm btn-danger mr-1" (click)="delete()"
                [disabled]='conditioningList.length == 0'>Delete</button>
              <button type="submit" class="btn btn-sm btn-primary mr-1" *ngIf="isSave" (click)="saveConditioningDetails()"
                [disabled]='conditioningList.length == 0'>Save </button>
              <button type="submit" class="btn btn-sm btn-info" *ngIf="isFinalize" (click)="finalize()"
                [disabled]='conditioningList.length == 0'>Finalize </button>
            </div>
          </div>
    
          <p-table #dt [columns]="conditioningDetailscolumns" [value]="conditioningList" styleClass="{{tableType}}"
            [scrollable]="true" [responsive]="true" [style]="{width:'100%'}" scrollHeight="500px"
            [(selection)]="conditioningProcessedList" [showCurrentPageReport]="true">
    
            <ng-template pTemplate="colgroup" let-columns>
              <colgroup>
                <col *ngFor="let col of columns" [ngStyle]="{ 'width': col.width }">
              </colgroup>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th *ngFor="let col of columns" [pSortableColumn]="col.field" [ngSwitch]="col.columnType">
                  <ng-container *ngSwitchCase="columnType.checkbox">
                    <p-tableHeaderCheckbox (click)="gerRowOnclick(null,'checkbox')"></p-tableHeaderCheckbox>
                  </ng-container>
                  <ng-container *ngSwitchDefault>
                    {{col.header}}
                    <span *ngIf="col.sortFieldName">
                      <p-sortIcon [field]="col.sortFieldName"></p-sortIcon>
                    </span>
                  </ng-container>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-columns="columns" let-rowData let-ri="rowIndex">
              <tr>
                <td *ngFor="let col of columns;let index = index" [ngSwitch]="col.field">
                  <ng-container *ngSwitchCase="'checkbox'">
                    <p-tableCheckbox [value]="rowData" (click)="gerRowOnclick(null,'checkbox')"
                      [disabled]="rowData.isReadOnly"></p-tableCheckbox>
                  </ng-container>
                  <ng-container *ngSwitchCase="'condRemark'">
                    <input id="{{ri}}_{{col.field}}" name="{{ri}}_{{col.field}}" class="w-100"
                      [(ngModel)]="rowData[col.field]" type="text" pInputText [disabled]="rowData.isReadOnly">
                  </ng-container>
                  <ng-container *ngSwitchCase="'length'">
                    <p-inputNumber class="w-100" [ngModelOptions]="{standalone: true}" [(ngModel)]="rowData[col.field]"
                      mode="decimal" inputId="validationTextField_{{ri}}" [useGrouping]="false"
                      (onBlur)="validateNumericField(rowData, col.field, ri)" [disabled]="rowData.disabledLength">
                    </p-inputNumber>
                    <div *ngIf="col.isError && col.rowIndex == ri" class="p-invalid mt-1 font-13 float-right">
                      {{col.errorMsg}}</div>
                  </ng-container>
                  <ng-container *ngSwitchCase="'width'">
                    <p-inputNumber class="w-100" [ngModelOptions]="{standalone: true}" [(ngModel)]="rowData[col.field]"
                      mode="decimal" inputId="validationTextField_{{ri}}" [useGrouping]="false"
                      (onBlur)="updateWeightByWidth(rowData)" [disabled]="rowData.disabledWidth">
                    </p-inputNumber>
                    <div *ngIf="rowData.widthError" class="p-invalid mt-1 font-13 float-right">
                      Width Error</div>
                  </ng-container>
                  <ng-container *ngSwitchCase="'thickness'">
                    <input type="text" pInputText pKeyFilter="num" [(ngModel)]="rowData[col.field]" class="w-100"
                      (onBlur)="updateWeightByThickness(rowData)" [disabled]="rowData.disabledThickness"
                      (change)="updateWeightByThickness(rowData)" [disabled]="rowData.disabledThickness">
                    <div *ngIf="rowData.thicknessError" class="p-invalid mt-1 font-13 float-right">
                      Thickness Error</div>
                  </ng-container>
                  <ng-container *ngSwitchCase="'conditioningType'">
                    <p-dropdown id="dropdown_{{ri}}" name="dropdown_{{ri}}" [autoDisplayFirst]="false" [options]="col.list"
                      [(ngModel)]="rowData[col.field]" #dropdown="ngModel" [style]="{'width':'100%'}" placeholder="Select"
                      optionLabel="displayName" appendTo="body" optionValue="modelValue" [required]="true"
                      (onChange)="onTableDropdownChange(col,rowData,ri)" [disabled]="rowData.isReadOnly">
                    </p-dropdown>
                  </ng-container>
                  <ng-container *ngSwitchCase="'conditioningName'">
                    <p-dropdown id="dropdown_{{ri}}" name="dropdown_{{ri}}" [autoDisplayFirst]="false" [options]="rowData.conNamelist"
                      [(ngModel)]="rowData[col.field]" #dropdown="ngModel" [style]="{'width':'100%'}" placeholder="Select"
                      optionLabel="displayName" appendTo="body" optionValue="modelValue" [required]="true"
                      (onChange)="onTableDropdownChange(col,rowData,ri)" [disabled]="rowData.isReadOnly">
                    </p-dropdown>
                  </ng-container>
                  <ng-container *ngSwitchDefault>
                    {{rowData[col.field]}}
                    <div *ngIf="col.isError && col.rowIndex == ri" class="p-invalid mt-1 font-13 float-right">
                      {{col.errorMsg}}</div>
                  </ng-container>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage" let-columns>
              <tr>
                <td [attr.colspan]="columns.length">
                  No records found
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
    <div class="col-6 pl-3" *ngIf="isHistoryDetails">
      
        <div class="card bg-f1 border-0 mb-3">
          <div class="card-body pl-2 pr-1 pt-1">
            <h6 class="card-title font-weight-bold text-grey mb-1 mt-1 font-13">Conditioning History </h6>
            <lib-jsw-core [componentType]='viewType.dynamicTable' [paginator]="paginator"
              [columns]='conditionigHistoryCols' [tableData]='conditioningHistoryList' [styleClass]="tableType">
            </lib-jsw-core>
  
          
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="card bg-f1 border-0 mb-3" *ngIf="!finalizedConditioning && isCondDetails">
    <div class="card-body p-3">
      <div class="d-flex">
        <h6 class="card-title font-weight-bold text-grey mt-1 mb-3">Conditioning Details </h6>
        <div class="ml-auto mb-1" *ngIf="originalProdList.length >0">
          <button type="submit" class="btn btn-sm btn-dark mr-2"  *ngIf="isReset" (click)="reset()">Reset </button>
          <button type="submit" class="btn btn-sm btn-success mr-2" *ngIf="isInsert" (click)="insertConditioning()"
            [disabled]='holdCtr == 0'>Insert </button>
          <button type="submit" class="btn btn-sm btn-danger mr-2" (click)="delete()"
            [disabled]='conditioningList.length == 0'>Delete</button>
          <button type="submit" class="btn btn-sm btn-primary mr-2" *ngIf="isSave" (click)="saveConditioningDetails()"
            [disabled]='conditioningList.length == 0'>Save </button>
          <button type="submit" class="btn btn-sm btn-info" *ngIf="isFinalize" (click)="finalize()"
            [disabled]='conditioningList.length == 0'>Finalize </button>
        </div>
      </div>

      <p-table #dt [columns]="conditioningDetailscolumns" [value]="conditioningList" styleClass="{{tableType}}"
        [scrollable]="true" [responsive]="true" [style]="{width:'100%'}" scrollHeight="500px"
        [(selection)]="conditioningProcessedList" [showCurrentPageReport]="true">

        <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
            <col *ngFor="let col of columns" [ngStyle]="{ 'width': col.width }">
          </colgroup>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field" [ngSwitch]="col.columnType">
              <ng-container *ngSwitchCase="columnType.checkbox">
                <p-tableHeaderCheckbox (click)="gerRowOnclick(null,'checkbox')"></p-tableHeaderCheckbox>
              </ng-container>
              <ng-container *ngSwitchDefault>
                {{col.header}}
                <span *ngIf="col.sortFieldName">
                  <p-sortIcon [field]="col.sortFieldName"></p-sortIcon>
                </span>
              </ng-container>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-columns="columns" let-rowData let-ri="rowIndex">
          <tr>
            <td *ngFor="let col of columns;let index = index" [ngSwitch]="col.field">
              <ng-container *ngSwitchCase="'checkbox'">
                <p-tableCheckbox [value]="rowData" (click)="gerRowOnclick(null,'checkbox')"
                  [disabled]="rowData.isReadOnly"></p-tableCheckbox>
              </ng-container>
              <ng-container *ngSwitchCase="'condRemark'">
                <input id="{{ri}}_{{col.field}}" name="{{ri}}_{{col.field}}" class="w-100"
                  [(ngModel)]="rowData[col.field]" type="text" pInputText [disabled]="rowData.isReadOnly">
              </ng-container>
              <ng-container *ngSwitchCase="'length'">
                <p-inputNumber class="w-100" [ngModelOptions]="{standalone: true}" [(ngModel)]="rowData[col.field]"
                  mode="decimal" inputId="validationTextField_{{ri}}" [useGrouping]="false"
                  (onBlur)="validateNumericField(rowData, col.field, ri)" [disabled]="rowData.disabledLength">
                </p-inputNumber>
                <div *ngIf="col.isError && col.rowIndex == ri" class="p-invalid mt-1 font-13 float-right">
                  {{col.errorMsg}}</div>
              </ng-container>
              <ng-container *ngSwitchCase="'width'">
                <p-inputNumber class="w-100" [ngModelOptions]="{standalone: true}" [(ngModel)]="rowData[col.field]"
                  mode="decimal" inputId="validationTextField_{{ri}}" [useGrouping]="false"
                  (onBlur)="updateWeightByWidth(rowData)" [disabled]="rowData.disabledWidth">
                </p-inputNumber>
                <div *ngIf="rowData.widthError" class="p-invalid mt-1 font-13 float-right">
                  Width Error</div>
              </ng-container>
              <ng-container *ngSwitchCase="'thickness'">
                <input type="text" pInputText pKeyFilter="num" [(ngModel)]="rowData[col.field]" class="w-100"
                  (onBlur)="updateWeightByThickness(rowData)" [disabled]="rowData.disabledThickness"
                  (change)="updateWeightByThickness(rowData)" [disabled]="rowData.disabledThickness">
                <div *ngIf="rowData.thicknessError" class="p-invalid mt-1 font-13 float-right">
                  Thickness Error</div>
              </ng-container>
              <ng-container *ngSwitchCase="'conditioningType'">
                <p-dropdown id="dropdown_{{ri}}" name="dropdown_{{ri}}" [autoDisplayFirst]="false" [options]="col.list"
                  [(ngModel)]="rowData[col.field]" #dropdown="ngModel" [style]="{'width':'100%'}" placeholder="Select"
                  optionLabel="displayName" appendTo="body" optionValue="modelValue" [required]="true"
                  (onChange)="onTableDropdownChange(col,rowData)" [disabled]="rowData.isReadOnly">
                </p-dropdown>
              </ng-container>
              <ng-container *ngSwitchCase="'conditioningName'">
                <p-dropdown id="dropdown_{{ri}}" name="dropdown_{{ri}}" [autoDisplayFirst]="false" [options]="col.list"
                  [(ngModel)]="rowData[col.field]" #dropdown="ngModel" [style]="{'width':'100%'}" placeholder="Select"
                  optionLabel="displayName" appendTo="body" optionValue="modelValue" [required]="true"
                  (onChange)="onTableDropdownChange(col,rowData)" [disabled]="rowData.isReadOnly">
                </p-dropdown>
              </ng-container>
              <ng-container *ngSwitchDefault>
                {{rowData[col.field]}}
                <div *ngIf="col.isError && col.rowIndex == ri" class="p-invalid mt-1 font-13 float-right">
                  {{col.errorMsg}}</div>
              </ng-container>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
          <tr>
            <td [attr.colspan]="columns.length">
              No records found
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div> -->

  <!-- <div class="row"> -->
  <!-- <div class="row">
    <div class="col-12 col-md-6 col-lg-4" *ngIf="isBalanceDetails">
      <div class="card bg-f1 border-0 mb-3">
        <div class="card-body p-3">
          <h6 class="card-title font-weight-bold text-grey mb-3">Balance Details </h6>
          <lib-jsw-core [componentType]='viewType.dynamicTable' [paginator]="paginator" [columns]='balanceDetailsCols'
            [tableData]='balanceDetails' [styleClass]="tableType"></lib-jsw-core>

        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-8" *ngIf="isHistoryDetails">
      <div class="card bg-f1 border-0 mb-3">
        <div class="card-body p-3">
          <h6 class="card-title font-weight-bold text-grey mb-3">Conditioning History </h6>
          <lib-jsw-core [componentType]='viewType.dynamicTable' [paginator]="paginator"
            [columns]='conditionigHistoryCols' [tableData]='conditioningHistoryList' [styleClass]="tableType">
          </lib-jsw-core>

        </div>
      </div>
    </div>
  </div> -->
  <!-- </div> -->

  <p-dialog [(visible)]="openstartConditioningmodel" [modal]="true" [style]="{width: '40vw'}" 
  [baseZIndex]="10000" [draggable]="false" [resizable]="false">
  <p-header>
    <h6 class="text-dark font-nBold d-inline-block"> for Selected Batch: {{selectedBatch.batchId}}  Conditioning already done.
      Do You want To Restart Conditioning ?</h6>

  </p-header>

  <div class="text-right mt-2">
    <button class="btn btn-sm btn-primary text-uppercase md-w font-nRegular mr-2"
      (click)="startConditioning()">YES</button>
    <button class="btn btn-sm btn-dark text-uppercase md-w font-nRegular mr-2"
      (click)="closeGradeChangePopup()">NO</button>
  </div>
</p-dialog>
  <div>

 