<div class="content pt-3 pb-3" #target>
  <!-- <h4 class="font-20 font-weight-bold text-grey mt-1 mb-3" #target>LOV Master</h4> -->

  <p-accordion *ngIf="isFilterSection">
    <p-accordionTab header="Filter Criteria" class="card-title font-12 text-grey mb-0 bg-f1" [selected]="true">
      <div class="card bg-f1 border-0 p-0">
        <div class="card-body pt-0 pb-2">
          <lib-jsw-core [componentType]='viewType.form' [formData]='formObject'
            (changeEvent)="dropdownChangeEvent($event)" (jswFormEvent)="getFormRef($event)">
          </lib-jsw-core>
          <div class="text-right mt-2">
            <button *ngIf="isLOVAddBtn" type="submit" class="btn btn-sm btn-success mr-3"
              (click)="sharedService.resetForm(formObject,formRef);ShowDialog()">Add LOV</button>
            <button *ngIf="isSaveBtn" type="submit" class="btn btn-sm btn-primary mr-3"
              (click)="updateLOVMasterHeaderdata()">Save</button>
            <button *ngIf="isRetrieveBtn" type="button" class="btn btn-sm btn-primary mr-3"
              (click)="FilterData()">Retrieve</button>
            <button *ngIf="isResetBtn" type="button" class="btn btn-sm btn-dark"
              (click)="sharedService.resetForm(formObject,formRef);resetFilter()">Reset</button>
          </div>
        </div>
      </div>
    </p-accordionTab>

  </p-accordion>

  <!-- <div class="card bg-f1 border-0 mb-3" *ngIf="isFilterSection">
    <div class="card-body p-3">
      <h6>Filter Criteria</h6>
      <lib-jsw-core [componentType]='viewType.form' [formData]='formObject' (changeEvent)="dropdownChangeEvent($event)"
      (jswFormEvent)="getFormRef($event)">
      </lib-jsw-core>
      <div class="text-right">
          <button *ngIf="isLOVAddBtn" type="submit" class="btn btn-sm btn-success mr-3" (click)="sharedService.resetForm(formObject,formRef);ShowDialog()">Add LOV</button>
          <button *ngIf="isSaveBtn" type="submit" class="btn btn-sm btn-primary mr-3" (click)="updateLOVMasterHeaderdata()">Save</button>
          <button *ngIf="isRetrieveBtn" type="button" class="btn btn-sm btn-primary mr-3" (click)="FilterData()">Retrieve</button>
          <button *ngIf="isResetBtn" type="button" class="btn btn-sm btn-dark" (click)="sharedService.resetForm(formObject,formRef);resetFilter()">Reset</button>
        </div>
    </div>
  </div> -->

  <div class="card border-0 bg-e57c mt-3" *ngIf="IsValueSection || isDependentSection">
    <div class="card-header bg-primary">
      <label class="text-white md-text mt-1 mb-0">LOV Details</label>
    </div>
    <div><br></div>
    <div class="card-body p-0">
      <div class="row">
        <div class="col-12 col-md-7" *ngIf="IsValueSection">
          <div class="card bg-f1 border-0 mb-3">
            <!-- <div class="d-flex mb-2">
                <h6 class="card-title font-weight-bold text-grey mb-0 mt-1">LOV Value details</h6>
              </div> -->
            <p-table #dt [value]="Filteredlovlist" styleClass="{{tableType}}" [scrollable]="true"
              class="table-height-300" scrollHeight="300px" [paginator]="true" [rows]="10"
              [showCurrentPageReport]="true"
              currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
              [rowsPerPageOptions]="[10,25,50]" dataKey="lovValueId" editMode="row">
              <ng-template pTemplate="caption">
                <div class="d-flex p-2">
                  <label class="card-title font-weight-bold text-grey mb-0 mt-1">LOV Value Details</label>
                  <div class="ml-auto">
                    <button type="button" *ngIf="isAddvalueBtn" class="btn btn-sm btn-primary" pAddRow [table]="dt"
                      [newRow]="newRow()" [disabled]="disableAddBtn">Add Value
                    </button>
                  </div>
                </div>
              </ng-template>
              <ng-template pTemplate="header" let-columns>
                <tr>
                  <th *ngFor="let col of columns1" [ngSwitch]="col.columnType">
                    <ng-container *ngSwitchDefault>
                      {{col.header}}
                    </ng-container>
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-columns1 let-editing="editing" let-ri="rowIndex">
                <!-- <pre>{{editing}}</pre> -->
                <tr [pEditableRow]="columns1">
                  <td>
                    <p-cellEditor>
                      <ng-template pTemplate="input">
                        <input class="w-100" pInputText type="text" name="lovValueId_{{ri}}"
                          [(ngModel)]="columns1.lovValueId" #lovValueId="ngModel"
                          (ngModelChange)="enableEditMode(columns1)" [disabled]='true' required>
                        <div *ngIf="columns1.submitted && lovValueId.errors?.required"
                          class="p-invalid mt-1 font-13">Please enter Short Code</div>
                        <!-- <pre>{{material.submitted}} {{materialId.errors?.required}}</pre> -->
                      </ng-template>
                      <ng-template pTemplate="output">
                        {{columns1.lovValueId}}
                      </ng-template>
                    </p-cellEditor>
                  </td>
                  <td>
                    <p-cellEditor>
                      <ng-template pTemplate="input">
                        <input class="w-100" pInputText type="text" name="valueShortCode_{{ri}}"
                          [(ngModel)]="columns1.valueShortCode" #valueShortCode="ngModel"
                          (ngModelChange)="enableEditMode(columns1)" [disabled]="columns1.disabled" required>
                        <div *ngIf="columns1.submitted && valueShortCode.errors?.required"
                          class="p-invalid mt-1 font-13">Please enter Short Code</div>
                        <!-- <pre>{{material.submitted}} {{materialId.errors?.required}}</pre> -->
                      </ng-template>
                      <ng-template pTemplate="output">
                        {{columns1.valueShortCode}}
                      </ng-template>
                    </p-cellEditor>
                  </td>
                  <td>
                    <p-cellEditor>
                      <ng-template pTemplate="input">
                        <input class="w-100" pInputText type="text" name="valueDescription_{{ri}}"
                          [(ngModel)]="columns1.valueDescription" #valueDescription="ngModel"
                          (ngModelChange)="enableEditMode(columns1)" [disabled]="columns1.disabled" required>
                        <div *ngIf="columns1.submitted && valueDescription.errors?.required"
                          class="p-invalid mt-1 font-13">Please enter Description</div>
                        <!-- <pre>{{material.submitted}} {{materialId.errors?.required}}</pre> -->
                      </ng-template>
                      <ng-template pTemplate="output">
                        {{columns1.valueDescription}}
                      </ng-template>
                    </p-cellEditor>
                  </td>
                  <td>
                    <p-cellEditor>
                      <ng-template pTemplate="input">
                        <input class="w-100" pInputText type="text" name="codeValue_{{ri}}"
                          [(ngModel)]="columns1.codeValue" #codeValue="ngModel"
                          (ngModelChange)="enableEditMode(columns1)" [disabled]="columns1.disabled" required>
                        <div *ngIf="columns1.submitted && codeValue.errors?.required" class="p-invalid mt-1 font-13">
                          Please enter Code value</div>
                        <!-- <pre>{{material.submitted}} {{materialId.errors?.required}}</pre> -->
                      </ng-template>
                      <ng-template pTemplate="output">
                        {{columns1.codeValue}}
                      </ng-template>
                    </p-cellEditor>
                  </td>
                  <td>
                    <p-cellEditor>
                      <ng-template pTemplate="input">
                        <p-dropdown name="activeStatusYN_{{ri}}" [options]="statuslist"
                          [(ngModel)]="columns1.activeStatusYN" #activeStatusYN="ngModel" [style]="{'width':'100%'}"
                          optionLabel="valueDescription" appendTo="body" optionValue="valueShortCode" [required]="true">
                        </p-dropdown>
                        <div *ngIf="columns1.submitted && activeStatusYN.errors?.required"
                          class="p-invalid mt-1 font-13">Please select status</div>
                      </ng-template>
                      <ng-template pTemplate="output">
                        {{columns1.activeStatusYN}}
                      </ng-template>
                    </p-cellEditor>
                  </td>
                  <td>
                    <i *ngIf="!editing" pInitEditableRow class="fas fa-pen cursor-pointer mr-2"
                      (click)="onRowEditInit(columns1)"></i>
                    <i *ngIf="editing" pSaveEditableRow class="fas fa-check cursor-pointer mr-3 p-1 text-success"
                      (click)="onRowEditSave(columns1, ri)"></i>
                    <i *ngIf="editing" pCancelEditableRow class="fas fa-times cursor-pointer p-1 text-danger"
                      (click)="onRowEditCancel(columns1, ri)"></i>
                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                <tr>
                  <td [attr.colspan]="8">
                    No records found
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
        <div class="col-12 col-md-5" *ngIf="isDependentSection">
          <div class="card bg-f1 border-0 mb-3">
            <!-- <div class="d-flex mb-2">
                <h6 class="card-title font-weight-bold text-grey mb-0 mt-1">Depdendent details</h6>
              </div> -->
            <p-table #dt [columns]="dependentcolumns" [value]="mappinglist" styleClass="{{tableType}}"
              [scrollable]="true" class="table-height-300" scrollHeight="300px" [paginator]="true" [rows]="10"
              [showCurrentPageReport]="true"
              currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
              [rowsPerPageOptions]="[10,25,50]">
              <ng-template pTemplate="caption">
                <div class="d-flex p-2">
                  <label class="card-title font-weight-bold text-grey mb-0 mt-1">Depdendent Details</label>
                  <div class="ml-auto">
                    <button type="submit" *ngIf="isSaveMappingBtn" class="btn btn-sm btn-primary mr-2"
                      (click)="updateLOVMaterMappingDetails(mappinglist)" [disabled]="mappinglist.length==0">Save Mappings</button>
                  </div>
                </div>
              </ng-template>
              <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                  <col *ngFor="let col of dependentcolumns" [ngStyle]="{ 'width': col.width }">
                </colgroup>
              </ng-template>
              <ng-template pTemplate="header" let-columns>
                <tr>
                  <th *ngFor="let col of dependentcolumns" [ngSwitch]="col.columnType">
                    <ng-container *ngSwitchDefault>
                      {{col.header}}
                    </ng-container>
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-columns="dependentcolumns" let-rowData let-ri="rowIndex">
                <tr>
                  <td *ngFor="let col of dependentcolumns;let index = index" [ngSwitch]="col.columnType">
                    <ng-container *ngSwitchCase="columnType.textField">
                      <input type="'text'" pKeyFilter="num" class="w-100" pInputText [(ngModel)]="rowData[col.field]">
                    </ng-container>
                    <ng-container *ngSwitchCase="columnType.dropdown">

                      <p-dropdown id="mapstatus" class="w-100" inputId="mapstatus" name="mapstatus"
                        [autoDisplayFirst]="true" [options]="statuslist" [(ngModel)]="rowData[col.field]"
                        #mapstatus="ngModel" optionLabel="valueDescription" appendTo="body" optionValue="valueShortCode"
                        [required]="true" [showClear]="true">
                      </p-dropdown>

                    </ng-container>
                    <ng-container *ngSwitchDefault>
                      {{rowData[col.field]}}
                    </ng-container>
                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage" let-columns>
                <tr>
                  <td [attr.colspan]="columns.length">
                    No records found
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>

    </div>
  </div>

  <p-dialog header="Add New LOV" [(visible)]="display" [style]="{width: '70vw',height:'240px'}" [baseZIndex]="10000"
    class="card full-height-dialog" [modal]="true">
    <div class="col-12 pt-4 pb-1 px-4 bg-white rounded-sm mb-4">
      <lib-jsw-core [componentType]='viewType.form' [formData]='AddformObject' (changeEvent)="loaddepndentlist($event)"
        (jswFormEvent)="getAddFormRef($event)">
      </lib-jsw-core>
      <div class="text-right mb-3">
        <button type="button" class="btn btn-sm btn-dark"
          (click)="sharedService.resetForm(AddformObject,addFormRef);closeModal()">Close</button> &nbsp;
        <button type="submit" class="btn btn-sm btn-primary mr-3" (click)="addLOVMasterHeaderdata()">Add</button>
      </div>
    </div>
  </p-dialog>