<div class="content pt-3 pb-3" #target>
  <!-- <h4 class="font-20 font-weight-bold text-grey mt-1 mb-3" #target>Screen Master</h4> -->


  <p-accordion
    *ngIf="sharedService.isSectionVisible(menuConstants.screenMasterSectionIds.Filter_Criteria.id, screenStructure) && !showScreenForm">
    <p-accordionTab header="Filter Criteria" class="card-title font-12 text-grey mb-0 bg-f1">
      <div class="card bg-f1 border-0 p-0">
        <div class="card-body pt-0 pb-2">
          <!-- <h6 *ngIf="!isEditUser && sharedService.isSectionVisible(menuConstants.userMasterSectionIds.Add_New_Record.id, screenStructure)" class="card-title font-weight-bold text-grey mb-0 font-13">Add New User</h6>
      <h6 *ngIf="isEditUser && sharedService.isSectionVisible(menuConstants.userMasterSectionIds.Edit_Record.id, screenStructure)" class="card-title font-weight-bold text-grey mb-0 font-13">Edit User Details</h6> -->
          <div class="row">
            <div class="col-12 col-md-7 col-xl-4">
              <!-- filter screen data form -->
              <lib-jsw-core [componentType]='viewType.form' (changeEvent)="changeEvent($event)"
                [formData]='filterFormObject' (jswFormEvent)="getFormRef($event)"></lib-jsw-core>
            </div>
            <div *ngIf="isRetrieveBtn || isResetBtn" class="col-12 col-md-5 col-xl-4 mt-3">
              <button *ngIf="isRetrieveBtn" type="submit" class="btn btn-sm btn-primary mr-3"
                (click)="getFilteredScreenData()">Retrieve</button>
              <button *ngIf="isResetBtn" type="button" class="btn btn-sm btn-dark"
                (click)="resetFilter('resetRetrieveScreen')">Reset</button>
            </div>
          </div>
        </div>
      </div>
    </p-accordionTab>

  </p-accordion>




  <p-accordion
    *ngIf="sharedService.isSectionVisible(menuConstants.screenMasterSectionIds.Edit_Record.id, screenStructure) && showScreenForm">
    <p-accordionTab header="Edit Screen Master" class="card-title font-12 text-grey mb-0 bg-f1" [selected]="true">
      <div class="card bg-f1 border-0 p-0">
        <div class="card-body pt-0 pb-2">
          <div class="row">
            <div class="col-12">
              <!-- edit screen master form -->
              <lib-jsw-core [componentType]='viewType.form' [formData]='editScreenFormObject'
              (jswFormEvent)="getEditFormRef($event)"></lib-jsw-core>
            </div>
            <div *ngIf="isUpdateBtn || isCancelBtn" class="col-12 text-right">
              <button *ngIf="isUpdateBtn" type="submit" class="btn btn-sm btn-primary mr-3"
                (click)="getFilterCriteriaDetails()">Update</button>
              <button *ngIf="isCancelBtn" type="button" class="btn btn-sm btn-dark"
                (click)="navigateToMainScreen()">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </p-accordionTab>

  </p-accordion>



  <!-- <div class="card bg-f1 border-0 mb-3" *ngIf="sharedService.isSectionVisible(menuConstants.screenMasterSectionIds.Filter_Criteria.id, screenStructure) && !showScreenForm">
    <div class="card-body p-3">
      <h6 class="card-title font-weight-bold text-grey mb-3">Filter Criteria</h6>
      <div class="row">
        <div class="col-12 col-md-7 col-xl-4">
          
          <lib-jsw-core [componentType]='viewType.form' (changeEvent)="changeEvent($event)"
            [formData]='filterFormObject' (jswFormEvent)="getFormRef($event)"></lib-jsw-core>
        </div>
        <div *ngIf="isRetrieveBtn || isResetBtn" class="col-12 col-md-5 col-xl-4 mt-3">
          <button *ngIf="isRetrieveBtn" type="submit" class="btn btn-sm btn-primary mr-3" (click)="getFilteredScreenData()">Retrieve</button>
          <button *ngIf="isResetBtn" type="button" class="btn btn-sm btn-dark" (click)="resetFilter('resetRetrieveScreen')">Reset</button>
        </div>
      </div>
    </div>
  </div> -->

  <!-- <div class="card bg-f1 border-0 mb-3" *ngIf="sharedService.isSectionVisible(menuConstants.screenMasterSectionIds.Edit_Record.id, screenStructure) && showScreenForm" >
    <div class="card-body p-3">
      <h6 class="card-title font-weight-bold text-grey mb-3">Edit Screen Master</h6>
      <div class="row">
        <div class="col-12">
          
          <lib-jsw-core [componentType]='viewType.form' [formData]='editScreenFormObject'></lib-jsw-core>
        </div>
        <div *ngIf="isUpdateBtn || isCancelBtn" class="col-12 text-right">
          <button *ngIf="isUpdateBtn" type="submit" class="btn btn-sm btn-primary mr-3" (click)="getFilterCriteriaDetails()">Update</button>
          <button *ngIf="isCancelBtn" type="button" class="btn btn-sm btn-dark" (click)="navigateToMainScreen()">Cancel</button>
        </div>
      </div>
    </div>
  </div> -->

  <div class="card border-0 bg-e57c mt-3"
    *ngIf="sharedService.isSectionVisible(menuConstants.screenMasterSectionIds.List.id, screenStructure)">

    <div class="card-header bg-primary d-flex">
      <label class="text-white md-text mt-1 mb-0">Screen Master List</label>
      <div class="ml-auto">
        <div class="p-input-icon-right mr-2">
          <i class="fa fa-search"></i>
          <input pInputText type="text" placeholder="Search keyword" (input)="filterTable($event)" />
        </div>
      </div>
    </div>

    <!-- <div class="card-header bg-primary">
      <label class="text-white md-text mt-1 mb-0">Screen Master List</label>
    </div> -->
    <div class="card-body p-0">
      <div class="row">
        <div class="col-12">
          <lib-jsw-core [componentType]='viewType.dynamicTable' [columns]='columns' [tableData]='screenList'
            [styleClass]="tableType" (editEvent)="editRecord($event); sharedService.scroll(target)"
            (deleteEvent)="deleteScreen($event)" (deleteMultipleEvent)="deleteMultipleRecords($event)"
            [isDeleteAction]="false" [isEditAction]="isEditBtn" [isMultiDelete]="false"
            (ptableEvent)="getTableRef($event)"></lib-jsw-core>
        </div>
      </div>
    </div>
  </div>
</div>