<div class="content pt-3">
  <!-- <h4 class="font-20 font-weight-bold text-grey mt-1 mb-3">Batch Attach</h4> -->
  <p-accordion *ngIf="isFilterCrtSec">
    <p-accordionTab header="Filter Criteria" class="card-title font-12 text-grey mb-0 bg-f1"
      [selected]="true">
      <div class="card bg-f1 border-0 p-0">
        <div class="card-body pt-0 pb-2">
          <div class="row">
            <div class="col-12 col-md-8 col-xl-8">
              <lib-jsw-core [componentType]='viewType.form' (changeEvent)="dropdownChangeEvent($event)"
        [formData]='billetFilterCriteriaFormObject' (jswFormEvent)="getFormRef($event)"></lib-jsw-core>
            </div>
            <div class="col-12 col-md-4 col-xl-4 mt-3" *ngIf="isRetrieveBtn || isResetBtn">
              <button *ngIf="isRetrieveBtn" type="submit" class="btn btn-sm btn-primary mr-3" (click)="retrieve()">Retrieve</button>
        <button *ngIf="isResetBtn" type="button" class="btn btn-sm btn-dark" (click)="sharedService.resetForm(billetFilterCriteriaFormObject,formRef);resetFilter()">Reset</button>
            </div>
          </div>
          <!-- <lib-jsw-core [componentType]='viewType.form' (changeEvent)="dropdownChangeEvent($event)"
        [formData]='billetFilterCriteriaFormObject' (jswFormEvent)="getFormRef($event)"></lib-jsw-core>
      <div class="text-right" *ngIf="isRetrieveBtn || isResetBtn">
        <button *ngIf="isRetrieveBtn" type="submit" class="btn btn-sm btn-primary mr-3" (click)="retrieve()">Retrieve</button>
        <button *ngIf="isResetBtn" type="button" class="btn btn-sm btn-dark" (click)="sharedService.resetForm(billetFilterCriteriaFormObject,formRef);resetFilter()">Reset</button>
      </div> -->
        </div>
      </div>
    </p-accordionTab>
  </p-accordion>

  <!-- <div class="card bg-f1 border-0 mb-3" *ngIf="isFilterCrtSec">
    <div class="card-body p-3">
      <h6 class="card-title font-weight-bold text-grey mb-3">Filter Criteria</h6>
      <lib-jsw-core [componentType]='viewType.form' (changeEvent)="dropdownChangeEvent($event)"
        [formData]='billetFilterCriteriaFormObject' (jswFormEvent)="getFormRef($event)"></lib-jsw-core>
      <div class="text-right" *ngIf="isRetrieveBtn || isResetBtn">
        <button *ngIf="isRetrieveBtn" type="submit" class="btn btn-sm btn-primary mr-3" (click)="retrieve()">Retrieve</button>
        <button *ngIf="isResetBtn" type="button" class="btn btn-sm btn-dark" (click)="sharedService.resetForm(billetFilterCriteriaFormObject,formRef);resetFilter()">Reset</button>
      </div>
    </div>
  </div> -->

  <div class="card border-0 bg-e57c mt-3">
    <div class="card-header bg-primary d-flex">
      <label class="text-white md-text mt-1 mb-0">Production Order Details</label>
      <div class="ml-auto" *ngIf="selectedRecord && (isAttachBtn || isUnattachBtn)" >
        <button *ngIf="isAttachBtn" type="submit" class="btn btn-sm btn-link btn-outline-light text-white p-0 ml-3" (click)="attachBatch()">
          <span class="ml-1 mr-2">
            Attach
          </span></button>
        <button *ngIf="isUnattachBtn" type="button" class="btn btn-sm btn-link btn-outline-light text-white p-0 ml-3" (click)="detachBatch()">
          <span class="ml-1 mr-2">
            Unattach
          </span></button>
       
        <!-- <button *ngIf="isPDFBtn" (click)="downloadFile('pdf')" class="btn btn-sm btn-link btn-outline-light text-white p-0 ml-3"><i
            class="fas fa-file-pdf mr-2" data-toggle="tooltip" data-placement="top"
            title="Download Excel File"></i>PDF</button> -->
      </div>
    </div>
    <!-- <div class="card-header bg-primary">
      <label class="text-white md-text mt-1 mb-0">Production Order Details</label>
    </div> -->
    <div class="card-body p-0">
      <div class="row">
        <!-- <div class="col-12" *ngIf="selectedRecord && (isAttachBtn || isUnattachBtn)">
          <div class="text-right py-2">
            <button *ngIf="isAttachBtn" type="submit" class="btn btn-sm btn-primary mr-3" (click)="attachBatch()">Attach</button>
            <button *ngIf="isUnattachBtn" type="button" class="btn btn-sm btn-dark mr-3" (click)="detachBatch()">Unattach</button>
          </div>
        </div> -->
        <div class="col-12">
          <lib-jsw-core [componentType]='viewType.dynamicTable' [columns]='columns' [tableData]='billetAttachList'
            [styleClass]="tableType" (getRow)="getSelectedRecord($event)"></lib-jsw-core>
        </div>
      </div>
    </div>
  </div>
</div>
