<div class="content pt-2 pb-3">
  <div [ngClass]="chargediv">
    <!-- <h4 class="font-20 font-weight-bold text-grey mt-1 mb-3">Charging Screen</h4> -->
    <!-- <p-accordion>
    <p-accordionTab header="" class="card-title font-12 text-grey mb-0 bg-f1"
      [selected]="true">
      <div class="card border-0 p-0">
        <div class="card-body p-1">
          <app-filter-criteria [screen]="'charging'" (setChargingDetails)="getChargingDetails($event)"
          [refreshShiftDataEvent]="refreshShiftDetails.asObservable()" [Resetbtn]="isResetBtn" [Retrivebtn]="isRetrieveBtn"
          [filterCriteriaDisplay]="isfilterCriteriaScreen" [PlanShiftDisplay]="isPlan_shiftScreen"></app-filter-criteria>
        </div>
      </div>
    </p-accordionTab>
  </p-accordion> -->
    <app-filter-criteria [screen]="'charging'" (setChargingDetails)="getChargingDetails($event)" (ResetChargingDetails)="ResetFilter()"
    [refreshShiftDataEvent]="refreshShiftDetails.asObservable()" [Resetbtn]="isResetBtn" [Retrivebtn]="isRetrieveBtn"
    [filterCriteriaDisplay]="isfilterCriteriaScreen" [PlanShiftDisplay]="isPlan_shiftScreen"></app-filter-criteria>
    <div class="card border-0 bg-e57c">
      <p-tabView>
        <p-tabPanel *ngIf="isChargingdetailsScreen" header="Batch Details">
          <div class="card border-0 bg-e57c">
            <div class="card-header bg-primary d-flex">
              <label class="text-white md-text mt-1 mb-0">Charging Details</label>
              <div class="ml-auto" *ngIf="selectedBatch">
                <button type="submit" *ngIf="isChargeBtn" class="btn btn-sm btn-link btn-outline-light text-white p-0 ml-3" (click)="chargeBatch()">Charge</button>
                <button type="button" *ngIf="isDeleteBtn" class="btn btn-sm btn-link btn-outline-light text-white p-0 ml-3" (click)="deleteBatch()">Delete</button>
              </div>
            </div>
            <!-- <div class="card-header bg-primary">
              <label class="text-white md-text mt-1 mb-0">Charging Details</label>
            </div> -->
            <div class="card-body p-0">
              <!-- <div class="d-flex p-2" *ngIf="selectedBatch">
                <div class="ml-auto">
                  <button type="submit" *ngIf="isChargeBtn" class="btn btn-sm btn-primary mr-2" (click)="chargeBatch()">Charge</button>
                  <button type="button" *ngIf="isDeleteBtn" class="btn btn-sm btn-dark" (click)="deleteBatch()">Delete</button>
                </div>
              </div> -->
              <lib-jsw-core [componentType]='viewType.dynamicTable' [columns]='batchColumns' [tableData]='batchList'
                [styleClass]="tableType" [isDeleteAction]="false" [isEditAction]="false" [isMultiDelete]="false"
                [showGlobalFilter]="false" 
                (getRow)="selectedBatchRecord($event)" [tdClass]='tdClass'></lib-jsw-core>
            </div>
          </div>
        </p-tabPanel>
        <p-tabPanel  *ngIf="isDummydetailsScreen" header="Dummy Batch">
          <div class="card border-0 bg-e57c">
            <div class="card-header bg-primary d-flex">
              <label class="text-white md-text mt-1 mb-0">Dummy Batch Details</label>
              <div class="ml-auto" *ngIf="selectedDummyBatch">
                <button type="submit" *ngIf="isdummyAddBtn" class="btn btn-sm btn-link btn-outline-light text-white p-0 ml-3" (click)="addDummyBatch()">Add</button>
              </div>
            </div>
            <!-- <div class="card-header bg-primary">
              <label class="text-white md-text mt-1 mb-0">Dummy Batch Details</label>
            </div> -->
            <div class="card-body p-0">
              <!-- <div class="d-flex p-2" *ngIf="selectedDummyBatch">
                <div class="ml-auto">
                  <button type="submit" *ngIf="isdummyAddBtn" class="btn btn-sm btn-primary" (click)="addDummyBatch()">Add</button>
                </div>
              </div> -->
              <lib-jsw-core [componentType]='viewType.dynamicTable' [columns]='dummyBatchColumns'
                [tableData]='dummyBatchList' [styleClass]="tableType" [isDeleteAction]="false" [isEditAction]="false"
                [isMultiDelete]="false" [showGlobalFilter]="false" 
                (getRow)="selectedDummyBatchRecord($event)" [tdClass]='tdClass'>
              </lib-jsw-core>
            </div>
          </div>
        </p-tabPanel>
      </p-tabView>
    </div>
  </div>
  <div *ngIf="isChargeScreen">
    <div class="charging-seq position-fixed overflow-hidden">
      <ul class="sq-list p-0 position-absolute bottom-0 m-0 float-left">
        <li class="py-1 px-2" *ngFor="let item of chargingSequence"
          [ngClass]="{'dummy': item.dummyBilletYN.toLowerCase() == 'y','gradeChange': item.gradeChanged == true}">
          <!-- [ngClass]="{'dummy': item.dummyBilletYN.toLowerCase() == 'y'}"> -->
          <div class="st-ellipsis" title="SchId-{{item.scheduleId}}, Size-{{item.size}}, Wt-{{item.weight}}, Grade-{{item.grade}}">
            {{item.batchId}}
          </div>
          <!-- {{item.batchId}} , item.size, item.weight, item.grade -->
        </li>
      </ul>
      <div class="sq-title h-100 float-right text-white">
        <div class="top position-absolute">Discharging</div>
        <div class="bottom position-absolute">Charging</div>
      </div>
    </div>
  </div>

</div>
<p-confirmDialog [style]="{width: '30vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text">
</p-confirmDialog>
