<div class="card border-0 bg-e57c">
  <div class="card-header bg-primary d-flex">
    <label class="text-white md-text mt-1 mb-0">Caster Schedule List</label>
    
    <div class="ml-auto" *ngIf="isSaveBtn" >
      
      <button type="button" class="btn btn-sm btn-link btn-outline-light text-white p-0 ml-3" (click)="saveCasterScheduleList()" [disabled]="disableSchActions">
        <i class="fa fa-save ml-1 mr-2" data-toggle="tooltip" data-placement="top"
            title="Save"></i>
            <span class="mr-2">
              Save
            </span></button>
    </div>
  </div>

  <div class="card-body p-0">
    <div class="row">
      <div class="col-12">
        <p-table #dt [columns]="columns" [value]="scheduleList" styleClass="{{tableType}}" [scrollable]="true"  [style]="{width:'100%'}" scrollHeight="500px"
         [paginator]="true" [rows]="10" [(selection)]="selectedRecords" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
         [rowsPerPageOptions]="[10,25,50]" >
          <!-- <ng-template pTemplate="caption" *ngIf="isSaveBtn">
            <div class="d-flex p-2">
              <div class="ml-auto">
                <button type="button" class="btn btn-sm btn-primary" (click)="saveCasterScheduleList()" [disabled]="disableSchActions">Save</button>
              </div>
            </div>
          </ng-template> -->
          <ng-template pTemplate="colgroup" let-columns>
              <colgroup>
                <col *ngFor="let col of columns" [ngStyle]="{ 'width': col.width }">
              </colgroup>
          </ng-template>
          <ng-template pTemplate="header" let-columns>
              <tr>
                  <th *ngFor="let col of columns" [pSortableColumn]="col.field" [ngSwitch]="col.columnType">
                    <ng-container *ngSwitchCase="columnType.checkbox">
                      <p-tableHeaderCheckbox (click)="getSelectedSchList()" [disabled]="disableSchActions || isReleasedOrder()"></p-tableHeaderCheckbox>
                    </ng-container>
                    <ng-container *ngSwitchDefault>
                      {{col.header}}
                      <span *ngIf="col.sortFieldName"><p-sortIcon  [field]="col.sortFieldName"></p-sortIcon></span>
                    </ng-container>
                  </th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-columns="columns" let-rowData let-ri="rowIndex">
              <tr>
                  <td *ngFor="let col of columns" [ngSwitch]="col.field" class="height-max-content pt-0 pb-0">
                    <ng-container *ngSwitchCase="'checkbox'">
                      <p-tableCheckbox [value]="rowData" (click)="getSelectedSchList()" [disabled]="disableSchActions || rowData.schdStatus == smsStatus.Release_to_SMS"></p-tableCheckbox>
                    </ng-container>
                    <ng-container *ngSwitchCase="'productLength'">
                      <input type="number" name="prodLen" class="w-100" pInputText [(ngModel)]="rowData[col.field]" (change)="onProdLenChange(rowData)"
                       #prodLength="ngModel" required [disabled]="disableSchActions || rowData.schdStatus == smsStatus.Release_to_SMS"/>
                       <div *ngIf="rowData.productLength && validationFlags.cutLengthEnabled && (rowData.productLength < rowData.cutLengthMin || rowData.productLength > rowData.cutLengthMax)" class="p-invalid mt-1 font-13">
                         Please enter product length in the range of {{rowData.cutLengthMin}}-{{rowData.cutLengthMax}}
                       </div>
                       <div *ngIf="submitted && prodLength.errors?.required" class="p-invalid mt-1 font-13">Please enter product length</div>
                      </ng-container>
                    <ng-container *ngSwitchCase="'heatQty'">
                      <input type="number" name="heatQty" class="w-100" pInputText [(ngModel)]="rowData[col.field]" (change)="onHeatQtyChange(rowData)"
                      #heatQty="ngModel" required [disabled]="disableSchActions || rowData.schdStatus == smsStatus.Release_to_SMS"/>
                      <!-- <p-inputNumber class="w-100" name="heatQty_{{ri}}" [(ngModel)]="rowData[col.field]" mode="decimal" inputId="heatQty_{{ri}}" (change)="onHeatQtyChange(rowData)"></p-inputNumber> -->
                      <div *ngIf="submitted && heatQty.errors?.required" class="p-invalid mt-1 font-13">Please enter Heat Qty</div>
                      <div *ngIf="submitted && rowData['heatQty'] <= 0" class="p-invalid mt-1 font-13">Heat Qty should not be 0</div>
                    </ng-container>
                    <ng-container *ngSwitchCase="'scheduleQty'">
                      <input type="number" name="scheduleQty" class="w-100" pInputText [(ngModel)]="rowData[col.field]" (change)="onSchQtyChange(rowData)"
                      #scheduleQty="ngModel" required [disabled]="disableSchActions || rowData.schdStatus == smsStatus.Release_to_SMS"/>
                      <div *ngIf="(rowData.scheduleQty > (rowData.btc + rowData.originalSchQty)) && (rowData.schdStatus != smsStatus.Release_to_SMS)" class="p-invalid mt-1 font-13">Schedule Qty should not be greater than BTC</div>
                      <div *ngIf="submitted && scheduleQty.errors?.required" class="p-invalid mt-1 font-13">Please enter Schedule Qty</div>
                      <div *ngIf="submitted && rowData['scheduleQty'] <= 0" class="p-invalid mt-1 font-13">Schedule Qty should not be 0</div>
                    </ng-container>
                    <ng-container *ngSwitchCase="'schedulePcs'">
                      <input type="number" name="schedulePcs" class="w-100" pInputText [(ngModel)]="rowData[col.field]" (change)="onSchPcsChange(rowData)"
                      #schedulePcs="ngModel" required [disabled]="disableSchActions || rowData.schdStatus == smsStatus.Release_to_SMS"/>
                      <div *ngIf="submitted && schedulePcs.errors?.required" class="p-invalid mt-1 font-13">Please enter Schedule Pcs</div>
                    </ng-container>
                    <ng-container *ngSwitchCase="'isFlyRequired'">
                      <p-dropdown id="isFlyRequired" name="isFlyRequired" inputId="isFlyRequired" [autoDisplayFirst]="false" [options]="flyRequired" [(ngModel)]="rowData[col.field]"
                      #isFlyRequired="ngModel" [style]="{'width':'100%'}" optionLabel="displayName" appendTo="body" optionValue="modelValue" [required]="true"
                      [disabled]="disableSchActions || rowData.schdStatus == smsStatus.Release_to_SMS">
                      </p-dropdown>
                      <div *ngIf="submitted && isFlyRequired.errors?.required" class="p-invalid mt-1 font-13">Please select fly required status</div>
                    </ng-container>
                    <ng-container *ngSwitchCase="'flyRemarks'">
                      <p-dropdown id="flyRemark" name="flyRemark" inputId="flyRemark" [autoDisplayFirst]="false" [options]="flyRemarks" [(ngModel)]="rowData[col.field]"
                      #flyRemark="ngModel" [style]="{'width':'100%'}" optionLabel="displayName" appendTo="body" optionValue="modelValue" [required]="rowData.isFlyRequired.toUpperCase() == 'Y'"
                      [disabled]="disableSchActions || rowData.schdStatus == smsStatus.Release_to_SMS || rowData.isFlyRequired.toUpperCase() == 'N'">
                      </p-dropdown>
                      <!-- <pre>isFlyRequired - {{rowData.isFlyRequired}}</pre> -->
                      <div *ngIf="submitted && flyRemark.errors?.required" class="p-invalid mt-1 font-13">Please select remark</div>
                    </ng-container>
                    <ng-container *ngSwitchCase="'oncePieceWeight'">
                      {{ rowData[col.field] }}
                      <div *ngIf="rowData.oncePieceWeight && validationFlags.onePieceWtEnabled && (rowData.oncePieceWeight < rowData.productWeightMin || rowData.oncePieceWeight > rowData.productWeightMax)" class="p-invalid mt-1 font-13">
                        One piece weight should be in the range of {{rowData.productWeightMin}}-{{rowData.productWeightMax}}
                      </div>
                    </ng-container>
                    <ng-container *ngSwitchCase="'customer'">
                      <!-- <span class="text-primary" pTooltip="{{rowData[col.field]}}" tooltipPosition="top">{{rowData[col.field] ? (rowData[col.field] | wordTruncate) : ''}}</span> -->
                      <div class="st-ellipsis" title="{{rowData[col.field]}}">
                        {{rowData[col.field]}}
                      </div>
                    </ng-container>
                    <ng-container *ngSwitchDefault>
                        {{ ((col.columnType == columnType.date) ? (rowData[col.field] | date : "short") :  rowData[col.field]) }}
                    </ng-container>
                  </td>
              </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage" let-columns>
            <tr>
                <td [attr.colspan]="columns.length">
                    No records found
                </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>
