/* @import url("assets/css/dev.css"); */
/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap');
@import "assets/css/dev.css";
@import "assets/css/theme.css";
body{font-family: 'Nunito', sans-serif;font-size: 0.75rem;}
:focus, .p-focus{box-shadow: none !important;}

/*bootsrap 4.x wrapper css*/
.pointer-events-none{pointer-events:none}
.font-8{font-size:0.5rem;}
.font-10{font-size:0.625rem;}
.font-11{font-size:0.6875rem;}
.font-12{font-size:0.75rem}
.font-13{font-size:0.8215rem !important;}
.font-14{font-size:0.875rem;}
.font-16{font-size:1rem;}
.font-18{font-size:1.125rem !important}
.font-20{font-size:1.25rem !important}
.font-24{font-size:1.5rem}
.font-30{font-size:1.875rem}
.font-32{font-size:2rem}
.font-42{font-size:2.625rem}
.font-48{font-size: 3rem;}
.font-60{font-size: 3.75rem;}
.font-72{font-size: 4.5rem;}
.ln-24{line-height:1.5rem;}
.ln-20{line-height:1.25rem;}
.ln-40{line-height:2.5rem;}
.ln-52{line-height:3.25rem;}
.ln-60{line-height:3.75rem;}
.ln-16{line-height:1rem;}
.ln-normal{line-height:normal;}
.fw-400{font-weight:400}
.fw-300{font-weight:300}
.rounded-10{border-radius:10px!important;}
.rounded-15{border-radius:15px!important;}
.rounded-25{border-radius:25px!important;}
.mb-2rem{margin-bottom:2rem !important;}
.mt-5rem{margin-top:5rem !important;}
.mt-4rem{margin-top:4rem !important;}
.mr-10p{margin-right: 10px;}

.mt-80p{margin-top: 80px;}
.cursor-pointer{cursor: pointer;}
.right-0{right:0!important;}
.right-15{right:15px!important;}
.left-0{left:0!important;}
.left-15{left: 15px !important;}
.bottom-0{bottom:0 !important;}
.bottom-15{bottom:15px !important;}
.top-0{top: 0;}
.top-15{top: 15px;}
.top-10{top: 10px;}
.min-height-150{min-height:150px;}
.min-height-250{min-height:250px;}
.min-height-400{min-height:400px;}
.min-height-700{min-height:700px;}
.width-max-content{width: max-content;}
.height-max-content{height: max-content;}
.rounded-top-10{border-top-left-radius: 10px!important;border-top-right-radius: 10px!important;}
.disable-resize{resize:none}
.asterisk:after{content:'*';color:#ff0000;position:absolute;padding-left:3px;}
.input-group.rounded-pill .form-control{border-radius:0 100rem 100rem 0}
.input-group.rounded-pill .input-group-text{border-radius:100rem 0 0 100rem}
.height-60{height: 60px;}
.height-42{height: 42px;}
.h-w-42{height: 42px;width: 42px;}
.height-72{height: 72px !important;}
.height-120{height: 120px;}
.height-140{height: 140px;}
.h-w-120{height: 120px;width: 120px;}
.height-36{height: 36px;}
.height-22{height: 22px;}
.height-24{height: 24px;}
.square-60{height: 60px;width: 60px;}
a, a:hover{text-decoration: none;}
.pr-6{padding-right: 4rem !important;}
.overlay{position: absolute; width: 100%;height: 100%;background-color: rgba(0,0,0,0.5);top: 0; left: 0;}
.white-overlay{   background-color: rgba(255,255,255,0.9); z-index: 999;}
.bg-black{background-color: #111;}
.hide-dropdown-caret::after{display: none;}
.z-index-9{z-index: 9;}
.disabled-click{pointer-events:none;}
.border-left-e5{border-left: 1px solid #e5e5e5;}
.border-color-e5{border-color: #e5e5e5;}
.border-color-e{border-color: #eee !important;}
.text-orange{color: #FFA500;}
.disabled-alpha{opacity: 0.4;  pointer-events: none;}
.text-grey, .text-grey:hover{color: #616161;}
.text-underline{text-decoration: underline;}
.bg-f1{background-color: #F1F1F1;}
.bg-e57c{background-color:#E5E7EC }
.w-150p{width: 150px;}
/*for autofilled bg color*/
input, input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {transition: background-color 5000s ease-in-out 0s;}

::placeholder {
  color: #bbb !important;
  opacity: 1 !important; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: #bbb !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: #bbb !important;
}

.w-400p{width: 400px;}
.w-600p{width: 600px;}

/*bootsrap 4.x wrapper css*/


/*scrollbar*/
.sidebar.toggled .nav-item .collapse .collapse-inner::-webkit-scrollbar,
.p-datatable-scrollable-body::-webkit-scrollbar, .p-dialog .p-dialog-content::-webkit-scrollbar,
.sq-list::-webkit-scrollbar
{width: 6px;height: 6px;}

.p-datatable-scrollable-body::-webkit-scrollbar
{width: 16px;height: 15px;}

.sidebar.toggled .nav-item .collapse .collapse-inner::-webkit-scrollbar-track,
.p-datatable-scrollable-body::-webkit-scrollbar-track, .p-dialog .p-dialog-content::-webkit-scrollbar-track,
.sq-list::-webkit-scrollbar-track
{background:#E5E5E5;position: absolute;right: 0;border-radius: 0px;}

.sidebar.toggled .nav-item .collapse .collapse-inner::-webkit-scrollbar-thumb,
.p-datatable-scrollable-body::-webkit-scrollbar-thumb, .p-dialog .p-dialog-content::-webkit-scrollbar-thumb,
.sq-list::-webkit-scrollbar-thumb
{background:#4064CE;border-radius: 10px;}

.sidebar.toggled .nav-item .collapse .collapse-inner::-webkit-scrollbar-thumb:hover,
.p-datatable-scrollable-body::-webkit-scrollbar-thumb:hover, .p-dialog .p-dialog-content::-webkit-scrollbar-thumb:hover,
.sq-list::-webkit-scrollbar-thumb:hover
{background: #4064CE; }



/*scrollbar end*/


.btn{padding-left:20px;padding-right: 20px ;}
.btn-dark{background-color: #616161; border-color: #666;}
.btn-dark:hover{background-color: #515151; border-color: #555;}
.btn-dark:focus{background-color: #313131; border-color: #333;}
.btn-sm, .btn-group-sm > .btn{padding-top: 0.20rem; padding-bottom:0.20rem}
.btn-xs{    padding-top: 0.1rem;  padding-bottom: 0.1rem;  font-size: 0.75rem;  padding-left: 0.75rem;  padding-right: 0.75rem;}

 .sm-h, .sm-hw {height: 80px !important;}
 .md-w, .md-hw {width: 100px !important;}
 .xxs-w, .xxs-hw {width: 40px !important;}
 .w-60p{width: 60px;}
 .w-30p{width: 30px;}
 /* .xs-text {font-size: 14px !important;}
 .xxs-text {font-size: 12px !important;}
 .overflow-auto {overflow: auto;} */
 .cursor-pointer{cursor: pointer;}
 /* .xxxs-h, .xxxs-hw {height: 25px !important;} */
.bg-white-active{background-color: rgba(255,255,255,0.2);}
/* .bg-white-active i, .bg-white-active span{color: #4E73DF !important;} */
.top-0 {top:0 !important;}
.left-auto {left:auto !important;}
.left-0 {left:0 !important;}
.right-0 {right:0 !important;}



.lds-ring div {
  box-sizing: border-box;
  border: 5px solid var(--warning);
  animation: lds-ring 1.0s cubic-bezier(0.4, 0.1, 0.4, 1) infinite;
  border-color: var(--warning) transparent transparent transparent;
}

.lds-ring div:nth-child(1) {animation-delay: -0.30s;}
.lds-ring div:nth-child(2) {animation-delay: -0.20s;}
.lds-ring div:nth-child(3) {animation-delay: -0.10s;}
@keyframes lds-ring {0% {transform: rotate(0deg);}100% {transform: rotate(360deg);}}

.icon-md {
  font-size: 30px !important;
}

/* ********************************** Sidebar CSS ******************************** */
.h-100vh {height: 100vh;}
.border-left-5{border-left: 5px solid;}
.sidebar-top {width: 4rem;transition: all 0.3s ease-out 0s}
#wrapper, .sidebar .nav-item .nav-link, .sidebar, .sidebar li, .sidebar li i{transition: all 0.3s ease-out 0s}
.sidebar-top.sm-open { width: 14rem !important; }
#wrapper.sm-open{ margin-left: 14rem; width: calc(100% - 14rem) !important;}
.sidebar-top.sm-close .hamburger{text-align: center !important;}
#wrapper.sm-close{ margin-left: 4rem; width: calc(100% - 4rem) !important;}

.sidebar {
  width: 14rem !important;
}

.sidebar::-webkit-scrollbar{
  width: 0px !important;
}

.sidebar .nav-item .collapsing{
  display: none;
  transition: none;
  display: block;
  transition: height 0.15s ease;
  width: 100%;
}

/* .sidebar .nav-item .collapsing .collapse-inner{
  min-width: 10rem;
  box-shadow: none;

} */

.sidebar .nav-item .collapse{
  position: relative;
  left: 0;
  z-index: 1;
  top: 0;
  -webkit-animation: none;
  animation: none;

}

/* .sidebar .nav-item .collapse .collapse-inner{
  min-width: 10rem;
  box-shadow: none;


} */

.sidebar .nav-item .nav-link{
  display: block;
  text-align: left;
  padding: 0.8rem 1rem;
  width: 100%;
}

.sidebar .nav-item .nav-link i{
  font-size: 1rem;
	margin-right: 0.75rem;
}

.sidebar .nav-item .nav-link span{
  font-size: 1rem;
	display: inline;
}

.sidebar.toggled{
  width: 4rem !important;
}

.sidebar.toggled .nav-item .collapse{

  position: fixed;
  width: 15rem;
  /* height: calc(100% - 59px); */
  top: 75px;
  left: 5.5rem;
  -webkit-animation-name: growIn;
  animation-name: growIn;
  -webkit-animation-duration: 200ms;
  animation-duration: 200ms;
  -webkit-animation-timing-function: transform cubic-bezier(0.18, 1.25, 0.4, 1), opacity cubic-bezier(0, 1, 0.4, 1);
  animation-timing-function: transform cubic-bezier(0.18, 1.25, 0.4, 1), opacity cubic-bezier(0, 1, 0.4, 1);
}

.sidebar.toggled .nav-item .collapse::before{
  content: '';
  position: absolute;
  top: -30px;
  bottom: -30px;
  left: -10px;
  right: -30px;
  z-index: -1;
}



.sidebar.toggled .nav-item .collapsing{
  display: none;
  transition: none;
  margin: 0;
}

.sidebar.toggled .nav-item:last-child{
  margin-bottom: 1rem;
}

.sidebar.toggled .nav-item .nav-link{
  text-align: center;
 padding: 0.8rem 0;
}

.sidebar.toggled .nav-item .nav-link > i{
  margin-right: 0;
}

.sidebar.toggled .nav-item .nav-link > span{
  font-size: 0.65rem;
  display: block;
}
.sidebar .sub-title {display: none;}
.sidebar .nav-item .collapse-inner a.collapse-item{
padding: 0.5rem 1rem;
}
.sidebar.toggled .nav-item .collapse .collapse-inner{
   box-shadow: 0 0.1rem 0.5rem 0 rgba(0, 0, 0, 0.15);
  /* background-color: #F1F1F1 !important; */
  background-color: #fff !important;
  overflow: auto;
  border-radius: 5px;
  max-height: calc(100vh - 90px);

}
.sidebar.toggled .sub-title {display: block;}

.sidebar.toggled .nav-item .collapse .collapse-inner a.collapse-item{
border-top: 1px solid #e5e5e5;
padding: 0.75rem 1.5rem;
}
/* .sidebar.toggled .nav-item .collapse .collapse-inner a.collapse-item:last-child{border-bottom: 1px solid #ddd;} */
.sidebar.toggled .nav-item .collapse .collapse-inner a.collapse-item.active{background-color: #fff;}



/* ********************************** End of Sidebar CSS *********************************/

/* common-loader-style................. */
.loadingMessage {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  margin: -75px 0 0 -75px;
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #4E73DF;
  width: 80px;
  height: 80px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }


  100% {
    transform: rotate(360deg);
  }
}

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

 #loader-overlay {
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     position: fixed;
     z-index: 12000;
     display: block;
     padding: 15px 0 15px 45px;
     background-color: #666666;
     border-radius: 3px 3px 3px 3px;
     box-shadow: 0 1px 3px rgba(0, 0, 0, 0.075);
     opacity: 0.8;
 }
 /* end of common-loader-style */

/* no drop cursor for disabled buttons */
.btn.disabled, .btn:disabled {
  cursor: no-drop;
}

.disabled {
  cursor: not-allowed;
}


.w-100 .p-dropdown, .w-100 .p-calendar, .w-100 .p-inputtext, .w-100 .p-inputnumber, .w-100 .p-multiselect{width: 100% !important;}

/*overwritting prime ng css*/
.card-header{padding: 0.5rem 1rem;}
.p-dropdown, .p-calendar, .p-multiselect{height: 30px;}
.p-float-label label{top: 1.15rem;}
.p-inputtext, .p-multiselect-label{padding: 0.3rem 0.5rem !important;font-size: 0.75rem;height: 30px;}
.p-component{font-size: 0.75rem;}
.p-input-icon-left>i, .p-input-icon-right>i{    margin-top: -.35rem;}

.p-float-label input:focus ~ label, .p-float-label input.p-filled ~ label, .p-float-label textarea:focus ~ label, .p-float-label textarea.p-filled ~ label, .p-float-label .p-inputwrapper-focus ~ label, .p-float-label .p-inputwrapper-filled ~ label
{top: -0.15rem;font-size: 9px;}

.p-float-label > label{color: #616161;}

/*prime ng table css overwrite */
.p-datatable .p-datatable-thead > tr > th {  background-color: #B2B2B2;  color: #ffffff;  padding:0.4rem 0.75rem}
.p-datatable .p-datatable-tbody > tr > td{padding: 0.4rem 0.75rem;}
.p-datatable-scrollable-body{border: 1px solid #eee;  box-sizing: border-box;min-height: 150px;background-color: #fff;}
.p-datatable.p-datatable-gridlines .p-paginator-bottom{background-color: #B2B2B2;border-radius: 0 0 5px 5px;}
.p-paginator .p-paginator-current, .p-paginator-element{color: #fff !important;}
.p-paginator .p-paginator-pages .p-paginator-page.p-highlight{background-color: #4E73DF !important;}

.p-datatable .p-sortable-column:not(.p-highlight):hover, .p-datatable .p-sortable-column.p-highlight{background-color: #aaa !important;color: #fff !important;}

.p-datatable .p-sortable-column .p-sortable-column-icon,
.p-datatable .p-sortable-column.p-highlight .p-sortable-column-icon{color: #fff !important;font-size: 12px;}
.p-datatable p-sorticon{float: right;}
.p-datatable .p-column-filter-menu-button{height: 1.5rem;width: 1.5rem;}

/*dialog*/
.full-height-dialog .p-dialog-content{height: calc(100vh - 200px);}

.p-dialog .p-dialog-header, .p-dialog .p-dialog-content, .p-dialog .p-dialog-footer{background-color: #F1F1F1;}

/*tab*/
.transparent-tab .p-tabmenu .p-tabmenu-nav{background-color: transparent;}
.transparent-tab .p-tabmenu .p-tabmenu-nav .p-tabmenuitem, .p-menuitem-link,
.transparent-tab .p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .p-menuitem-link{background-color: transparent !important;}
.mb-3 .p-tabmenu{margin-bottom: 1rem;}

.p-tree{border: none;border-radius: 0.2rem !important;}
/* .three-col-tree ul > p-treenode >  li{float: left;width: 33.33%;} */
/* .three-col-tree ul > p-treenode >  li.p-treenode-leaf{float: none;width: 100%;} */

.three-col-tree ul > p-treenode{float: left;width: 33.33%;}

.three-col-tree ul > p-treenode p-treenode{float: none;width: 100%;}
/* .p-tree .p-tree-container .p-treenode .p-treenode-content .p-checkbox .p-indeterminate .p-checkbox-icon{color: #fff;} */



/* hperlink css for dynamic table */
.hyper-link{
  text-decoration: underline;cursor: pointer;
}

/***/
.p-datepicker{z-index:10000 !important;}
.p-dropdown-panel{z-index: 99999;}
.p-inputtext:disabled{border-color: #ced4da !important;background-color: #aaa;;}
.p-disabled, .p-disabled *{background-color: #aaa;}


.p-datatable .p-datatable-header{padding: 0;}


.p-paginator .p-paginator-pages .p-paginator-page {    min-width: 1.5rem;
  height: 1.5rem;}
  .p-paginator .p-dropdown{height: 1.5rem;}
  .p-paginator .p-dropdown .p-inputtext{height: 1.5rem;font-size: 00.75rem;padding: 0.1rem 0.25rem !important; }

  .col-p-10 [class*="col-"] {
    padding-left:10px ;padding-right: 10px;
}

.content-charging{width: calc(100% - 160px);}

.charging-seq{width: 145px;background-color: #F1F1F1;border-radius: 5px; top: 75px; right: 15px;height: calc(100% - 90px);}
.sq-list{width: calc(100% - 32px);max-height: 100%;overflow: auto;}
.sq-title {width: 32px;background-color: #4D4D4D; /* For browsers that do not support gradients */ background-image: linear-gradient(#999999, #4D4D4D);}
.sq-list li{display: block;border-top: 1px solid #999999;background-color: #FBF543;color: #616161;}
/* .sq-list li:first-child{border-top: none;} */
.sq-list li.dummy{background-color: #FF4747;color: #fff;}
.sq-list li.gradeChange{background-color: #3edbf7;color: #fff;}
.sq-title .top, .sq-title .bottom{ -ms-transform: rotate(270deg); /* IE 9 */  transform: rotate(270deg);}

.sq-title .top{top: 40px;  right: -21px;}
.sq-title .bottom{bottom: 30px; right: -13px;}

.table-lg  .p-datatable .p-datatable-tbody > tr > td{padding: 0.8rem 1rem}
.table-height-200 .p-datatable-scrollable-body, .table-height-300 .p-datatable-scrollable-body {height: 200px;  min-height: auto;}
.table-height-300 .p-datatable-scrollable-body{height: 300px;}

.p-calendar .p-datepicker{z-index: 9999 !important;}
.date-w-375 .p-datepicker{width: 375px !important;}

.p-tabview-panels{padding-left: 0 !important;padding-right: 0 !important;}


.content-mechpro{width: calc(100% - 245px);}
.content-mechpro-right{width: 230px;
  background-color: #F1F1F1;
  border-radius: 5px;
  padding: 12px;;
 }

 .content-mechpro-right .p-datatable .p-datatable-tfoot > tr > td{background-color: #fff;font-weight: normal;}








/** new gird added for large desktop*/
@media (min-width: 1400px) {
  .col-xxl-12, .col-xxl-11, .col-xxl-10, .col-xxl-9, .col-xxl-8, .col-xxl-7, .col-xxl-6, .col-xxl-5, .col-xxl-4, .col-xxl-3, .col-xxl-2, .col-xxl-1{position: relative;	padding-right: 15px;	padding-left: 15px;	width:100%;}
  .col-xxl-11{flex: 0 0 91.666667%;max-width: 91.666667%;}
  .col-xxl-10{flex: 0 0 83.333333%;max-width: 83.333333%;}
  .col-xxl-9{flex: 0 0 75%;max-width: 75%;}
  .col-xxl-8{flex: 0 0 66.666667%;max-width: 66.666667%;}
  .col-xxl-7{flex: 0 0 58.333333%;max-width: 58.333333%;}
  .col-xxl-6{flex: 0 0 50%;max-width: 50%;}
  .col-xxl-5{flex: 0 0 41.666667%;max-width: 41.666667%;}
  .col-xxl-4{flex: 0 0 33.333333%;max-width: 33.333333%;}
  .col-xxl-3{flex: 0 0 25%;max-width: 25%;}
  .col-xxl-2{flex: 0 0 16.666667%;max-width: 16.666667%;}
  .col-xxl-1{flex: 0 0 8.333333%;max-width: 8.333333%;}
 }


 /* required field css */
 .required:after {
  content:" *";
  color: red;
 }

 .btn-link :hover {
  color: blue;
}
  

