<div class="content pt-3 pb-3" #target>
  <!-- <h4 class="font-20 font-weight-bold text-grey mt-1 mb-3 " #target>Sequence Change</h4> -->
  <p-accordion *ngIf="isFilterCrtSec">
    <p-accordionTab header="Filter Criteria" class="card-title font-12 text-grey mb-0 bg-f1"
      [selected]="true">
      <div class="card bg-f1 border-0 p-0">
        <div class="card-body pt-0 pb-2">
          <form #actionForm="ngForm" class="mt-3">
            <div class="row mb-2">
              <div class="mb-3 mb-md-0 col-12 col-md-4 col-lg-3 col-xl-2">
                <div class="p-float-label w-100">
                  <p-dropdown id="unitId" inputId="unitId" [autoDisplayFirst]="false" [options]="unitList"
                    [(ngModel)]="selectedUnit" #unit="ngModel" optionLabel="wcDesc" appendTo="body" optionValue="wcName"
                    [filter]="true" filterBy="wcDesc" [showClear]="true" [required]="true"
                    [ngModelOptions]="{standalone: true}" [autoZIndex]="false">
                    <ng-template let-selectedOption pTemplate="item">
                      <div class="country-item">
                        <div>{{selectedOption.wcDesc}}</div>
                      </div>
                    </ng-template>
                  </p-dropdown>
                  <label>Select Unit</label>
                </div>
              </div>
              <div class="col-12 col-md-4 col-lg-3 col-xl-2" *ngIf="isRetrieveBtn">
                <button type="submit" class="btn btn-sm btn-primary mr-3" (click)="retrive()">Retrieve</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </p-accordionTab>
  </p-accordion>
  <!-- <div class="card bg-f1 border-0 mb-3" *ngIf="isFilterCrtSec">
    <div class="card-body p-3">
      <h6 class="card-title font-weight-bold text-grey mb-3">Filter Criteria</h6>
      <form #actionForm="ngForm">
        <div class="row mb-2">
          <div class="mb-3 mb-md-0 col-12 col-md-4 col-lg-3 col-xl-2">
            <div class="p-float-label w-100">
              <p-dropdown id="unitId" inputId="unitId" [autoDisplayFirst]="false" [options]="unitList"
                [(ngModel)]="selectedUnit" #unit="ngModel" optionLabel="wcDesc" appendTo="body" optionValue="wcName"
                [filter]="true" filterBy="wcDesc" [showClear]="true" [required]="true"
                [ngModelOptions]="{standalone: true}" [autoZIndex]="false">
                <ng-template let-selectedOption pTemplate="item">
                  <div class="country-item">
                    <div>{{selectedOption.wcDesc}}</div>
                  </div>
                </ng-template>
              </p-dropdown>
              <label>Select Unit</label>
            </div>
          </div>
          <div class="col-12 col-md-4 col-lg-3 col-xl-2" *ngIf="isRetrieveBtn">
            <button type="submit" class="btn btn-sm btn-primary mr-3" (click)="retrive()">Retrieve</button>
          </div>
        </div>
      </form>
    </div>
  </div> -->
  <div class="card border-0 bg-e57c mt-3" *ngIf="isListSection">

    <div class="card-header bg-primary d-flex">
      <label class="text-white md-text mt-1 mb-0">Schedule Orders</label>
      <div class="ml-auto" *ngIf="isSaveBtn">
        <button type="submit" class="btn btn-sm btn-link btn-outline-light text-white p-0 ml-3" (click)="updateSequence()"><i
          class="fa fa-save ml-1 mr-2" data-toggle="tooltip" data-placement="top"
          title="Save"></i><span class="mr-2">
            Save
          </span></button>
      </div>
    </div>
    <!-- <div class="card-header bg-primary">
      <label class="text-white md-text mt-1 mb-0">Schedule Orders</label>
    </div> -->
    <div class="card-body p-0">
      <div class="row">
        <div class="col-12">
          <p-table #dt [columns]="columns" [value]="sequenceList" styleClass="{{tableType}}" [scrollable]="true"
            [style]="{ width: '100%' }" scrollWidth="100%" (onRowReorder)="saveReorderedColumns($event)">
            <!-- <ng-template pTemplate="caption" *ngIf="isSaveBtn">
              <div class="d-flex p-2">
                <div class="ml-auto">
                  <button type="submit" class="btn btn-sm btn-primary" (click)="updateSequence()">Save</button>
                </div>
              </div>
            </ng-template> -->
            <ng-template pTemplate="colgroup" let-columns>
              <colgroup>
                <col *ngFor="let col of columns" [ngStyle]="{ 'width': col.width }">
              </colgroup>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th *ngFor="let col of columns" [pSortableColumn]="col.field" [ngSwitch]="col.columnType"
                  pReorderableColumn>
                  <ng-container *ngSwitchCase="columnType.checkbox">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                  </ng-container>
                  <ng-container *ngSwitchDefault>
                    {{col.header}}
                    <span *ngIf="col.sortFieldName">
                      <p-sortIcon [field]="col.sortFieldName"></p-sortIcon>
                    </span>
                  </ng-container>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns" let-index="rowIndex">
              <tr [pReorderableRow]="index" [pReorderableRowDisabled]="rowData.scheduleStatus != 'releas_sms'">
                <td *ngFor="let col of columns" [ngSwitch]="col.field">
                  <ng-container *ngSwitchCase="'sequence'">
                    <i class="pi pi-bars m-2" [pReorderableRowHandle]="index"
                      (change)="saveReorderedColumns($event)"></i>
                  </ng-container>
                  <ng-container *ngSwitchCase="'plannedStartDate'">
                    <div class="p-fluid p-grid p-formgrid ">
                      <div class="p-field w-100 date-w-375 mb-0">
                        <p-calendar [(ngModel)]="rowData[col.field]" [autoZIndex]="true" [yearNavigator]="true"
                          yearRange="2000:2030" dateFormat="mm/dd/yy" [showTime]="true" [monthNavigator]="true"
                          [ngModelOptions]="{standalone: true}" [disabled]="true"></p-calendar>
                      </div>
                    </div>
                  </ng-container>
                  <ng-container *ngSwitchCase="'plannedEndDate'">
                    <div class="p-fluid p-grid p-formgrid">
                      <div class="p-field w-100 date-w-375 mb-0">
                        <p-calendar [(ngModel)]="rowData[col.field]" [autoZIndex]="true" [yearNavigator]="true"
                          yearRange="2000:2030" dateFormat="mm/dd/yy" [showTime]="true" [monthNavigator]="true"
                          [ngModelOptions]="{standalone: true}" [disabled]="true"></p-calendar>
                      </div>
                    </div>
                  </ng-container>
                  <ng-container *ngSwitchDefault>
                    {{rowData[col.field]}}
                  </ng-container>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage" let-columns>
              <tr>
                <td [attr.colspan]="columns.length">
                  No records found
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>
</div>
