<div class="content pt-2 pb-3" #target>
  <div [ngClass]="chargediv">
  <!-- <h4 class="font-20 font-weight-bold text-grey mt-1 mb-3" #target>Discharging Screen</h4> -->
  <!-- <p-accordion>
    <p-accordionTab header="" class="card-title font-12 text-grey mb-0 bg-f1"
      [selected]="true">
      <div class="card border-0 p-0">
        <div class="card-body p-1">
          <app-filter-criteria [screen]="'discharging'" (setDischargingDetails)="setDischargingDetails($event)" [Resetbtn]="isResetBtn" [Retrivebtn]="isRetrieveBtn"
    [refreshShiftDataEvent]="refreshShiftDetails.asObservable()" [filterCriteriaDisplay]="isfilterCriteriaScreen" [PlanShiftDisplay]="isPlan_shiftScreen"></app-filter-criteria>
        </div>
      </div>
    </p-accordionTab>
  </p-accordion> -->
  <app-filter-criteria [screen]="'discharging'" (setDischargingDetails)="setDischargingDetails($event)" [Resetbtn]="isResetBtn" [Retrivebtn]="isRetrieveBtn" (ResetDischargingDetails)="ResetFilter()"
    [refreshShiftDataEvent]="refreshShiftDetails.asObservable()" [filterCriteriaDisplay]="isfilterCriteriaScreen" [PlanShiftDisplay]="isPlan_shiftScreen"></app-filter-criteria>
  <div class="card border-0 bg-e57c mt-1"  *ngIf="isdisChargingdetailsScreen">
    <div class="row">
      <div class="col-12">
        <div class="card border-0 bg-e57c">
          <div class="card-header bg-primary d-flex">
            <label class="text-white md-text mt-1 mb-0">Discharging Details</label>
            <div class="ml-auto" >
              <button type="button" class="btn btn-sm btn-link btn-outline-light text-white p-0 ml-3" *ngIf="isSaveBtn" (click)='updateToDischarge()'><i
                class="fa fa-save ml-1 mr-2" data-toggle="tooltip" data-placement="top"
                title="Save"></i><span class="mr-2">
                  Save
                </span></button>
            </div>
          </div>
          <!-- <div class="card-header bg-primary">
            <label class="text-white md-text mt-1 mb-0">Discharging Details</label>
          </div> -->
          <div class="card-body p-0">
            <!-- <div class="d-flex p-2">
              <div class="ml-auto">
                <button type="button" class="btn btn-sm btn-primary" *ngIf="isSaveBtn" (click)='updateToDischarge()'>Save</button>
              </div>
            </div> -->
            <lib-jsw-core [componentType]='viewType.dynamicTable' [columns]='batchColumns' [tableData]='batchList'
            [styleClass]="tableType" [isDeleteAction]="false"
            [isEditAction]="true" [isMultiDelete]="false" [showGlobalFilter]="false"
            (getRow)="selectedBatchRecord($event)"
             (dropdownEvent)="dropdownChangeEvent($event)" [tdClass]='tdClass'></lib-jsw-core>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="isDischargeScreen">
  <div class="charging-seq position-fixed overflow-hidden" >
    <ul class="sq-list p-0 position-absolute bottom-0 m-0 float-left">
      <li class="py-1 px-2" *ngFor="let item of chargingSequence" [ngClass]="{'dummy': item.dummyBilletYN.toLowerCase() == 'y','gradeChange': item.gradeChanged == true}">
        <!-- [ngClass]="{'dummy': item.dummyBilletYN.toLowerCase() == 'y'}" -->
        <div class="st-ellipsis" title="SchId-{{item.scheduleId}}, Size-{{item.size}}, Wt-{{item.weight}}, Grade-{{item.grade}}">
          {{item.batchId}}
        </div>
        <!-- {{item.batchId}} -->
      </li>
    </ul>
    <div class="sq-title h-100 float-right text-white">
      <div class="top position-absolute">Discharging</div>
      <div class="bottom position-absolute">Charging</div>
    </div>
  </div>
</div>

</div>