<div class="row justify-content-center">
  <div class="col-8 card shadow-sm">
    <div class="row p-5">
      <div class="col-2"></div>
      <div class="col-8">
        <h4 class="mb-3">Change Password</h4>
        <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
          <div class="form-row">
            <div class="form-group required col-12 mb-4">
              <label for="oldPassword">Old Password</label>
              <input type="password" name="oldPassword" formControlName="oldPassword" class="form-control font-nRegular xs-text px-2" />
              <div *ngIf="submitted && formFields.oldPassword.errors">
                <span class="text-danger xs-text" *ngIf="formFields.oldPassword.errors.required">Old Password is required</span>
              </div>
            </div>
            <div class="form-group required col-12 mb-3">
              <label for="newPassword">New Password</label>
              <input type="password" name="newPassword" formControlName="newPassword" class="form-control font-nRegular xs-text px-2" />
              <div *ngIf="submitted && formFields.newPassword.errors">
                <span class="text-danger xs-text" *ngIf="formFields.newPassword.errors.required">New Password is required</span>
              </div>
              <div
                *ngIf="changePasswordForm.controls['newPassword'].value && (changePasswordForm.controls['newPassword'].hasError('required') || changePasswordForm.controls['newPassword'].hasError('minlength'))"
                [ngClass]="changePasswordForm.controls['newPassword'].hasError('required') || changePasswordForm.controls['newPassword'].hasError('minlength')  ? 'text-danger' : 'text-success'">
                <i [ngClass]="changePasswordForm.controls['newPassword'].hasError('required') || changePasswordForm.controls['newPassword'].hasError('minlength')  ? 'far fa-times-circle' : 'fas fa-check-circle'"></i>
                Must have at least 8 characters.
              </div>
              <div
                *ngIf="changePasswordForm.controls['newPassword'].value && (changePasswordForm.controls['newPassword'].hasError('required') || changePasswordForm.controls['newPassword'].hasError('hasNumber'))"
                [ngClass]="changePasswordForm.controls['newPassword'].hasError('required') || changePasswordForm.controls['newPassword'].hasError('hasNumber')  ? 'text-danger' : 'text-success'">
                <i
                  [ngClass]="changePasswordForm.controls['newPassword'].hasError('required') || changePasswordForm.controls['newPassword'].hasError('hasNumber') ? 'far fa-times-circle' : 'fas fa-check-circle'"></i>
                Must contain at least 1 Numeric Character.
              </div>
              <div
                *ngIf="changePasswordForm.controls['newPassword'].value && (changePasswordForm.controls['newPassword'].hasError('required') || changePasswordForm.controls['newPassword'].hasError('hasCapitalCase'))"
                [ngClass]="changePasswordForm.controls['newPassword'].hasError('required') || changePasswordForm.controls['newPassword'].hasError('hasCapitalCase')  ? 'text-danger' : 'text-success'">
                <i
                  [ngClass]="changePasswordForm.controls['newPassword'].hasError('required') || changePasswordForm.controls['newPassword'].hasError('hasCapitalCase') ? 'far fa-times-circle' : 'fas fa-check-circle'"></i>
                Must contain at least 1 Alphabet in Capital Case.
              </div>
              <div
                *ngIf="changePasswordForm.controls['newPassword'].value && (changePasswordForm.controls['newPassword'].hasError('required') || changePasswordForm.controls['newPassword'].hasError('hasSmallCase'))"
                [ngClass]="changePasswordForm.controls['newPassword'].hasError('required') || changePasswordForm.controls['newPassword'].hasError('hasSmallCase')  ? 'text-danger' : 'text-success'">
                <i
                  [ngClass]="changePasswordForm.controls['newPassword'].hasError('required') || changePasswordForm.controls['newPassword'].hasError('hasSmallCase') ? 'far fa-times-circle' : 'fas fa-check-circle'"></i>
                Must contain at least 1 Alphabet in Small Case.
              </div>
              <div
                *ngIf="changePasswordForm.controls['newPassword'].value && (changePasswordForm.controls['newPassword'].hasError('required') || changePasswordForm.controls['newPassword'].hasError('hasSpecialCharacters'))"
                [ngClass]="changePasswordForm.controls['newPassword'].hasError('required') || changePasswordForm.controls['newPassword'].hasError('hasSpecialCharacters') ? 'text-danger' : 'text-success'">
                <i
                  [ngClass]="changePasswordForm.controls['newPassword'].hasError('required') || changePasswordForm.controls['newPassword'].hasError('hasSpecialCharacters') ? 'far fa-times-circle' : 'fas fa-check-circle'"></i>
                Must contain at least 1 Special Character (e.g. @,#,$,%,& etc).
              </div>
            </div>
            <div class="form-group required col-12 mb-3">
              <label>Confirm Password</label>
              <input type="password" name="confirmPassword" formControlName="confirmPassword"
                class="form-control font-nRegular xs-text px-2" />
              <div *ngIf="submitted && formFields.confirmPassword.errors">
                <span class="text-danger xs-text" *ngIf="formFields.confirmPassword.errors.required">
                  Confirm Password is required</span>
                <span class="text-danger xs-text" *ngIf="formFields.confirmPassword.errors.mustMatch">
                  Passwords must match</span>
              </div>
            </div>
          </div>
          <div class="text-center">
            <button class="btn btn-sm btn-primary text-uppercase px-4" type="submit">Update</button>
            <!-- [disabled]="changePasswordForm.invalid" -->
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
