<div class="content pt-3 pb-3" #target>

  <!-- <h4 class="font-20 font-weight-bold text-grey mt-1 mb-3" #target>Grade Master</h4> -->
  <p-accordion
    *ngIf="(actionAddNewGrade && sharedService.isSectionVisible(menuConstants.gradeMasterSectionIds.Add_New_Record.id, screenStructure))
  || (actionUpgradeGrade && sharedService.isSectionVisible(menuConstants.gradeMasterSectionIds.Edit_Record.id, screenStructure))">
    <p-accordionTab header="{{actionUpgradeGrade? 'Update Grade': 'Add New Grade'}}"
      class="card-title font-12 text-grey mb-0 bg-f1" [selected]="actionUpgradeGrade">
      <div class="card bg-f1 border-0 p-0">
        <div class="card-body pt-0 pb-2">
          <lib-jsw-core [componentType]='viewType.form' [formData]='formObject' (changeEvent)='getGradeGroup($event)'
            (jswFormEvent)="getFormRef($event)"></lib-jsw-core>
          <div class="text-right">
            <button type="submit" *ngIf='actionAddNewGrade && isAddBtn' class="btn btn-sm btn-primary mr-3"
              (click)='addGrade()'>Add</button>
            <button type="submit" *ngIf='actionUpgradeGrade && isUpdateBtn' class="btn btn-sm btn-primary mr-3"
              (click)='updateGrade()'>Update</button>
            <button type="button" *ngIf='actionAddNewGrade && isResetBtn' class="btn btn-sm btn-dark"
              (click)='sharedService.resetForm(formObject,formRef);reset()'>Reset</button>
            <button type="button" *ngIf='actionUpgradeGrade && isCancelBtn' class="btn btn-sm btn-dark"
              (click)='sharedService.resetForm(formObject,formRef);reset()'>Cancel</button>
          </div>
        </div>
      </div>
    </p-accordionTab>

  </p-accordion>

  <!-- <div class="card bg-f1 border-0 mb-3" *ngIf="(actionAddNewGrade && sharedService.isSectionVisible(menuConstants.gradeMasterSectionIds.Add_New_Record.id, screenStructure))
  || (actionUpgradeGrade && sharedService.isSectionVisible(menuConstants.gradeMasterSectionIds.Edit_Record.id, screenStructure))">
    <div class="card-body p-3">
      <h6 *ngIf='actionAddNewGrade && sharedService.isSectionVisible(menuConstants.gradeMasterSectionIds.Add_New_Record.id, screenStructure)' class="card-title font-weight-bold text-grey mb-3">Add New Grade</h6>
      <h6 *ngIf='actionUpgradeGrade && sharedService.isSectionVisible(menuConstants.gradeMasterSectionIds.Edit_Record.id, screenStructure)' class="card-title font-weight-bold text-grey mb-3">Update Grade</h6>
      <lib-jsw-core [componentType]='viewType.form' [formData]='formObject' (changeEvent)='getGradeGroup($event)'
      (jswFormEvent)="getFormRef($event)">
      </lib-jsw-core>
      <div class="text-right">
        <button type="submit" *ngIf='actionAddNewGrade && isAddBtn' class="btn btn-sm btn-primary mr-3"
          (click)='addGrade()'>Add</button>
        <button type="submit" *ngIf='actionUpgradeGrade && isUpdateBtn' class="btn btn-sm btn-primary mr-3"
          (click)='updateGrade()'>Update</button>
        <button type="button" *ngIf='actionAddNewGrade && isResetBtn' class="btn btn-sm btn-dark" (click)='sharedService.resetForm(formObject,formRef);reset()'>Reset</button>
        <button type="button" *ngIf='actionUpgradeGrade && isCancelBtn' class="btn btn-sm btn-dark" (click)='sharedService.resetForm(formObject,formRef);reset()'>Cancel</button>
      </div>
    </div>
  </div> -->

  <div class="card border-0 bg-e57c mt-3">
    <div class="card-header bg-primary d-flex">
      <label class="text-white md-text mt-1 mb-0">Grade Master List</label>
      <div class="ml-auto">
        <div class="p-input-icon-right mr-2">
          <i class="fa fa-search"></i>
          <input pInputText type="text" placeholder="Search keyword" (input)="filterTable($event)" />
        </div>
      </div>
    </div>
    <!-- <div class="card-header bg-primary">
      <label class="text-white md-text mt-1 mb-0">Grade Master List</label>
    </div> -->
    <div class="card-body p-0">
      <div class="row">
        <div class="col-12">
          <lib-jsw-core [componentType]='viewType.dynamicTable' [columns]='columns' [tableData]='AllGradeDetails'
            [styleClass]="tableType" (getRow)="getRowDetails($event);sharedService.scroll(gradeDetails)"
            (editEvent)="editRecord($event);sharedService.scroll(target)" (deleteEvent)="deleteUser($event)"
            [isDeleteAction]="false" [isEditAction]="isEditBtn" [isMultiDelete]="false"
            (ptableEvent)="getTableRef($event)"></lib-jsw-core>
        </div>
      </div>
    </div>
  </div>


  <div class="card border-0 bg-e57c ml-3 mt-4" *ngIf='selectedGradeProperties && gradeMenuItems.length'>
    <div class="row">
      <div class="col-12">
        <p-tabMenu [model]="gradeMenuItems" [activeItem]="activeGradeItem" (click)='tabMenuChange($event)'></p-tabMenu>
      </div>
    </div>
  </div>

  <div class="ml-3 mt-4" *ngIf='selectedGradeProperties && gradeMenuItems.length'>
    <div class="row">
      <div class="col-12" *ngIf='activeGradeItem.label == "Grade Chemistry" && dbGradeProps !="undefined"'>
        <app-grade-chemistry *ngIf="isResPonseRecieved" [gradeProperties]='selectedGradeProperties'
          [dbChemProperties]='dbGradeProps'>
        </app-grade-chemistry>
      </div>
      <div class="col-12" *ngIf='activeGradeItem.label == "Mech Property"'>
        <app-mech-property [gradeProperties]='selectedGradeProperties' [dbMechProperties]='dbGradeProps.Mechanical'
          [screenStructure]="screenStructure">
        </app-mech-property>
      </div>
      <div class="col-12" *ngIf='activeGradeItem.label == "Metallurgy Prop"'>
        <app-metallurgy-property [gradeProperties]='selectedGradeProperties'
          [dbMetallurgyProperties]='dbGradeProps.Metallurgy' [screenStructure]="screenStructure">
        </app-metallurgy-property>
      </div>
      <div class="col-12" *ngIf='activeGradeItem.label == "NDT"'>
        <app-ndt-property [gradeProperties]='selectedGradeProperties' [dbNDTProperties]='dbGradeProps.NDT'
          [screenStructure]="screenStructure">
        </app-ndt-property>
      </div>
    </div>
  </div>
  <div #gradeDetails></div>
</div>