<div class="row h-100vh align-items-center" style="background-image: url(assets/images/bg-1.jpg);">
  <app-loader></app-loader>
  <div class="container">
        <router-outlet></router-outlet>
    </div>
</div>
