<div class="content pt-3 pb-3" #target>
  <!-- <h4 class="font-20 font-weight-bold text-grey mt-1 mb-3" #target>Schedule Consumption</h4> -->
  <p-accordion *ngIf="isfilterCriteriaSection">
    <p-accordionTab header="Filter Criteria" class="card-title font-12 text-grey mb-0 bg-f1"
      [selected]="true">
      <div class="card bg-f1 border-0 p-0">
        <div class="card-body pt-0 pb-2">
            <div class="row">
                <div class="col-12 col-md-7 col-xl-4">
                  <lib-jsw-core [componentType]='viewType.form' [formData]='formObject'
                  (changeEvent)="dropdownChangeEvent($event)"></lib-jsw-core>
                </div>
                <div class="col-12 col-md-5 col-xl-4 mt-3">
                    <div class="text-left">
                      <button type="button" class="btn btn-sm btn-primary mr-3" *ngIf="isRetrieveBtn"
                      (click)='getSchdConsumptionDetails()'>Retrieve</button>
                    <button type="button" class="btn btn-sm btn-dark" *ngIf="isResetBtn" (click)="resetForm()">Reset</button>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </p-accordionTab>
  </p-accordion>
  <!-- <div class="card bg-f1 border-0 mb-3" *ngIf="isfilterCriteriaSection">
    <div class="card-body p-3">
      <h6 class="card-title font-weight-bold text-grey mb-3">Filter Criteria</h6>
      <div class="row">
        <div class="col-4">
          <lib-jsw-core [componentType]='viewType.form' [formData]='formObject'
            (changeEvent)="dropdownChangeEvent($event)"></lib-jsw-core>
        </div>
        <div class="col-8 mt-1">
          <div class="text-left">
            <button type="button" class="btn btn-sm btn-primary mr-3" *ngIf="isRetrieveBtn"
              (click)='getSchdConsumptionDetails()'>Retrieve</button>
            <button type="button" class="btn btn-sm btn-dark" *ngIf="isResetBtn" (click)="resetForm()">Reset</button>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <div class="card border-0 bg-e57c mt-2" *ngIf="isbatchstockSection">
    <div class="card-header bg-primary d-flex">
      <label class="text-white md-text mt-1 mb-0">Batch Stock Details</label>
      <div class="ml-auto" >
        <div class="p-input-icon-right mr-2">
          <i class="fa fa-search"></i>
          <input pInputText type="text" placeholder="Search keyword" (input)="filterTable($event)" />
        </div>
        <button *ngIf="isSentTostockBtn" (click)="sentToClick('event')" class="btn btn-sm btn-link btn-outline-light text-white p-0 ml-3">
          <span class="ml-1 mr-2">
            Send to Stock
          </span></button>
        <button *ngIf="isSentToSAPBtn" (click)="SAPToClick('event')" class="btn btn-sm btn-link btn-outline-light text-white p-0 ml-3">
          <span class="ml-1 mr-2">
            Send to SAP
          </span></button>
      </div>
    </div>
    <!-- <div class="card-header bg-primary">
      <label class="text-white md-text mt-1 mb-0">Batch Stock Details</label>
    </div> -->
    <lib-jsw-core [isRefreshBtn]="false" [componentType]='viewType.dynamicTable' [columns]='columns'
      [styleClass]="tableType" [tableData]='BatchStockDetailsList' [isDeleteAction]="false"
      (getRow)="getRowDetails($event)" [isClearSelection]="true" [clearSelectionEvent]="clearSelection.asObservable()"
      [isEditAction]="false" [isMultiDelete]="false" [globalFilterArray]="globalFilterArray" [showGlobalFilter]="false"
      (ptableEvent)="getTableRef($event)" [tdClass]='tdClass'>
    </lib-jsw-core>
  </div>
</div>
