<div class="content pt-3 pb-3" #target>
  <!-- <h4 class="font-20 font-weight-bold text-grey mt-1 mb-3" #target>Gradewise Density Master</h4> -->

  <p-accordion
    *ngIf="sharedService.isSectionVisible(menuConstants.gradeWiseDensityMasterSectionIds.Filter_Criteria.id, screenStructure)">
    <p-accordionTab header="Filter Criteria" class="card-title font-12 text-grey mb-0 bg-f1" [selected]="true">
      <div class="card bg-f1 border-0 p-0">
        <div class="card-body pt-0 pb-2">
          <div class="row">
            <div class="col-12 col-md-7 col-xl-4">
              <lib-jsw-core [componentType]='viewType.form' [formData]='formObject'
                (changeEvent)="dropdownChangeEvent($event)" (jswFormEvent)="getFormRef($event)">
              </lib-jsw-core>
            </div>
            <div class="col-12 col-md-5 col-xl-4 mt-3">
              <button *ngIf="isRetrieveBtn" type="submit" class="btn btn-sm btn-primary mr-3"
                (click)="getFilteredGradewisedensity()">Retrieve</button>
              <button *ngIf="isResetBtn" type="button" class="btn btn-sm btn-dark"
                (click)="resetFilter('resetRetrieveScreen')">Reset</button>
            </div>
          </div>
        </div>
      </div>
    </p-accordionTab>

  </p-accordion>

  <!-- <div class="card bg-f1 border-0 mb-3" *ngIf="sharedService.isSectionVisible(menuConstants.gradeWiseDensityMasterSectionIds.Filter_Criteria.id, screenStructure)">
    <div class="card-body p-3">
      <h6 class="card-title font-weight-bold text-grey mb-3">Filter Criteria</h6>
      <div class="row">
        <div class="col-12 col-md-7 col-xl-4">
          <lib-jsw-core [componentType]='viewType.form' [formData]='formObject'
            (changeEvent)="dropdownChangeEvent($event)" (jswFormEvent)="getFormRef($event)">
          </lib-jsw-core>
        </div>
        <div class="col-12 col-md-5 col-xl-4 mt-1">
          <button *ngIf="isRetrieveBtn" type="submit" class="btn btn-sm btn-primary mr-3" (click)="getFilteredGradewisedensity()">Retrieve</button>
          <button *ngIf="isResetBtn" type="button" class="btn btn-sm btn-dark" (click)="resetFilter('resetRetrieveScreen')">Reset</button>
        </div>
      </div>
    </div>
  </div> -->
  <div class="card border-0 bg-e57c mt-3"
    *ngIf="sharedService.isSectionVisible(menuConstants.gradeWiseDensityMasterSectionIds.List.id, screenStructure)">

    <div class="card-header bg-primary d-flex">
      <label class="text-white md-text mt-1 mb-0">Gradewise Density Master List</label>
      <div class="ml-auto">
        <div class="p-input-icon-right mr-2">
          <i class="fa fa-search"></i>
          <input pInputText type="text" placeholder="Search keyword" (input)="filterTable($event)" />
        </div>

        <button *ngIf="isAddBtn" type="button" class="btn btn-sm btn-link btn-outline-light text-white p-0 ml-3"
          [disabled]="disableAddBtn" (click)="addNewRow()"><i class="fa fa-plus ml-1" data-toggle="tooltip" data-placement="top" title="Add"></i><span class="mr-2"> Add
          </span>
        </button>

      </div>
    </div>

    <!-- <div class="card-header bg-primary">
      <label class="text-white md-text mt-1 mb-0">Gradewise Density Master List</label>
    </div> -->
    <div class="card-body p-0">
      <div class="row">
        <div class="col-12">
          <p-table #dt [value]="gradedensityList" styleClass="{{tableType}}" [scrollable]="true"
            [style]="{width:'100%'}" scrollHeight="500px" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [rowsPerPageOptions]="[10,25,50]" [globalFilterFields]="globalFilterArray" dataKey="srNo" editMode="row">
            <ng-template pTemplate="caption">
              <!-- <div class="d-flex p-2">
                <div class="p-input-icon-right">
                  <i class="fa fa-search"></i>
                  <input pInputText type="text" (input)="filterTable($event)" placeholder="Search keyword" />
                </div>
                <div class="ml-auto" *ngIf="isAddBtn">
                  <button type="button" class="btn btn-sm btn-primary" [disabled]="disableAddBtn" (click)="addNewRow()">Add
                </button>
                </div>
              </div> -->
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th>Work Center</th>
                <th>Product</th>
                <th>Size</th>
                <th>Grade</th>
                <th>Density(Kg/M)</th>
                <th>Casting Speed(Tons/Min)</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-workCenter let-editing="editing" let-ri="rowIndex">
              <tr [pEditableRow]="workCenter">
                <td>
                  <p-cellEditor>
                    <ng-template pTemplate="input">
                      <p-dropdown name="wcName_{{ri}}" [options]="wcNameList" [(ngModel)]="workCenter.wcName"
                        #wcName="ngModel" [style]="{'width':'100%'}" optionLabel="displayName" appendTo="body"
                        optionValue="modelValue" [required]="true" (onChange)="setProductList(workCenter)"
                        placeholder="Select" (ngModelChange)="enableEditMode(workCenter)"
                        [disabled]="workCenter.disabled" [autoDisplayFirst]="false"></p-dropdown>
                      <div *ngIf="workCenter.submitted && wcName.errors?.required" class="p-invalid mt-1 font-13">Please
                        enter WC Name</div>
                    </ng-template>
                    <ng-template pTemplate="output">
                      {{workCenter.wcName}}
                    </ng-template>
                  </p-cellEditor>
                </td>
                <td>
                  <p-cellEditor>
                    <ng-template pTemplate="input">
                      <p-dropdown name="wcName_{{ri}}" [options]="productTypeList" [style]="{'width':'100%'}"
                        appendTo="body" optionValue="modelValue" [(ngModel)]="workCenter.materialDesc"
                        #materialDesc="ngModel" [required]="true" (onChange)="setSizeList(workCenter)"
                        placeholder="Select" [disabled]="workCenter.disabled" [required]="true"
                        optionLabel="displayName" [autoDisplayFirst]="false"></p-dropdown>
                      <div *ngIf="workCenter.submitted && materialDesc.errors?.required" class="p-invalid mt-1 font-13">
                        Please enter Product</div>
                    </ng-template>
                    <ng-template pTemplate="output">
                      {{workCenter.materialDesc}}
                    </ng-template>
                  </p-cellEditor>
                </td>
                <td>
                  <p-cellEditor>
                    <ng-template pTemplate="input">
                      <p-dropdown name="wcName_{{ri}}" [options]="sizeList" [(ngModel)]="workCenter.sizeCode"
                        #sizeCode="ngModel" [style]="{'width':'100%'}" optionLabel="displayName" appendTo="body"
                        placeholder="Select" optionValue="modelValue" [required]="true" [disabled]="workCenter.disabled"
                        [autoDisplayFirst]="false"></p-dropdown>
                      <div *ngIf="workCenter.submitted && sizeCode.errors?.required" class="p-invalid mt-1 font-13">
                        Please
                        enter Size </div>
                    </ng-template>
                    <ng-template pTemplate="output">
                      {{workCenter.sizeCode}}
                    </ng-template>
                  </p-cellEditor>
                </td>
                <td>
                  <p-cellEditor>
                    <ng-template pTemplate="input">
                      <p-dropdown name="gradeName_{{ri}}" [options]="gradeList" [(ngModel)]="workCenter.gradeName"
                        placeholder="Select" #gradeName="ngModel" [style]="{'width':'100%'}" optionLabel="displayName"
                        appendTo="body" [autoDisplayFirst]="false" optionValue="modelValue" [required]="true"
                        [disabled]="workCenter.disabled" [filter]="gradeList && gradeList.length > 5 ? true : false"
                        filterBy="displayName"></p-dropdown>
                      <div *ngIf="workCenter.submitted && gradeName.errors?.required" class="p-invalid mt-1 font-13">
                        Please enter Grade Name</div>
                    </ng-template>
                    <ng-template pTemplate="output">
                      {{workCenter.gradeName}}
                    </ng-template>
                  </p-cellEditor>
                </td>
                <td>
                  <p-cellEditor>
                    <ng-template pTemplate="input">
                      <input class="w-100" pInputText type="text" [pattern]="regEX" name="density_{{ri}}"
                        (change)="setPatternErrStatus(density.errors?.pattern)" [(ngModel)]="workCenter.density"
                        #density="ngModel" required>
                      <div *ngIf="density.errors?.pattern" class="p-invalid mt-1 font-13">Please enter valid number
                      </div>
                      <div *ngIf="workCenter.submitted && density.errors?.required" class="p-invalid mt-1 font-13">
                        Please
                        enter Density</div>
                    </ng-template>
                    <ng-template pTemplate="output">
                      {{workCenter.density}}
                    </ng-template>
                  </p-cellEditor>
                </td>
                <td>
                  <p-cellEditor>
                    <ng-template pTemplate="input">
                      <input class="w-100" pInputText type="text" name="castingSpeed_{{ri}}"
                        [(ngModel)]="workCenter.castingSpeed" #castingSpeed="ngModel" required>
                      <div *ngIf="workCenter.submitted && castingSpeed.errors?.required" class="p-invalid mt-1 font-13">
                        Please enter Casting Speed</div>
                    </ng-template>
                    <ng-template pTemplate="output">
                      {{workCenter.castingSpeed}}
                    </ng-template>
                  </p-cellEditor>
                </td>
                <td>
                  <p-cellEditor>
                    <ng-template pTemplate="input">
                      <p-dropdown name="status_{{ri}}" [options]="statusList" [(ngModel)]="workCenter.status"
                        #status="ngModel" [style]="{'width':'100%'}" optionLabel="valueDescription" appendTo="body"
                        optionValue="valueShortCode" [required]="true"></p-dropdown>
                      <div *ngIf="workCenter.submitted && status.errors?.required" class="p-invalid mt-1 font-13">Please
                        select status</div>
                    </ng-template>
                    <ng-template pTemplate="output">
                      {{workCenter.status}}
                    </ng-template>
                  </p-cellEditor>
                </td>
                <td>
                  <i *ngIf="!editing && isEditBtn" pInitEditableRow class="fas fa-pen cursor-pointer mr-2"
                    (click)="onRowEditInit(workCenter)"></i>
                  <i *ngIf="editing && isSaveBtn" pSaveEditableRow
                    class="fas fa-check cursor-pointer mr-3 p-1 text-success"
                    (click)="onRowEditSave(workCenter, ri)"></i>
                  <i *ngIf="editing && isCloseBtn" pCancelEditableRow
                    class="fas fa-times cursor-pointer p-1 text-danger" (click)="onRowEditCancel(workCenter, ri)"></i>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td [attr.colspan]="8">
                  No records found
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>
</div> <!-- end of first main div-->